<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Homereports.org</title>
        <link href="web/split/css/style.css" rel="stylesheet" type="text/css">
        <link href="web/css/colorbox.css" type="text/css" rel="stylesheet" />
        {% include 'vwo.html.twig'%}
        <script type="text/javascript" src="web/js/jquery.min.js"></script>
        <script type="text/javascript" src="web/js/jquery.colorbox-min.js"></script>
    </head>
    <body>

        <div id="logo"><img title="PropertyStudy.org" alt="PropertyStudy.org" src="split/images/logo.png"></div>
        <div id="mid_sec">
            <div class="wrapper">
                <div class="download-section">
                    <div class="report-text">
                        <h3>Great news, we upgraded your report to our best currently available report for free. Your credit card was NOT charged for the upgrade you selected on the previous page.</h3>
                    </div>
                    <div class="show-btn">
                        <input type="submit" class="unbind_unload" onclick="location.href = '{{ path(options.nextUrl) }}'" value="" title="Show My Report" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="footer_sec">
            <div class="wrapper">
                <div class="footer-section">
                    <div class="footer">
                        <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. PropertyStudy.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </body>
</html>
