<!doctype html>
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <title>Homereports.org</title>
    <meta name="viewport" content="width=1024" />
    <link rel="stylesheet" href="web/upsell_split/css/style.css">
    <link rel="stylesheet" href="web/upsell_split/css/style_upsell2bb.css">

    <!--[if lt IE 9]>

    <![endif]-->
    <!--[if lte IE 8]>

    <![endif]-->

    {% include 'vwo.html.twig'%}

    <script type="text/javascript" src="web/js/jquery.min.js"></script>
  </head>
  <body>
    <div id="uss-wrapper" class="uss-clearfix ">
      <div id="uss-header" class="uss-clearfix">
        <div class="uss-nav-header">
          <a id="logo" href="/" >
            <img src="web/images/logo.png" border="0" height="58" width="451" alt="US Search - Be Informed" title="US Search - Be Informed" class="uss-nav-logo" />
          </a>
          <div id="toprightfold">

          </div
        </div>
      </div>

      <div id="uss-content" class="uss-clearfix">
        <div class="uss-cont-wrpr clearfix">
          <h1 class="uss-hd-main">Upgrade Your Report</h1>
          <h1 class="searchedaddress">{{ app.session.get('searchString') }}</h1>
          <div id="upgradetoday2"></div>
          <div class="uss-product-wrapper  ">
            <div class="uss-product-wrapper-bttm2">
              <form action="" name="uss_radio_form">
                <div class="uss-product-containers">
                  <div class="uss-hd-prod-wrpr">
                    <div class="uss-hd-prod">
                      <span class="uss-spn-pname">Basic Property Report</span>
                      <span class="uss-spn-sname">&nbsp;</span>
                    </div>
                  </div>

                  <div class="uss-cont-prod-content">
                    <div class="uss-prod-details">
                      <p>Get basic property record information on the address you searched.</p>
                      <h4 class="uss-prod-desc-sub-head">Your report includes (if available):</h4>
                      <ul class="uss-prod-detail-list">
                        <li>Basic Property Description</li>
                        <li>Sq. ft of Lot</li>
                        <li>Construction Date</li>
                        <li>School Ratings</li>
                      </ul>
                    </div>

                    <div class="uss-price-options-links">
                      <p class="uss-p-offer-hd"><b>Special Price</b><br>Basic Report</p>
                      <div class="uss-price-details">
                        <span class="uss-price-amount">$1.20</span>
                        <div class="uss-price-txt">
                          <div class="uss-sns-price">
                            <div class="uss-sp-price-cntnr">
                              <div class="star-gray">$3</div>
                            </div>
                          </div>
                        </div>

                        <input type="submit" class="uss-org-btn" value="" />
                      </div>
                      <div class="purchased"></div>
                    </div>
                  </div>
                </div>
              </form> 

              <form action="" method="post" id="uform">
                <div class="uss-product-containers uss-last">
                  <div class="uss-hd-prod-wrpr">
                    <div class="uss-hd-prod" id="thirdheader">
                      <div id="mostpopular"></div>
                      <span class="uss-spn-pname">Property Report Platinum</span>
                      <span class="uss-spn-sname">Upgrade</span>
                    </div>
                  </div>

                  <div class="uss-cont-prod-content">
                    <div class="uss-prod-details">
                      <p>Get detailed property record information on the address you searched, plus exclusive details only found HERE.</p>
                      <div class="uss-prod-desc-float uss-clearfix">
                        <h4 class="uss-prod-desc-sub-head">Your report includes (if available):</h4>
                        <ul class="uss-prod-detail-list" style="width:43%;">
                          <li><a href="#" class="uss-lnk uss-js-mdl-lnk" title="Exact Property Value">Exact Property Value</a></li>
                          <li><a href="#" class="uss-lnk uss-js-mdl-lnk" title="Ownership Records">Ownership Records</a></li>
                          <li><a href="#" class="uss-lnk uss-js-mdl-lnk" title="Current Tax Data">Current Tax Data</a></li>
                          <li>Mortgage Rates</li>
                          <li>Market Trends</li>
                          <li>Local Amenities</li>
                          <li>Local Demographics</li>
                          <li>Marketplace Analytics</li>
                        </ul>
                        <ul class="uss-prod-detail-list" style="width:55%;">
                          <li>Detailed Property Description</li>
                          <li>Sq. ft of Lot</li>
                          <li>Construction Date</li>
                          <li>School Ratings</li>
                          <li>Forclosure History</li>
                          <li>Comparable Sales</li>
                          <li>Sex Offenders in Area</li>
                          <li>Neighborhood Report</li>
                        </ul>
                      </div>
                    </div>

                    <div class="uss-price-options-links">
                      <p class="uss-p-offer-hd"><b>Special Price</b><br>Report Upgrade + Unlimited Access</p>
                      <div class="uss-price-details">
                        <span class="uss-price-amount">$9.95</span>
                        <div class="uss-price-txt">
                          <div class="uss-sns-price">
                            <div class="uss-sp-price-cntnr">
                              <div class="star-light"></div>
                            </div>
                          </div>
                        </div>

                        <input type="submit" class="uss-org-btn1" name="price" value="9.95" />
                      </div>
                      <div class="price-details-gray">Includes unlimited access to property reports plus. This is billed $9.95 monthly.</div>
                    </div>
                    <div class="uss-price-options-bot">
                      <p class="uss-p-offer-hd" style="margin:0 0 8px 0;"><b>Regular Price</b><br>Report Upgrade</p>
                      <div class="uss-price-details2">
                        <div class="uss-price-amount2">$15.95</div>
                        <input type="submit" class="uss-org-btn2" name="price" value="15.95" />
                        <div class="clear"></div>
                      </div>
                      <div class="btn-info2">One time charge of $15.95.</div>
                    </div>

                  </div>
                </div>
              </form>
              <div style="clear:both"></div>
            </div>
          </div>
        </div>

      </div>

      <div id="footer">
        {% if app.session.get('checkout_discount') == true %}
	<a href="{{ url('ebookspecialintro') }}">No thanks, take me to my basic report.</a>
	{% else %}
        <a href="{{ url('specialoffer') }}">No thanks, take me to my basic report.</a>
	{% endif %}
      </div>

    </div>
    <script>
     $(function(){
       {% if app.session.get('referring_page') == 'upsellA.1' %}
       alert("Wait.. get an additional $2 off our upgrades today!");
       {% elseif app.session.get('referring_page') == 'upsellA.2' %}
       alert("Wait.. get an additional $4 off our upgrades today!");
       {% endif %}
     });
     var submitted = false;
     $('input[type="submit"]').click(function(e){
       if (!submitted) {
	 submitted = true;
	 $(this).css('background-position', 'left top');
	 return;
       } else {
	 e.preventDefault();
	 return;
       } 
     });
    </script>
  </body>
</html>
