
#ebookblock {
    font-family: Arial, sans-serif;
    padding: 16px;
    border: 2px solid #CBCBCB;
    background-color: white;
    margin: 32px 0 32px 0;
    color: black;
}
#ebookmoneyback {
    float: left;
    background: transparent url(../images/badge.jpg) no-repeat 11px top;
    padding: 148px 0 0 0;
    width: 160px;
    text-align: center;
    margin: 0 0 0 22px;
}
#ebookrightcontent {
    float: right;
    max-width: 680px;
}
#ebookrightheader {
    font-size: 22px;
    text-align: center;
    margin: 32px 0 0 0;
}
#ebookintroffer {
    border: 1px solid #CBCBCB;
    width: 674px;
    padding: 10px 0;
    margin: 9px 48px 0 0;
}
#ebookintrofferheader {
    text-align: center;
    font-size: 20px;
    margin: 0 0 12px 0;
}
#ebookintrocontinue {
    width: 340px;
    height: 50px;
    display: block;
    margin: 18px auto 32px;
    border: none;
    cursor: pointer;
  font-size: 24px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}
button#ebookintrocontinue {
  float: left;
}
#ebookintrocontinue.btnactive {
  background: transparent url(../images/btncheckout.png) no-repeat left top;
}
#ebookintrocontinue.btndisabled {
  background: transparent url(../images/btncheckout.png) no-repeat left -51px;
}
.ebookofferintro {
    width: 282px;
    padding: 100px 0 0 0;
    margin: 16px 0 0 0;
    text-align: center;
}
.ebookofferintro span {
    color: #ff0000;
}
#ebookintroleft {
    background: transparent url(../images/ebook1.jpg) no-repeat center top;
    float: left;
}
#ebookintroright {
    background: transparent url(../images/ebook2.png) no-repeat center top;
    float: right;
}
#ebookintroleft-small {
    background: transparent url(../images/ebook1_small.jpg) no-repeat center top;
    float: left;
}
.ebookofferselect {
    float: left;
    width: 482px;
    height: 80px;
    padding: 20px 0 0 0;
    text-align: center;
    margin: 0;
}
.ebookofferselect span {
    color: #ff0000;
}
#ebookintroright-small {
    background: transparent url(../images/ebook2_small.png) no-repeat center top;
    float: right;
}
#ebookintroleft-small-one {
    background: transparent url(../images/ebook1_small.jpg) no-repeat left top;
}
#ebookintroright-small-two {
    background: transparent url(../images/ebook2_small.png) no-repeat left top;
}
#ebookspecialthxtxt {
    text-align: center;
}
#ebookintroffer .left {
    float: left;
    height: 100%;
    margin: 0 0 0 32px;
}
#ebookintroffer .right {
    float: right;
    width: 500px;
}
#ebookintroffer #ebookintroleft {
    float: right;
    width: 378px;
    height: 100px;
    background-position: left top;
    padding: 40px 0 0 90px;
}
#ebookintroffer #ebookintroright {
    float: right;
    width: 378px;
    height: 100px;
    background-position: left top;
    padding: 40px 0 0 90px;
}
#nothanks {
    border-top: 1px solid #CBCBCB;
    padding: 14px 0 0 0;
}
#nothanks .left {
    height: 100%;
}
#nothanks .right {
    width: 520px;
    text-align: left;
}
#ebookinput .left {
    margin-top: 78px;
}
#summary {
    float: left;
    width: 214px;
    height: 174px;
    border: 1px solid #CBCBCB;
    padding: 8px;
    margin: 18px 24px 0 0;
}
#summaryheader {
    font-size: 18px;
    border-bottom: 2px solid #CBCBCB;
    padding: 0 0 4px 0;
    margin: 0 0 8px 0;
}
.summaryitem {
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    float: left;
}
.summaryitem .left {
    float: left;
    width: 164px;
    text-align: right;
}
.summaryitem .right {
    float: right;
    text-align: right;
}
#total {
    margin: 10px 0 8px 0;
    font-weight: bold;
}
#summarybottom {
    text-align: center;
}
#ebookemail {
    float: left;
    width: 214px;
    height: 64px;
    margin: 10px 140px 0 0;
    padding: 8px;
}
#ebookemailhead {
    font-weight: bold;
    margin: 0 0 8px 0;
}
#EbookSpecial_emailAddress {
    border: 1px solid #CBCBCB;
    height: 24px;
    line-height: 24px;
    width: 200px;
    padding: 0 3px;
}
#ebookemailbottom {
    font-size: 14px;
    float: left;
    width: 270px;
    margin: 16px 0 0 0;
}
input#ebookintrocontinue {
    float: left;
}
#emailerror {
    color: red;
    width: 300px;
    font-size: 14px;
    margin: 0 0 0 4px;
}
#ebookemailwrap {
    float: left;
    width: 280px;
    height: 142px;
}
