{% extends "base.html.twig" %}
{% block head %}
  <link rel="stylesheet" href="web/css/activation.css" />
{% endblock %}

{% block content %}
  <body>
    <div id="paneltop">
    </div>

    <div id="panelbottom">
      <h1>Your transaction has been approved and your account is now being activated.</h1>
      <div id="animation">
        <img src="web/images/activation/animation.gif" />
      </div>
      <p>If you are not redirected in the next 5 seconds <a href="{{ next }}">click here</a></p>

    </div>

    <script type="text/javascript">
     var qs = window.location.search.substring(1);

     function Redirect() {
       window.location = '{{ next }}';
     }

     setTimeout("Redirect();", 5000);
    </script>
    
    {% include 'zendesk.html.twig' %}
    {% include 'bing.twig' %}
    {% include '7search_conversion.html.twig' %}
  </body>
{% endblock %}
