<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Homereports.org</title>
    
    <link href="web/css/style.css" type="text/css" rel="stylesheet" />
    <link href="web/css/colorbox.css" type="text/css" rel="stylesheet" />

    {% include 'vwo.html.twig'%}
    
    <script type="text/javascript" src="web/js/jquery.min.js"></script>
    <script type="text/javascript" src="web/js/jquery.colorbox-min.js"></script>
    {% block head %}
    {% endblock %}

    <script type="text/javascript">
        $(function(){
            window.onerror = function(msg, url, line) {
                $.post("/log-error", { msg: msg, url: url, line: line });
            };
        })
    </script>
</head>
{% block content %}
{% endblock %}
</html>