<script type="text/javascript">if (!window.mstag)
        mstag = {loadTag: function() {
            }, time: (new Date()).getTime()};
</script>
<script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/d8d10bca-6f3a-4eb5-8a50-aa51754ae8a7/mstag.js"></script>
<script type="text/javascript"> mstag.loadTag("analytics", {dedup: "1", domainId: "2343134", type: "1", actionid: "127510"})</script>
<noscript>
<iframe src="//flex.msn.com/mstag/tag/d8d10bca-6f3a-4eb5-8a50-aa51754ae8a7/analytics.html?dedup=1&domainId=2343134&type=1&actionid=127510" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe>
</noscript>