{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
<script type="text/javascript" src="web/js/jquery-timer-master/jquery.timer.js"></script>
<script type="text/javascript" src="web/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<link href="web/js/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" rel="stylesheet" />
<script>
    {% if (app.request.getRequestURI() != '/checkout_a') and (app.request.getRequestURI() != '/checkout_b') and (app.request.getRequestURI() != '/checkout_c') %}
        {% include 'checkout_popup.js' %}
    {% endif %}
</script>
{% endblock %}
{% block content %}
<body class="body4">
    <div id="main-container">
        <div style="margin:auto;padding:0;width:844px;">
            <div id="checkout-section-new">
                <div class="final-checkout-section">
                    <div class="header-section-checkout">
                        <div class="header-section-logo"><h3>Homereports.org</h3><p>The Very Best Property Records Lookup</p></div>
                    </div>
                    <div id="timer_info">Note: The timer at the bottom right shows how long you have before this page expires.</div>
                    <div style="font-size: 36px;padding: 18px 0 18px 18px;width: 818px;">Final Step! <span style="color: #006BFF;font-size: 36px;">Finish Your Order Below</span><img alt="" style="margin: 0 0 -12px 30px;" src="/web/images/arrow_black_checkout.jpg"></div>

                    <div class="step_left_sec_0606D">
                        <div class="report_include1_sec_0606C">
                            <div class="report_include1_0606C"><h3>Report Includes When Available:</h3>
                                <ul>
                                    <li>PropertyRecord</li>
                                    <li>Background of home</li>
                                    <li>Property Type</li>
                                    <li>Recent Sale Information</li>
                                    <li>Home Value</li>
                                </ul>
                                <ul>
                                    <li>Square Footage of Home</li>
                                    <li>Property Evaluations</li>
                                    <li>Financial Liability</li>
                                    <li>Date Originally Built</li>
                                    <li>Public Records</li>
                                </ul>

                            </div>
                            <div style="width:281px;" class="report_include1_total_sec_0606C">
                                <div style="width:281px;" class="total_sec1_0606C">
                                    <div style="width:201px;" class="report_include1_total_txt_0606C">
                                        Subtotal                </div>
                                    <div style="width:58px;" class="report_include1_price_txt_0606C">$1.20</div>
                                </div>
                                <div style="width:281px;" class="total_sec1_0606C">
                                    <div style="width:201px;" class="report_include1_total_txt_0606C">Delivery </div>
                                    <div style="width:58px;" class="report_include1_price_txt_0606C">$0.00</div>
                                </div>
                                <div style="width:281px;" class="total_sec2_0606C">
                                    <div style="width:201px;" class="report_include1_total_txt_0606C"><span>Total</span></div>
                                    <div style="width:58px;" class="report_include1_price_txt_0606C"><span>$1.20</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="order_matter1_0606C">
                            <p><span>Order Summary</span><br>
                                You will receive your report & ebook for $1.20
                            </p>
                            <p><span>Our customer service</span> phone is (888) 672-5146</p>
                            <p><span>Refund&nbsp;</span>If for whatever reason you're unhappy with our report, please contact customer support for a refund.</p>
                        </div>
                        <div class="privacy_matter1_0606C"><span>Privacy Policy</span><br>
                            When using our site we protect your privacy at all times. For similar reasons, we may supplement the personal information you provide with publicly available information about you as well as information from other sources, as permitted by law.</div>
                    </div>

                    <div class="final-inner-section">
                        <div class="step_form_sec_0606D">
                            <div class="step_form_main_0606D">
                                <div class="step_report_txt_0606D">Your Report is Ready.<br>
                                    Please Order Now to<br>
                                    Ensure You Get Your Report.
                                </div>
                                <div class="step_form_inner_0606D">

                                    <form class="form-section" id="upsellForm" action="" method="post">
                                        {% if error is defined %}
                                        <div class="view-error-message">
                                            <p>{{ error }}</p>
                                            <p>Check Credit Card Number</p>
                                            <p>Check Expiration Date</p>
                                            <p>Check CVV Number</p>
                                        </div>
                                        {% endif %}
                                        {% include 'form_errors.html.twig' with{'form': order_form} %}
                                        <div class="final-txt"><h3 style="padding-bottom:2px;">Credit Card Payment</h3></div>

                                        <div class="form_field_sec_0606D">
                                            <div class="form_field_sec_0606D">
                                                <div class="form_txt_0606D">First Name:</div>
                                                <div class="form_field_0606D">
                                                    {{ form_widget(order_form.firstName) }}
                                                </div>
                                            </div>
                                            <div class="form_field_sec_0606D">
                                                <div class="form_txt_0606D">Last Name:</div>
                                                <div class="form_field_0606D">
                                                    {{ form_widget(order_form.lastName) }}
                                                </div>
                                            </div>
                                            <div class="form_field_sec_0606D">
                                                <div class="form_txt_0606D">Zip Code:</div>
                                                <div class="form_field_0606D">
                                                    {{ form_widget(order_form.postcode) }}
                                                </div>
                                            </div>
                                            <div class="form_field_sec_0606D">
                                                <div class="form_txt_0606D">&nbsp;</div>
                                                <div class="payment-card"><img src="web/images/visa-logo.png" alt="VISA" title="VISA" /><img src="web/images/mastercard-logo.png" alt="MasterCard" title="MasterCard" /></div>
                                            </div>
                                            <div class="form_field_sec_0606D">
                                                <div class="form_txt_0606D">Card Number:</div>
                                                <div class="form_field_0606D">
                                                    {{ form_widget(order_form.ccNumber) }}
                                                    <div class="please-txt">Please do not use spaces or hyphens</div>
                                                </div>

                                            </div>
                                            <div class="form_field_sec_0606D">
                                                <div class="form_txt_0606D">Card Type:</div>
                                                <div class="form_field_0606D">
                                                    {{ form_widget(order_form.ccType) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form_field_sec_0606D">
                                            <div class="form_txt_0606D">Expiration Date:</div>
                                            <div class="form_field_0606D">
                                                <div class="form_field1_0606D">
                                                    {{ form_widget(order_form.ccExpMonth) }}
                                                </div>
                                                <div class="form_field1_0606D">
                                                    {{ form_widget(order_form.ccExpYear) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_field_sec_0606D">
                                            <div class="form_txt_0606D">CVV Number:</div>
                                            <div class="form_field_0606D">
                                                <div class="form_field_0606D">
                                                    {{ form_widget(order_form.ccCVV) }}
                                                    <div class="form_txt1_0606D">
                                                        <a class="form_txt1_0606D cvv" href="#" onclick="return false;">
                                                            Whats this?
                                                            <span>
                                                                <img class="callout" src="/web/images/callout_vertical.gif" />
                                                                <img src="/web/images/cvv.jpg" />
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form_field_sec_0606D">
                                            <div class="form_txt_0606D">Email:</div>
                                            <div class="form_field_0606D">
                                                {{ form_widget(order_form.emailAddress) }}
                                            </div>
                                        </div>
                                        <div class="you-txt">
					  {% if app.session.get('funnel') == 'root' %}
					    You will receive access to millions of public record search records. By typing your e-mail address and clicking “Yes” below, that will constitute your electronic signature, and that you have read, understand and accept this site’s <a href="{{ path('terms') }}" class="cboxElement">Terms</a>. You may search neighborhood, address history, ownership and much more. This is your written authorization to charge your account according to the order summary. Please continue below.
					  {% else %}
					    You will receive access to millions of public record search records. By typing your e-mail address and clicking “Yes” below, that will constitute your electronic signature. You may search neighborhood, address history, ownership and much more. This is your written authorization to charge your account according to the order summary. Please continue below.
					  {% endif %}
					</div>
                                        <div class="yes-btn">
                                            <input type="image" src="/web/images/yes_continue_checkout.jpg" title="Yes, Continue to Report" alt="Yes, Continue to Report" />
                                        </div>

                                        {{ form_rest(order_form) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="report_payment_fields3_0606B12"><img style="float:left;" alt="" src="/web/images/footer_0606B.png"></div>
            </div>
            <div style="float: left;padding: 10px 0 20px;width: 840px;text-align: center;">
                <div style="padding: 15px 0;">
                    {% include 'footer_links.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-message" title="Page has expired" style="visibility: hidden;">
        <p>
            Your report is about to expire, please fill out the information.
        </p>
    </div>
    <!--script type="text/javascript" src="web/js/jquery.validate.min.js"></script-->
    <script type="text/javascript">
        (function($) {
            var t = $('<div>');
            $('body').append(t.addClass('checkout_timer'));
            t.append($('<div class="text">').html('Page Expires in'));
            t.append($('<div id="timer_digits">'));

            var Countdown = new (function() {
                var $countdown, $form, // Form used to change the countdown time
                        incrementTime = 100,
                        currentTime = 30000,
                        updateTimer = function() {
                    $countdown.html(formatTime(currentTime));
                    if (currentTime == 0) {
                        Countdown.Timer.stop();
                        timerComplete();
                        return;
                    }
                    currentTime -= incrementTime / 10;
                    if (currentTime < 0)
                        currentTime = 0;
                },
                        timerComplete = function() {
                    //alert('Countdown timer complete!');
                    $("#dialog-message").dialog({
                        modal: true,
                        buttons: {
                            Reset: function() {
                                $(this).dialog("close");
                                location.reload();
                            }
                        },
                        width: 500
                    });
                    $("#dialog-message").css('visibility', 'visible');
                },
                        init = function() {
                    $countdown = $('#timer_digits');
                    Countdown.Timer = $.timer(updateTimer, incrementTime, true);

                };
                $(init);
            });
            function pad(number, length) {
                var str = '' + number;
                while (str.length < length) {
                    str = '0' + str;
                }
                return str;
            }
            function formatTime(time) {
                var min = parseInt(time / 6000),
                        sec = parseInt(time / 100) - (min * 60);
                return (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2);
            }
        })(jQuery);

        $(document).ready(function() {
            var d = new Date(),
                    n = d.getMonth(),
                    y = d.getFullYear().toString();

            $('#OrderForm_ccExpMonth option:eq(' + n + ')').prop('selected', true);
            $('#OrderForm_ccExpYear[value="' + y.slice(-2) + '"]').prop('selected', true);

            //$("#upsellForm").validate();

            $(".numbers").keydown(function(event) {
                // Allow: backspace, delete, tab, escape, and enter
                if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                        // Allow: Ctrl+A
                                (event.keyCode == 65 && event.ctrlKey === true) ||
                                // Allow: home, end, left, right
                                        (event.keyCode >= 35 && event.keyCode <= 39)) {
                            // let it happen, don't do anything
                            return;
                        }
                        else {
                            // Ensure that it is a number and stop the keypress
                            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                                event.preventDefault();
                            }
                        }
                    });

            $('.yes-btn input').click(function(ev) {
                $(window).unbind('beforeunload');
                
                ev.preventDefault();
                //if ( $("#upsellForm").valid() ) {
                $(this).attr('disabled', true).attr('src', 'web/images/yes_continue_processing_disabled.jpg');
                setTimeout(function() {
                    $('#upsellForm').submit();
                }, 500);
                //}
                return false;
            });
        });
    </script>
{% include 'seevolution.html.twig' %}
</body>

{% endblock %}
