{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
<link href="/web/css/checkout3.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<body class="body2" id="checkout3">
    <div id="main-container">
        <div id="main">
            <div id="main-section-new">
                <div class="header-section-new">
                    <div class="logo-new"><img src="/web/images/logo.png" alt="PropertyRecordsPro.com" title="PropertyRecordsPro.com" /></div>
                </div>
                <div class="final-checkout-section">
                    <h3>Final Step! Finish Your Order Below</h3>
                    <div class="final-inner-section">
                        <div class="final-container">
                            <div class="final-report-h">
                                <p>Your Report is Ready. Please Order Now to Ensure You Get Your Report.</p>
                            </div>
                            <form class="form-section" id="upsellForm" action="" method="post">
                                {% if error is defined %}
                                <div class="view-error-message" style="margin-top:18px;">
                                    <p>{{ error }}</p>
                                    <p>Check Credit Card Number</p>
                                    <p>Check Expiration Date</p>
                                    <p>Check CVV Number</p>
                                </div>
                                {% endif %}
                                {% include 'form_errors.html.twig' with{'form': order_form} %}
                                <div class="final-txt"><h3 style="padding-bottom:2px;">Credit Card Payment</h3></div>

                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">First Name:</div>
                                    <div class="form_field_0606D">
                                            {{ form_widget(order_form.firstName) }}
                                    </div>
                                </div>
                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">Last Name:</div>
                                    <div class="form_field_0606D">
                                            {{ form_widget(order_form.lastName) }}
                                    </div>
                                </div>
                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">Zip Code:</div>
                                    <div class="form_field_0606D">
                                            {{ form_widget(order_form.postcode) }}
                                    </div>
                                </div>
                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">&nbsp;</div>
                                    <div class="payment-card"><img src="web/images/visa-logo.png" alt="VISA" title="VISA" /><img src="web/images/mastercard-logo.png" alt="MasterCard" title="MasterCard" /></div>
                                </div>
                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">Card Number:</div>
                                    <div class="form_field_0606D">
                                            {{ form_widget(order_form.ccNumber) }}
                                        <div class="please-txt">Please do not use spaces or hyphens</div>
                                    </div>

                                </div>
                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">Card Type:</div>
                                    <div class="form_field_0606D">
                                        {{ form_widget(order_form.ccType) }}
                                    </div>
                                </div>
                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">Expiration Date:</div>
                                    <div class="form_field_0606D">
                                        <div class="form_field1_0606D checkout3-date">
                                        {{ form_widget(order_form.ccExpMonth) }}
                                        </div>
                                        <div class="form_field1_0606D checkout3-date">
                                        {{ form_widget(order_form.ccExpYear) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">CVV Number:</div>
                                    <div class="form_field_0606D">
                                        <div class="form_field_0606D">
                                            {{ form_widget(order_form.ccCVV) }}
                                            <div class="form_txt1_0606D">
                                                <a class="form_txt1_0606D cvv" href="#" onclick="return false;">
                                                    Whats this?
                                                    <span>
                                                        <img class="callout" src="/web/images/callout_vertical.gif" alt="" />
                                                        <img src="/web/images/cvv.jpg" alt="" />
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form_field_sec_0606D">
                                    <div class="form_txt_0606D">Email:</div>
                                    <div class="form_field_0606D">
                                        {{ form_widget(order_form.emailAddress) }}
                                    </div>
                                </div>
                                <div class="you-txt">
				  {% if app.session.get('funnel') == 'root' %}
				    You will receive access to millions of public record search records. By typing your e-mail address and clicking “Yes” below, that will constitute your electronic signature, and that you have read, understand and accept this site’s <a href="{{ path('terms') }}" class="cboxElement">Terms</a>. You may search neighborhood, address history, ownership and much more. This is your written authorization to charge your account according to the order summary. Please continue below.
				  {% else %}
				    You will receive access to millions of public record search records. By typing your e-mail address and clicking “Yes” below, that will constitute your electronic signature. You may search neighborhood, address history, ownership and much more. This is your written authorization to charge your account according to the order summary. Please continue below.
				  {% endif %}
				</div>
                                <div class="yes-btn">
                                    <input type="image" src="/web/images/yes_continue_checkout.png" title="Yes, Continue to Report" alt="Yes, Continue to Report" />
                                </div>

                                {{ form_rest(order_form) }}
                            </form>
                        </div>
                        <div class="final-container-l">
                            <div class="final-report-txt">
                                <h3>Report Includes When Available:</h3>
                                <div class="final-report-txt-1">
                                    <ul>
                                        <li>Property Record</li>
                                        <li>Background of Home</li>
                                        <li>Property Type</li>
                                        <li>Previous Owners</li>
                                        <li>Tax Records</li>
                                        <li>Property Evaluations</li>
                                        <li>Financial Liability</li>
                                        <li>Mortgage Calculations</li>
                                    </ul></div></div>
                            <div class="payment-detail-section">
                                <div class="subtotal-section">
                                    <div class="subtotal-txt">Subtotal</div>
                                    <div class="price-txt-1">$1.20</div>
                                </div>
                                <div class="subtotal-section">
                                    <div class="subtotal-txt">Delivery</div>
                                    <div class="price-txt-1">$0.00</div>
                                </div>
                                <div class="subtotal-section">
                                    <div class="subtotal-txt-1">Total</div>
                                    <div class="price-txt-2">$1.20</div>
                                </div>
                            </div>
                            <div class="order-txt">
                                <h3>Order Summary</h3>
                                <p>You will receive your basic report & ebook for $1.20</p>
                                <h3>Our customer service phone</h3>
                                <p>(888) 672-5146</p>
                                <p>If for whatever reason your unhappy with your report please contact customer support for a refund</p>
                            </div>
                            <div class="privacy-txt">
                                <h3>Privacy Policy</h3>
                                <p>When using our site we protect your privacy at all times. For similar reasons, we may supplement the personal information you provide with publicly avaiable information about you as well as information other sources, as permitted by law.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div style="float: left;padding: 10px 0 20px;width: 940px;text-align: center;">
                <div style="padding: 15px 0;">
                {% include 'footer_links.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</body>
		{% endblock %}
