{% extends "base.html.twig" %}
{% block content %}
<body class="body1">
    <div id="main-container">
        <div id="main">
            <div id="main-section">
                <div class="header-search">
                    <div class="logo-1"><img src="web/images/logo-1.png" alt="Homereports.org" title="Homereports.org" /></div>
                </div>
                <div id="download-container">
                    <div class="download-section">
                        <div class="download-h-bg">
                            <div class="download-h"><p>We are downloading your <span>Property Record Report</span></p></div>
                        </div>
                        <div class="download-content-section">
                            <div class="report-section">
                                <div class="map-section">
                                    <div class="map-img" id="download-map" style="height:220px;margin-bottom:10px;"></div>
                                    <div class="map-text">
                                        <p>Property &amp; Neighborhood Report:</p>
                                        <h3>{{ app.session.get('searchString') }}</h3>
                                    </div>
                                </div>
                                <div class="report-download-section">
                                    <div class="download-report-section">
                                        <div class="download-report-text"><h3>Download Report</h3><p>Our Exceptional Report will include</p></div>
                                    </div>
                                    <div class="downlaod-animation"><img src="web/images/downloading-animation-3-10.gif" alt="" title="" /></div>
                                    <div class="summary-section">
                                        <div class="summary-h">Summary:</div>
                                        <div class="summary-menu">
                                            <ul>
                                                <li><a href="#" title="Property Record">Property Record</a></li>
                                                <li><a href="#" title="Neighbors">Neighbors</a></li>
                                                <li><a href="#" title="Property Details">Property Details</a></li>
                                                <li><a href="#" title="Avg. Area &amp; Property Record">Avg. Area &amp; Property Record</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comparison-section">
                        <div class="chart-section">
                            <h3>Providing the Best Property Records to You</h3>
                            <h4>HOMEREPORTS <span>vs</span> COMPETITORS</h4>
                        </div>
                        <div class="chart-txt">
                            <p>Home and Property Value<br />
                                History of the Home<br />
                                Details of the Property<br />
                                Lot Size<br />
                                Previous Sales Information<br />
                                Construction Dates<br />
                                Property Taxes<br s/>
                                Foreclosures in the Area</p>
                        </div>
                        <div class="arrow-img"><img src="web/images/arrow-img.png" alt="" title="" /></div>
                    </div>
                </div>
                <div class="footer-section-1">
                    <div class="footer-menu-section-1">
              {% include 'footer_links.html.twig' %}
                    </div>
                    <div class="footer-1">
                        <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The matieral appearing on the website could include technical, typrographical, or photographic errors. Homereports.org does not warrant that any of the matierls on its website are accurate, completete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="web/js/gmap3v5.1.1/gmap3.min.js"></script>
    <script type="text/javascript">
        $(function() {
            setTimeout(function() {
                window.location.replace("{{ path(options.nextUrl) }}");
            }, 64000);

            geocoder = new google.maps.Geocoder();

            var address = '{{ app.session.get('searchData').city }} {{ app.session.get('searchData').state }} {{ app.session.get('searchData').zip }}';
                    //console.log(address);
                    geocoder.geocode({'address': address, 'region': 'us'}, function(results, status) {
                        /**
                         var len = results.length;
                         for (var a = 0; a < len; a++) {
                         console.log(results[a]);
                         var address_len = results[a].address_components.length, address = null;
                         for (var b = 0; b < address_len; b++) {
                         address = results[a].address_components[b];
                         console.log(address.types);
                         }
                         }
                         */
                        if (status == google.maps.GeocoderStatus.OK) {
                            $('#download-map').gmap3({
                                map: {
                                    options: {
                                        zoom: 18,
                                        //mapTypeId: google.maps.MapTypeId.ROADMAP,
                                        mapTypeId: google.maps.MapTypeId.SATELLITE,
                                        //streetViewControl: true,
                                        center: results[0].geometry.location
                                    }
                                }
                            });
                        } else {
                            alert("Sorry this address does not exist in our records. Please try again.");
                            setTimeout(function() {
                                window.location.replace("/");
                            }, 3000);
                        }
                    });
                });
    </script>
  {% include 'seevolution.html.twig' %}
  {% include 'zendesk.html.twig' %}
</body>
{% endblock %}