{% for child in form.children %}
    {% for error in child.vars.errors %}
        <div class="view-error-message">
            <p><strong>{{ child.vars.label }}</strong>: {{ error.message }}</p>
        </div>
    {% endfor %}
{% endfor %}