{% extends "base.html.twig" %}
{% block content %}
  {% if options.index %}
    {{ '<body>' }}
  {% else %}
    <body id="homepage">
      <div class="top_bar">
        <div id="top_bar_in">
          <div id="contactBg">
            <span id="topContact">contact@homereports.org</span>
            <span id="topPhone">(888) 672-5146</span>
          </div>
          {% if app.security.isGranted('ROLE_USER') %}
            <a title="Logged in as: {{ app.security.getToken.getUser.getUsername }}" href="{{ path('logout') }}" id="login_button">Logout</a>
          {% else %}
            <a href="{{ path('login') }}" id="login_button">Login</a>
            <div id="chat_button" data-id="e2f9167aaa" class="livechat_button"><a href="http://www.livechatinc.com/">LIVE CHAT</a></div>
            <div id="chatHours">Live Chat Available 8AM-5PM MST/10AM-7PM EST</div>
          {% endif %}
        </div>
      </div>
  {% endif %}
  <div id="main-container">
    <div id="main">
      <div id="main-section">
        <div class="header-section">
          <div class="comprehensive-text">
            <h3>Comprehensive Research Tools!<br />
              <span>The Best Tools and Features for You</span></h3>
          </div>
          <div class="logo"><img src="web/images/logo.png" alt="Homereports.org" title="Homereports.org" /></div>
        </div>
        <div id="banner-search-section">
          <div id="search-section">
            <div class="record-bar"><img src="web/images/record-bar.png" alt="" title="" /></div>

            {% include 'homepage_search_form.html.twig' %}

            <div class="view-property-txt">
              <h3>View Your Property Report Instantly!</h3>
              <div class="view-property-txt-1">
                <ul>
                  <li>Home Values</li>
                  <li>Nationwide Property Records</li>
                  <li>Analysis Tools</li>
                </ul>
              </div>
              <div class="view-property-txt-1">
                <ul>
                  <li>Foreclosures in your Area</li>
                  <li>Neighborhood Reports</li>
                  <li>Your Net Equity</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="providing-record-section">
            <h3>Providing the Best </h3>
            <h4>Official Property Records</h4>
            <div class="banner-list">
              <h3>Property Records will include:</h3>
              <ul>
                <li>Home Value</li>
                <li>History of the Home</li>
                <li>Details of the Property</li>
                <li>Previous Sales Information</li>
                <li>Construction Dates</li>
                <li>Other Property Records</li>
              </ul>
            </div>
            <div class="look-text">
              <p>The Very Best Property Records Lookup</p>
            </div>
          </div>
        </div>
        <div class="checkreport-section">
          <div class="check-history-section">
            <h3>The Very Best</h3>
            <h4>Property Records Lookup</h4>
            <p>A Property Record will give you access to a database containing millions of records with the information you require.</p>
            <div class="get-btn">
              <input type="submit" class="scrollTop" value="" title="GET IT NOW" />
            </div>
          </div>
          <div class="sample-section">
            <h3>Sample Report</h3>
          </div>
        </div>
        <div class="comparison-section">
          <div class="chart-section">
            <h3>Providing the Best Property Records to You</h3>
            <h4>HOMEREPORTS <span>vs</span> COMPETITORS</h4>
          </div>
          <div class="chart-txt">
            <p>Home and Property Value<br />
              History of the Home<br />
              Details of the Property<br />
              Lot Size<br />
              Previous Sales Information<br />
              Construction Dates<br />
              Property Taxes<br />
              Foreclosures in the Area</p>
          </div>
          <div class="arrow-img"><img src="web/images/arrow-img.png" alt="" title="" /></div>
        </div>
        <div class="footer-section">
          <div class="footer-menu-section">
            {% include 'footer_links.html.twig' %}
          </div>
          <div class="footer">
            <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. Homereports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
   $('.scrollTop').click(function(ev) {
     ev.preventDefault();
     $('html, body').stop().animate({
       scrollTop: 0
     }, 'fast');
   });
  </script>
  {% if app.request.get('_route') == 'homepage1' %}
    {% include 'boldchat.html.twig' %}
  {% endif %}

  {% include 'seevolution.html.twig' %}
  {% include 'zendesk.html.twig' %}
    </body>
{% endblock %}
