<form class="search-form-seaction" id="landing_form" action="" method="post" enctype="{{ form_enctype(searchForm) }}">
    <h3>Start Searching Here!</h3>
    <div class="search-form-panel">
        <div class="search-form-box">
            <div class="search-left-box">
                <div class="search-left-txt-box">Street Address</div>
                <div class="search-left-field-box">
                    {{ form_widget(searchForm.street) }}
                </div>
            </div>
            <div class="search-right-box">
                <div class="search-right-txt-box">City</div>
                <div class="search-right-field-box">
                    {{ form_widget(searchForm.city) }}
                </div>
            </div>
        </div>
        <div class="search-form-box">
            <div class="search-box-1">
                <div class="search-txt-box-1">State</div>
                <div class="search-form-field" id="search_state_select">
                    {{ form_widget(searchForm.state) }}
                </div>
            </div>
            <div class="search-box-2">
                <div class="search-txt-box-2">Zip</div>
                <div class="search-form-field-2">
                    {{ form_widget(searchForm.zip) }}
                </div>
            </div>
            <div class="go-btn">
                <input type="submit" value="" title="Go!" />
            </div>
        </div>
    </div>
    {{ form_rest(searchForm) }}
</form>
{% if error is defined %}
    <div class="view-error-message">
        <p>{{ error }}</p>
    </div>
{% endif %}
{% include 'form_errors.html.twig' with{'form': searchForm} %}
