{% extends "base.html.twig" %}
{% block content %}
    <body>
        <div class="top_bar cs_top_bar">
            <div id="top_bar_in">
                <div id="contactBg">
                    <span id="topContact">contact@homereports.org</span>
                    <span id="topPhone">(888) 672-5146</span>
                </div>
                {% if app.security.isGranted('ROLE_USER') %}
                    <a title="Logged in as: {{ app.security.getToken.getUser.getUsername }}" href="{{ path('logout') }}" id="login_button">Logout</a>
                {% else %}
                    <a href="{{ path('login') }}" id="login_button">Login</a>
                    <div id="chat_button" data-id="e2f9167aaa" class="livechat_button"><a href="http://www.livechatinc.com/">LIVE CHAT</a></div>
                    <div id="chatHours">Live Chat Available 8AM-5PM MST/10AM-7PM EST</div>
                {% endif %}
            </div>
        </div>
        <div id="logo" class="cs_logo"><img title="HomeReports.org" alt="HomeReports.org" src="web/images/logo.png"></div>
        <div id="mid_sec">
            {% form_theme form 'form.html.twig' %}
            <form action="{{ path('login-check') }}" method="post" id="loginform">
                <div id="login_logo"></div>
                <h1>Login</h1>
                <div id="username_block">
                    <label for="username" >Username/Email:</label>
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div id="password_block">
                    <label for="password" >Password:</label>
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                </div>
                {% if error %}
                    <span class="form-error">{{ error }}</span>
                {% endif %}
                <div class="clear"></div>
                <div id="login_forgot">
                    <a href="/forgot-password" >I forgot my password</a>
                    <input type="submit" value="Login" />
                    <div class="clear"></div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
        {% include 'zendesk.html.twig' %}
    </body>
{% endblock %}