<div class="header">
    <h3>Monthly Payment</h3>

    <p class="text">See if you have some room <em>bargaining</em>, or if your deal seems <strong>too good to be
            true!</strong></p>
</div>
<div class="body grid-row">

    <form class="grid-one-third" id="mortgage-form" enctype="{{ form_enctype(mortgageForm) }}">
        <div class="section">
            <label for="property-monthly-payment-cost">Type cost of property</label>
            {{ form_widget(mortgageForm.cost) }}
            <span class="help-block">Start by entering the cost of the property</span>
        </div>
        <div class="section section-money-down">
            <label>Percent down:</label>

            <p class="estimate-price">Estimate Price:
                <strong>${{ app.zestimate.zestimate.amount|number_format }}</strong></p>
            {{ form_widget(mortgageForm.percentDown) }}
            <span id="loan-percent-down-display"><span
                        class="value">{{ mortgageForm.percentDown.vars.value }}</span><span
                        class="symbol">%</span></span>
        </div>
        <div class="section">
            <label>Loan Program</label>

            <div id="property-monthly-payment-sort" class="btn-group">
                {{ form_widget(mortgageForm.loanType) }}
            </div>
            <span class="help-block">Interest rates displayed are national averages based on quotes for borrowers with a credit score over 740 who requested a conventional, fully-amortized loan for an owner-occupied, single family residence with a maximum loan-to-value ratio of 80% and a loan amount between $200,000 and $417,000.</span>
            <button type="submit" id="mortgage-submit" class="btn btn-large">Submit Value</button>
        </div>
        {{ form_rest(mortgageForm) }}
    </form>

    <div id="property-monthly-payment-details" class="grid-two-third">
        <ul id="property-monthly-payment-categories" class="grid-row">
            <li class="interest">
                <span class="text">Principal & Interest</span>
                <span class="amount">
                    <span class="symbol">$</span>
                    <span id="monthlyPrincipalAndInterest">{{ app.mortgage.payment.monthlyPrincipalAndInterest }}</span>
                </span>
            </li>
            <li class="taxes">
                <span class="text">Taxes</span>
                 <span class="amount">
                    <span class="symbol">$</span>
                    <span id="monthlyPropertyTaxes">{{ app.mortgage.monthlyPropertyTaxes }}</span>
                 </span>
            </li>
            <li class="homeowners-insurance">
                 <span class="text">Homeowners Insurance</span>
                 <span class="amount">
                     <span class="symbol">$</span>
                     <span id="monthlyHazardInsurance">{{ app.mortgage.monthlyHazardInsurance }}</span>
                 </span>
            </li>
            <li class="mortgage-insurance">
                <span class="text">Mortgage Insurance</span>
                <span class="amount">
                    <span class="symbol">$</span>
                    <span id="monthlyMortgageInsurance">{{ app.mortgage.payment.monthlyMortgageInsurance }}</span>
                </span>
            </li>
        </ul>

        <div id="property-monthly-payment-details-table">
            <h3 class="estimated-payment">Estimated Payment</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Rate</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="category">Principal & Interest</td>
                    <td class="rate" id="monthlyPrincipalAndInterest2">${{ app.mortgage.payment.monthlyPrincipalAndInterest }}</td>
                </tr>
                <tr>
                    <td class="category">Taxes</td>
                    <td class="rate" id="monthlyPropertyTaxes2">${{ app.mortgage.monthlyPropertyTaxes }}</td>
                </tr>
                <tr>
                    <td class="category">Homeowners Insurance</td>
                    <td class="rate" id="monthlyHazardInsurance2">${{ app.mortgage.monthlyHazardInsurance }}</td>
                </tr>
                <tr>
                    <td class="category">Mortgage Insurance</td>
                    <td class="rate" id="monthlyMortgageInsurance2">${{ app.mortgage.payment.monthlyMortgageInsurance }}</td>
                </tr>
                </tbody>
            </table>

            <h3>Quotes aren't what you expected?</h3>
            <ul>
                <li>
                    <h4>Credit Score (720-739)</h4>

                    <p>You may be able to get a better rate by improving your credit score. The best rates are given for
                        scores of 760 or higher.</p>
                </li>
            </ul>
            <div>See <a target="_blank" href="http://www.zillow.com/mortgage-calculator/">mortgage calculator</a> options on Zillow</div>
        </div>
    </div>
</div>