{% extends "base.html.twig" %}
{% block content %}
<body class="body2">
	<div id="main-container">
		<div id="main">
			<div id="main-section-new">
				<div class="header-section-new">
					<div class="logo-new"><img src="web/images/logo.png" alt="Homereports.org" title="Homereports.org" /></div>
					<div class="secure-logos"><img src="web/images/seguranca-logo.jpg" alt="Seguranca" title="Seguranca" /><img src="web/images/privacidade-logo.jpg" alt="Privacidade" title="Privacidade" /><img src="web/images/megocio-logo.jpg" alt="Megocio" title="Megocio" /><img src="web/images/certificado-logo.jpg" alt="Certificado" title="Certificado" /></div>
				</div>
				<div class="checkout-section">
					<h3>Welcome To Checkout</h3>
					<div class="customer-container">
						<div class="customer-section">
							<h3>New Customers</h3>
							<div class="customer-inner-section">
								<div class="customer-txt">
									<p>Create an account or checkout as a guest.</p>
								</div>
								<div class="proceed-btn">
									<input type="submit" value="" onclick="location.href='{{ path(options.nextUrl) }}'" alt="Proceed To Checkout" title="Proceed To Checkout" />
								</div>
							</div>
						</div>
						<div class="customer-section-1">
							<h3>Existing Customers</h3>
							<div class="customer-inner-section">
								<div class="customer-txt">
									<div class="account-detail-box">
										<div class="account-txt-box">Email Address</div>
										<div class="account-field-box">
											<input type="text" name="textfield" class="account-txtfield" />
										</div>
									</div>
									<div class="account-detail-box">
										<div class="account-txt-box">Password</div>
										<div class="account-field-box">
											<input type="text" name="textfield" class="account-txtfield" />
										</div>
									</div>
								</div>
								<div class="sign-btn">
									<input type="submit" value="" alt="SIGN IN" title="SIGN IN" />
								</div>
								<div class="forgot-text"><a href="#" title="Forgot Password?">Forgot Password?</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="comparison-section">
					<div class="chart-section">
						<h3>Providing the Best Property Records to You</h3>
						<h4>HOMEREPORTS <span>vs</span> COMPETITORS</h4>
					</div>
					<div class="chart-txt">
						<p>Home and Property Values<br />
						Competitive Mortgage Rates<br />
						How to get money back<br />
						Neighborhood Reports<br />
						Nationwide Property Records<br />
						The Best Refinancing Rates<br />
						Rates as low as 2.3%</p>
					</div>
					<div class="arrow-img"><img src="web/images/arrow-img.png" alt="" title="" /></div>
				</div>
				<div class="footer-section">
					<div class="footer-menu-section">
                        {% include 'footer_links.html.twig' %}
                    </div>
					<div class="footer-2">
						<p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The matieral appearing on the website could include technical, typrographical, or photographic errors. Homereports.org does not warrant that any of the matierls on its website are accurate, completete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% include 'seevolution.html.twig' %}
    {% include 'zendesk.html.twig' %}
</body>
{% endblock %}