<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Homereports.org</title>
        <link href="web/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="body3">

        <div class="content-matter-g"><h1>Privacy Policy</h1>
            <p><strong>PLEASE NOTE: OUR PRIVACY  POLICY CHANGES FROM TIME TO TIME. PLEASE CHECK BACK FOR UPDATES.</strong><br />
                <strong> </strong><br />
                Use of this website is not intended by persons  under 18 years of age. You acknowledge that by using this web site and/or  providing information and registering to use this site and through the  submission of information requested, you agree and approve of the terms and  conditions of this Privacy Policy and subsequent amendments to this Privacy  Policy by your continued use of this website. This Privacy Policy shall govern  our use and disclosure of your personal information. If you do not agree and  approve of the terms and conditions of this Privacy Policy, you are advised and  instructed not to continue and not to complete the registration process (i.e.  do not register) or otherwise use or access this site.</p>
            <p>This Privacy Policy will provide details and  describe how and what information about you is gathered, used, and distributed  as a function of this website.</p>
            <p>We appreciate that the information you provide to  us and that we gather may be personal and private. Some of this information is  used to facilitate improvements to our website and to enhance your  Homereports.org experience. We will/may share information about you with  our business affiliates who have provided or may provide goods or services in  connection with this site.</p>
            <p>Homereports.org compiles personal information  about you when you register to use this site; when you use or purchase products  and services through this site; when you participate in promotions; and when  you ask to be provided additional services. The documentation that we gather  enables us to analyze a User's and/or Member's interests and preferences,  develop new services and enhance current services, improve your experience, and  create meaningful relationships. The type of personal information that  Homereports.org may gather includes first name; last name; e-mail  address; address; city, state and zip code; telephone number; facsimile number;  credit card type; credit card number; expiration date of credit card; name on  credit card; first name as it appears on check; last name as it appears on  check; bank routing number as it appears on check; checking account number;  driver's license number; state in which driver's license was issued; date of  birth; company name; business telephone number; MLS ID number (if a licensed  real estate agent); preferred listings; last five (5) searches; custom saved  searches; customer communications, correspondence, e-mails, faxes and customer  service/member service memos; customer responses to questionnaires and surveys;  the Web address where members enter from and exit to; and which pages you visit  during your use of this site.<br />
                Homereports.org may place and access cookies  on your computer. Homereports.org affiliates that offer goods and/or  services on or through this site may place and access cookies on your computer.  Cookies placed by affiliates are controlled by the affiliate's own privacy  policy.</p>
            <p>We do not sell or rent your personal information to  other companies, entities or individuals without your consent or approval. We  do share your personal information in the following events:<br />
                <br />
                - if we are provided your consent or approval<br />
                - to establish and maintain your membership;<br />
                - to process payment for goods, services and  membership provided to you;<br />
                - to assist you in obtaining the goods and services  you request;<br />
                - to assist in making offers, promotions, goods  and/or services from Homereports.org and/or third party(ies) that we  believe may be of interest to you;<br />
                - to update, improve, modify or enhance the  operations of this website;<br />
                - in response to a subpoena, court order or other  legal process;<br />
                - to assist law enforcement or other appropriate  entities which we believe in good faith are conducting examinations or  investigations of possible fraud or illegal activities;<br />
                - to investigate possible violations of our Terms  of Use Agreement; or
                <br />
                <br />
                Your personal information is encrypted and  appropriate measures are taken to protect against unauthorized or inappropriate  use of your personal information.
                <br />
                <br />
                You may contact our customer service department to  update or correct your personal information at any time. If you wish to opt out  of receiving further communication from us regarding future promotions or other  goods and services, please contact our customer service department. Please know  that depending on what opt-out choices you select, your ability to maintain  your membership and continue to obtain goods and services may be affected. Our  customer service department can be reached by e-mail  at&nbsp;contact1@Homereports.org; by telephone at (888) 672-5146. The  effective date of any opt-out action will be ten (10) business days following  the date your opt-out request is received Homereports.org, after which  your e-mail address will be added to the suppression files associated with this  site.
                <br />
                <br />
                We may unilaterally amend this Privacy Policy at  any time by posting a new privacy policy on the site. Be sure to check the  current terms of any privacy policy in effect by visiting this site. By  checking the effective date of the policy, you will know whether the Privacy  Policy has been amended. Please note however, that all amended terms, or the  new privacy policy shall automatically become effective thirty (30) days after  initial posting.
                <br />
                <br />
                If you choose not to accept or do not agree to be  bound by the terms of the revised or amended Privacy Policy, then you must opt  out and terminate your Homereports.org Membership before the effective  date of the revised or amended Privacy Policy. Your failure to take advantage  of the opt-out provisions prior to the effective date of the revised or amended  Privacy Policy will constitute your agreement and approval to be bound by the  revised or amended Privacy Policy after its effective date.<br />
                Some of the telephone calls to  Homereports.org or to third parties through Homereports.org may be  routed through a third party telephone calling service and may be recorded or  monitored for quality assurance and customer service purposes. If a call is  recorded between you and a third party, it will be deemed private information  of both you and the third party, and may be released to either of you.</p>
            <p>From time to time, we may use your information for  new, unanticipated uses not previously disclosed in our Privacy Policy. Please  note that if our information practices change at some time in the future, we  will use only data collected from the time of the new policy amendment forward  for those new purposes.
                <br />
            </p>
        </div>
    </body>
</html>