<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Property Report</title>
    {% include 'vwo.html.twig'%}
    <link href="web/css/report/style.css" rel="stylesheet" type="text/css" />
    <link href="web/css/report/colorbox.css" title="Default" media="screen" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="web/js/fotorama-3.0.8/fotorama.css"></link>
    <script src="web/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="web/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="web/js/fotorama-3.0.8/fotorama.js" type="text/javascript"></script>
    <script src="web/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="web/js/gmap3v5.1.1/gmap3.js"></script>
    <script type="text/javascript" src="web/js/report-script.js"></script>
    {% if app.security.isGranted('ROLE_USER') %}
        <script type="text/javascript" src="js/InFieldLabels/src/jquery.infieldlabel.min.js"></script>
    {% endif %}
  </head>
  <body>
    <div id="main-container">
      <div id="main">
          {% if app.security.isGranted('ROLE_USER') %}
            {% include "topbar.html.twig" %}
          {% endif %}
        <div id="main-section" {% if app.security.isGranted('ROLE_USER') %} style="margin-top:60px;" {% endif %}>
          <div id="main-inner-section">
	    <div id="report-customer">
	      Customer Service is Available<br>Mon-Fri 10AM-7PM EST<br/>Call: 1-888-672-5146 or Live Chat<br>Email: contact@homereports.org
	    </div>
            <div class="record-head">
              <h3>Property Report Record For:</h3>
              <h4>{{ app.session.get('searchString') }}</h4>
            </div>
            <div id="data-section">
              <h3>Important Property Information</h3>
              <div id="other-data-columns">
                <div class="item i1">Property Information</div>
                <div class="item i2">Financial and Tax Records</div>
                <div class="item i3">House Details</div>
                <div class="clear"></div>
              </div>
              <div class="data-record-section">
                <div class="data-info">
                  <div class="data-text">FIPS Code</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.FIPSCode|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Unformatted APN</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.UnformattedAPN|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">APN Sequence No</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.APNSequenceNo|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Formatted APN</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.FormattedAPN|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Original APN</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.OriginalAPN|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Census Tract</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.CensusTract|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Zoning</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.Zoning|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Land Use Code</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.LandUseCode|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">County Land Use1</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.CountyLandUse1|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Property Indicator Code</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.PropertyIndicatorCode|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Number Of Buildings</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Parcel.NumberOfBuildings|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Address</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.PropertyAddress.Address|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Zip</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.PropertyAddress.Zip|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Address Key</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.PropertyAddress.AddressKey|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Latitude</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.PropertyAddress.Latitude|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Longitude</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.PropertyAddress.Longitude|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Range</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.ParsedPropertyAddress.CountyLandUse1|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Calculated Total Value</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Values.CalculatedTotalValue|default('N/A') }}</div>
                </div>
              </div>
              <div class="data-record-section-1">
                <div class="data-info-1">
                  <div class="data-text-2">Calculated Land Value</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.Values.CalculatedLandValue|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Calculated Improvement Value</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.Values.CalculatedImprovementValue|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Assessed Total Value</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.Values.AssessedTotalValue|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Assessed Land Value</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.Values.AssessedLandValue|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Assessed Improvement Value</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.Values.AssessedImprovementValue|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Tax Amount</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.Values.TaxAmount|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Tax Year</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.Values.TaxYear|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Document Year</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.CurrentSale.DocumentYear|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Recording Date</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.CurrentSale.RecordingDate|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Sale Date</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.CurrentSale.SaleDate|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Sale Price</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.CurrentSale.SalePrice|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Mortgage Amount</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.CurrentDeed.MortgageAmount|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Mortgage Date</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.CurrentDeed.MortgageDate|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Transaction Id</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.PriorSale.TransactionId|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Document Year</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.PriorSale.DocumentYear|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Recording Date</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.PriorSale.RecordingDate|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Sale Date</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.PriorSale.SaleDate|default('N/A') }}</div>
                </div>
                <div class="data-info-1">
                  <div class="data-text-2">Sale Price</div>
                  <div class="data-text-3">{{ app.melissaData.property.Record.PriorSale.SalePrice|default('N/A') }}</div>
                </div>
              </div>
              <div class="data-record-section-2">
                <div class="data-info">
                  <div class="data-text">Mortgage Amount</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.PriorSale.MortgageAmount|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Acreage</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Lot.Acreage|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Square Footage</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Lot.SquareFootage|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Universal Building</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.SquareFootage.UniversalBuilding|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Building Area</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.SquareFootage.BuildingArea|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Living Space</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.SquareFootage.LivingSpace|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Year Built</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.YearBuilt|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Effective Year Built</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.EffectiveYearBuilt|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Bed Rooms</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.BedRooms|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Total Rooms</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.TotalRooms|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Total Baths Calculated</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.TotalBathsCalculated|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Total Baths</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.TotalBaths|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Full Baths</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.FullBaths|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Half Baths</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.HalfBaths|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Garage Code</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.GarageCode|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Garage Type</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.GarageType|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Parking Spaces</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.ParkingSpaces|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Parking Code</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.ParkingCode|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Parking Type</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.ParkingType|default('N/A') }}</div>
                </div>
                <div class="data-info">
                  <div class="data-text">Units</div>
                  <div class="data-text-1">{{ app.melissaData.property.Record.Building.Units|default('N/A') }}</div>
                </div>
              </div>
            </div>
            <div id="property-section">
              <div class="property-inner-section">
                {% if images is defined and (images != false) %}
                  <div class="slider-section" id="galleria">
                    {% for image_src in images %}
                      <img src="{{ image_src }}" title="" />
                    {% endfor %}
                  </div>
                  <script>
                   $(function() {
                     $('#galleria').fotorama({
                       width: 440,
                       height: 330
                     });
                   });
                  </script>
                {% else %}
                  <div class="slider-section" id="galleria">
                    <img src="web/images/no_images.jpg" style="margin:0 auto;" alt="No images available" />
                  </div>
                {% endif %}
                <div class="property-information">
                  <div class="property-inner-info">
                    <div class="property-info">
                      <p><span>Bedrooms:</span> {% if app.property.bedrooms is defined %}{{ app.property.bedrooms }} beds{% else %}See Important Details Section{% endif %}</p>
                      <p><span>Bathrooms:</span> {% if app.property.bathrooms is defined %}{{ app.property.bathrooms }} baths{% else %}See Important Details Section{% endif %}</p>
                      <p><span>Apartment:</span> {% if (app.zestimate is defined) and (app.property.finishedSqFt is defined) %}{{ (app.zestimate.zestimate.amount / app.property.finishedSqFt) | number_format }} sqft{% else %}See Important Details Section{% endif %}</p>
                      <p><span>Lot:</span> 
                        {% if app.updatedProperties.editedFacts.lotDepth is defined and app.updatedProperties.editedFacts.lotWidth is defined %}
                          {{ (app.updatedProperties.editedFacts.lotDepth)*(app.updatedProperties.editedFacts.lotWidth) }} sqft
                        {% else %}See Important Details Section{% endif %}</p>
                      <p><span>Year Built:</span> {% if app.property.yearBuilt is defined %}{{ app.property.yearBuilt }}{% else %}See Important Details Section{% endif %}</p>
                    </div>
                    <div class="property-info-1">
                      <p><span>Last Sold:</span> {% if app.property.lastSoldDate is defined %}{{ app.property.lastSoldDate }}{% else %}See Important Details Section{% endif %}</p>
                      <p><span>Heating Type:</span> {% if app.updatedProperties.editedFacts.heatingSources is defined %}{{ app.updatedProperties.editedFacts.heatingSources }}{% else %}See Important Details Section{% endif %}</p>
                      <p><span>Appliances Included:</span>
                        {% if app.updatedProperties.editedFacts.cooling is defined %}{{ app.updatedProperties.editedFacts.cooling }}
                        {% else %}See Important Details Section{% endif %}
                      </p>
                      <p><span>Covered Parking Spaces:</span> {% if app.property.parking is defined %}{{ app.property.parking }}{% else %}See Important Details Section{% endif %}</p>
                      <p><span>Price/sqft:</span> See Important Details Section<br /></p>
                    </div>
                  </div>
                  <div class="property-description">
                    <h3>Description:</h3>
                    <p id="more_less_text">{% if app.updatedProperties.homeDescription is defined %}{{ app.updatedProperties.homeDescription }}{% endif %}</p>
                    <a href="#" id="more_less" class="more">More</a>
                    <!--a href="#" class="more">More</a> </div-->
                  </div>
                </div>
              </div>
            </div>
            <div id="view-section">
              <div class="view-description">
                <h3>Bird’s Eye View:</h3>
                <div id="birdeye"></div>
              </div>
              <div class="view-description-1">
                <h3>Street View:</h3>
                <div id="streetview"></div>
              </div>
            </div>
            <div id="records-section">
              <div class="zip-section">
                {% set result = app.melissaData.zip %}
                {% if result.TotalRecords > 0 %}
                  <h3>ZIP Record</h3>
                  <h4>{{ app.session.get('searchString') }}</h4>
                  <div class="zip-record-section">
                    <div class="zip-record-info">
                      <div class="zip-text">AreaCode:</div>
                      <div class="zip-text-1">{{ result.ZipRecord.AreaCode|default('N/A') }}</div>
                    </div>
                    <div class="zip-record-info">
                      <div class="zip-text">TimeZone:</div>
                      <div class="zip-text-1">{{ result.ZipRecord.TimeZone.Name|default('N/A') }} (Code: {{ result.ZipRecord.TimeZone.Code|default('N/A') }})</div>
                    </div>
                    <div class="zip-record-info">
                      <div class="zip-text">Latitude:</div>
                      <div class="zip-text-1">{{ result.ZipRecord.Latitude|default('N/A') }}</div>
                    </div>
                    <div class="zip-record-info">
                      <div class="zip-text">Longitude:</div>
                      <div class="zip-text-1">{{ result.ZipRecord.Longitude|default('N/A') }}</div>
                    </div>
                    <div class="zip-record-info">
                      <div class="zip-text">FacilityCode:</div>
                      <div class="zip-text-1">{{ result.ZipRecord.FacilityCode|default('N/A') }}</div>
                    </div>
                  </div>
                {% else %}
                  <h3>Zip Record</h3>
                  <h4>{{ app.session.get('searchString') }}</h4>
                  <p class="address">Not available.</p>
                {% endif %}
              </div>
              <div class="crime-section">
                <div class="crime-info">
                  {% if app.predatorBarrier.count != "0" %}
                    <h3>Property Crime</h3>
                    <h4>{{ app.session.get('searchString') }}</h4>
                    <div class="zip-record-section">
                      <div class="zip-record-info">
                        <div class="zip-text">Identifier:</div>
                        <div class="zip-text-1">{% if app.predatorBarrier.offender.id is defined %}{{ app.predatorBarrier.offender.id }}{% else %}N/A{% endif %}</div>
                      </div>
                      <div class="zip-record-info">
                        <div class="zip-text">Zip code:</div>
                        <div class="zip-text-1">{{ app.property.address.zipcode }}</div>
                      </div>
                      <div class="zip-record-info">
                        <div class="zip-text">Name:</div>
                        <div class="zip-text-1">{% if app.predatorBarrier.offender.name %}{{ app.predatorBarrier.offender.name }}{% else %}N/A{% endif %}</div>
                      </div>
                      <div class="zip-record-info">
                        <div class="zip-text">Description:</div>
                        <div class="zip-text-1">{% if app.predatorBarrier.offender.designation %}{{ app.predatorBarrier.offender.designation }}{% else %}N/A{% endif %}</div>
                      </div>
                    </div>
                  {% else %}
                    <h3>Property Crime</h3>
                    <h4>{{ app.session.get('searchString') }}</h4>
                    <p class="address">Not available.</p>
                  {% endif %}
                </div>
                {% if app.predatorBarrier.offender.image is defined %}
                  <div id="offender-photo"><img src="{{ app.predatorBarrier.offender.image }}" width="200"></div>
                {% else %}
                  <div id="property-crime-map"></div>
                {% endif %}
              </div>
            </div>
            {% if app.nearbySchools is defined and app.nearbySchools.count > 0 %}
              <div id="nearby-section">
                <div class="nearby-section">
                  <h3>Nearby Schools In {{ app.property.address.city | capitalize }}:</h3>

                  <p>Data provided by GreatSchools.org</p>
                  <div class="school-info-section">
                    <div class="school-info-heading">
                      <div class="school-txt-head">School</div>
                      <div class="grades-txt-head">Grades</div>
                      <div class="distance-txt-head">Distance</div>
                      <div class="rating-txt-head">
                        <div class="rating-txt-heading">Great Schools Rating</div>
                        <div class="rating-section">
                          <div class="rating-red">1</div>
                          <div class="rating-text">Worst</div>
                          <div class="rating-green">10</div>
                          <div class="rating-text">Best</div>
                        </div>
                      </div>
                    </div>
                    <div class="schools-info-section">

                      {% for school in app.nearbySchools %}
                        {% if school.website == '' %}{% set s_website = school.overviewLink %}{% else %}{% set s_website = school.website %}{% endif %}
                        {% if 'http://' in ''~s_website %}{% set s_website = s_website %}{% else %}{% set s_website = 'http://' ~ s_website  %}{% endif %}
                        <div class="schools-info">
                          <div class="school-text"><a href="{{s_website}}" target="_blank">{{ school.name }}</a></div>
                          <div class="grades-text">{% if school.gradeRange is defined %}{{ school.gradeRange }}{% else %}n/a{% endif %}</div>
                          <div class="distance-text">{% if school.distance is defined %}{{school.distance}} mi{% else %}n/a{% endif %}</div>
                          {% if school.gsRating is defined %}
                            {% if school.gsRating < 5 %}
                              {% set rate_class = "rating-red-1" %}
                            {% elseif school.gsRating > 6 %}
                              {% set rate_class = "rating-green-1" %}
                            {% else %}
                              {% set rate_class = "rating-yellow" %}
                            {% endif %}
                          {% else %}
                            {% set rate_class = "na-text" %}
                          {% endif %}
                          <div class="na-text {{ rate_class }}">
                            <span class="text">{% if school.gsRating is defined %}{{ school.gsRating }}{% else %}n/a{% endif %}</span>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="overview-section">
                  <div class="rating-h-text"> <img src="web/images/rating-logo.png" alt="" title="" />
                    <h3>Ratings Overview:</h3>
                  </div>
                  <div id="school-rating-accordion">

                    <div class="school-rating-text active-accordion">
                      <h3>What do GreatSchools Ratings tell me?</h3>
                      <p>Our ratings provide an overview of a school's test performance by comparing the school's state standardized test results to those of other schools in the state. Ratings are given for each grade and student category (gender, ethnicity or other student group) for which test results are available. Keep in mind that when comparing schools using GreatSchools Ratings, it's important to factor in other information, including the quality of each school's teachers, the school culture, special programs, etc.</p>
                    </div>

                    <div class="school-rating-text">
                      <h3>Why don't private schools have GreatSchools Ratings?</h3>
                      <p>Private schools are not required to publicly report test results, so they do not have GreatSchools Ratings.</p>
                    </div>

                    <div class="school-rating-text">
                      <h3>Why do some public schools not have GreatSchools Ratings?</h3>
                      <p>If a public school does not have GreatSchools Ratings, there were no test scores reported for that school, results were incomplete or there were not enough results available across all schools in the state to make a valid comparison.</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            <div id="reports-section">
              <div class="reports-text">
                <h3>Why Our Reports Are <span>Your Best Choice:</span></h3>
                <p>In adition to the US Federal Government database, our full property reports provide accurate data from multiple data sources, including state offices, police records, fire and insurance records and other property sources. It should be noted however that our records represent a search against the information at our disposal and as such we fully recommend conducting a full inspection before finalizing a purchase of any property. </p>
              </div>
              <div >
                <div class="data-source-text"><img src="web/images/data-pic.png" alt="" title="" />
                  <h3>Multiple Data Sources</h3>
                  <p>Our multiple data sources ensure the most comprehensive property lookup service available.</p>
                </div>
                <div class="data-source-text"><img src="web/images/result-pic.png" alt="" title="" />
                  <h3>Instant Results</h3>
                  <p>Perform multiple searches and view your results instantly...no waiting required.</p>
                </div>
                <div class="customer-text"><img src="web/images/support-pic.png" alt="" title="" />
                  <h3>Superior Customer Support</h3>
                  <p>Live Chat is available Monday-Friday 8AM - 5PM MST and 10AM - 7PM EST</p>
                </div>
              </div>
            </div>
            <div id="neighborhood-section">
              <div class="neighborhood-info">
                <h3>Neighborhood</h3>
                <div class="neighborhood-info-section">
                  {% if app.zestimate is defined %}
                    <div class="neighborhood-info-heading">
                      <div class="zestimate-txt-head">&nbsp;</div>
                      <div class="value-txt-head">Value</div>
                      <div class="range-txt-head">Range</div>
                    </div>
                    <div class="neighborhood-information">
                      <div class="zestimate-text">Zestimate*</div>
                      <div class="value-text">${{ app.zestimate.zestimate.amount|number_format }}</div>
                      <div class="range-text">${{ app.zestimate.zestimate.valuationRange.low }} – ${{ app.zestimate.zestimate.valuationRange.high }}</div>
                    </div>
                    <div class="neighborhood-information">
                      <div class="zestimate-text">Rent Zestimate**</div>
                      <div class="value-text">${{ app.zestimate.rentzestimate.amount|number_format }}/mo</div>
                      <div class="range-text">${{ app.zestimate.rentzestimate.valuationRange.low }} – ${{ app.zestimate.rentzestimate.valuationRange.high }}</div>
                    </div>
                    <div class="neighborhood-information">
                      <div class="zestimate-text">Tax assessment***</div>
                      <div class="value-text">${{ app.mortgage.monthlyPropertyTaxes }}</div>
                      <div class="range-text"></div>
                    </div>
                  {% else %}
                  {% endif %}
                </div>
                <div class="market-text">
                  <h3>Market guide</h3>
                  <p>Zillow predicts 92024 home values will increase 8.4% next year, compared to a 8.7% rise for {{ app.property.address.city | capitalize }} as a whole.</p>
                  <p>Foreclosures will be a factor impacting home values in the next several years. In the 92024 market, the number of foreclosures waiting to be sold dropped 6.2% in the last year. The number of unsold foreclosures is 7% less than in {{ app.property.address.city | capitalize }}, and 56.4% less than the national average. This lower local number could help 92024 home values rise more quickly than other regions in {{ app.property.address.city | capitalize }}.</p>
                </div>
                <div class="guide-text">
                  <p>*A Zestimate home valuation is Zillow's estimated market value. It is not an appraisal. Use it as a starting point to determine a home's value.</p>
                  <p>**A Rent Zestimate is Zillow's estimated monthly rental price, computed using a proprietary formula. It is a starting point in determining the monthly rental price for a specific property.</p>
                  <p>***Depending on the jurisdiction where you live, this value could be the tax assessed, tax appraised, or market assessed value. This value comes from the taxing authority of the city, county or state where you live; this is not Zillow's value. </p>
                </div>
              </div>
              <div class="values-section">
                <div id="zestimate-map"></div>

                <h3><span>Walk ScoreTM </span>
                  {% if app.walkScore.walkscore > 0 %}
                    <strong>{{ app.walkScore.walkscore }}/100  {{ app.walkScore.description }}</strong>
                  {% else %}
                    <strong>Not available.</strong>
                  {% endif %}
                </h3>
                <p>Walk Score helps you find a walkable place to live. Walk Score is a number between 0 and 100 that measures the walkability of any address.</p>
                <div class="walkers-section">
                  <div class="walkers-section-1">
                    <div class="counting-text">90–100</div>
                    <div class="walkers-text">
                      <p><span>Walker's Paradise</span> Daily errands do not require a car.)</p>
                    </div>
                  </div>
                  <div class="walkers-section-1">
                    <div class="counting-text">70–89</div>
                    <div class="walkers-text">
                      <p><span>Very Walkable</span> (Most errands can be accomplished on foot.)</p>
                    </div>
                  </div>
                  <div class="walkers-section-1">
                    <div class="counting-text">50–69</div>
                    <div class="walkers-text">
                      <p><span>Somewhat Walkable</span> (Some errands can be accomplished on foot.)</p>
                    </div>
                  </div>
                  <div class="walkers-section-1">
                    <div class="counting-text">25–49</div>
                    <div class="walkers-text">
                      <p><span>Car-Dependent</span> (Most errands require a car.)</p>
                    </div>
                  </div>
                  <div class="walkers-section-1">
                    <div class="counting-text">0–24</div>
                    <div class="walkers-text">
                      <p><span>Car-Dependent</span> (Almost all errands require a car.)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="weather-text">
              <h3><span>{{ app.property.address.city | capitalize }}, {{ app.property.address.state | capitalize }}</span> Weather Conditions:</h3>
              <div class="weather">
                {% set result = app.weather.conditions.current_observation %}
                <div class="conditions">
                  <div class="last-updated">{{ result.observation_time }}</div>
                  <div class="frm weather">
                    <h3>Weather</h3>
                    <p>{{ result.weather }}</p>
                    <p>{{ result.temperature_string }}</p>
                    <p>{{ result.relative_humidity }}</p>
                  </div>
                  <div class="frm wind">
                    <h3>Wind</h3>
                    <ul>
                      <li>Direction: {{ result.wind_dir }}</li>
                      <li>Degrees: {{ result.wind_degrees }}</li>
                      <li>Mph: {{ result.wind_mph }}</li>
                      <li>Gust mph: {{ result.wind_gust_mph }}</li>
                      <li>Kph: {{ result.wind_kph }}</li>
                      <li>Gust kph: {{ result.wind_gust_kph }}</li>
                    </ul>
                  </div>
                  <div class="frm preasure">
                    <h3>Preasure</h3>
                    <p>{{ result.pressure_in }}</p>
                    <h3>Dew point</h3>
                    <p>{{ result.dewpoint_string }}</p>
                  </div>
                  <div class="frm heat">
                    <h3>Heat</h3>
                    <p>{{ result.heat_index_string }}</p>
                    <h3>Wind chill</h3>
                    <p>{{ result.windchill_string }}</p>
                  </div>
                  <div class="frm feels-like">
                    <h3>Feels like</h3>
                    <p>{{ result.feelslike_string }}</p>
                    <h3>Visibility</h3>
                    <p>{{ result.visibility_mi }}</p>
                  </div>
                  <div class="frm solar">
                    <h3>Solar radiation</h3>
                    <p>{{ result.solarradiation }}</p>
                    <h3>Precipitations</h3>
                    <ul>
                      <li>1h {{ result.precip_1hr_in }}</li>
                      <li>today {{ result.precip_today_string }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="forecast">
              {% set result = app.weather.astronomy %}
              <ul class="sun">
                <li class="first">Rise at: {{ result.sun_phase.sunrise.hour }}:{{ result.sun_phase.sunrise.minute }}</li>
                <li>Sets at: {{ result.sun_phase.sunset.hour }}:{{ result.sun_phase.sunset.minute }}</li>
              </ul>
              <ul class="moon">
                <li class="first">% Illuminated: {{ result.moon_phase.percentIlluminated }}</li>
                <li>Age of moon: {{ result.moon_phase.ageOfMoon }}</li>
              </ul>
            </div>
          </div>
          <div id="ebook_section">
            <h3>Home Security Ebook</h3>
            <a href="{{ path('security-homebook') }}">Click to download the ebook.</a>
          </div>
          <div id="faq-section">
            <h4>Frequently Asked Questions:</h4>
            <div id="accordion">
              <h3 class="accordion">Where does PropertyStudy get its history information?</h3>
              <div>Information in a PropertyStudy report comes from hundreds of US data sources. This includes both government sources, as well as private companies such as: Department of Commerce, state& localcrime rates,state property tax rates, consumer protection agencies, insurance companies and other state agencies.</div>

              <h3 class="accordion">What should I do if the PropertyStudy report has information that is different than what I was told by the seller of the home?</h3>
              <div>The answer to this depends entirely on your personal circumstances. If you feel that you have been given misleading information, or if you feel that a realtor has committed (or tried to commit) fraud against you, and contacting the seller for clarification has not been successful, you could contact the government agency responsible for issuing his/her dealer license.</div>

              <h3 class="accordion">How do I contact PropertyStudy customer service?</h3>
              <div>PropertyStudy offers you customer service 24 hours per day, 7 days per week. You can live chat with us. Visit Homereports.org or call (888) 672-5146.</div>

              <h3 class="accordion">What is a Property Records Specialist Agent?</h3>
              <div>Our Property Records Specialist Agents all have property records research and customer service experience. Typically an agent requires 1 or more years doing property research before they can be designated a specialist. All agents have customer service experience or customer service training.</div>

              <h3 class="accordion">Why was I assigned Property Records Specialist Agent?</h3>
              <div>Our report process is automated just like our competitors however unlike our competitors we go a step further with our results and service. After years of examination we found having an experienced research professional working with our automated system provided our customers the customized, detailed results that they demanded.</div>

              <h3 class="accordion">The Property Report Is Clean, should I still get an inspection?</h3>
              <div>Although PropertyStudy reports are the best in the industry you will still want to have a home inspected before you buy it. Home inspections are important because they can expose structural problems (exterior, interior, drainage and mechanical) and if the property was properly maintained.</div>
            </div>	
          </div>
          <div class="footer-section">
            <div class="footer">
              <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. HouseReports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
            </div>
            <div class="copyright-text">See more details for {{ app.session.get('searchString') }}<br>
              &#0169; Zillow, Inc., 2006-2013. Use is subject to <a href="http://www.zillow.com/corp/Terms.htm" target="_blank" title="Terms of Use" class="terms cboxElement">Terms of Use</a> | <a href="http://www.zillow.com/wikipages/What-is-a-Zestimate" target="_blank" title="What's a Zestimate?">What's a Zestimate?</a></div>
            <div class="zillow-logo"><img src="web/images/zillow-logo.gif" alt="" title="" /></div>

          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
     report_bottom_script();

     {% if app.property.address.latitude is defined and app.property.address.longitude is defined %}
     google_maps({{ app.property.address.latitude }}, {{ app.property.address.longitude }});
     {% endif %}

     {#% if app.report_not_located is defined and app.report_not_located %}
     setTimeout(function() {
     alert('Sorry, your report requires further information, please contact customer service using one of the support tabs or by calling 1 (888) 672-5146');
     window.location.replace("/");
     }, 1000);
     {% endif %#}
    </script>

    {% include 'boldchat.html.twig' %}
    {% include 'seevolution.html.twig' %}

    <div id="popup1">
      <div id="popup1_txt">
        <div>Thank you for purchasing from Homereports.org, our charge will appear as "homereports.org8886725146" on your credit card statement.<br/><br/></div>
      </div>
      <div class="popup_close"></div>
    </div>
    <div id="popup2">
      <div id="popup2_txt">If for any reason your report is missing anything, please click the Help<br/>image at the bottom right of your page.<br/><br/>We will ensure you get all the information you require.</div>
      <div class="popup_close"></div>
    </div>
    <div id="popup_form_div">
      {% include 'report_missing_info_form.html.twig' %}
      <div class="popup_close"></div>
    </div>
    <div id="report_miss"></div>
    <div class="clear"></div>
    {#% include 'zendesk.html.twig' %#}
  </body>
</html>
