<form id="popup_form" action="">
    <div id="popup_form_name">
        <label>Name</label>
        {{ form_widget(reportMissingInfoForm.name, {value: firstName}) }}
    </div>
    <div id="popup_form_email">
        <label>Email</label>
        {{ form_widget(reportMissingInfoForm.email, {value: emailAddress}) }}
    </div>
    <div id="popup_form_text">
        <label>Message</label>
        {{ form_widget(reportMissingInfoForm.message) }}
    </div>
    {{ form_rest(reportMissingInfoForm) }}
    <div class="clear"></div>
</form>