{% extends "base.html.twig" %}
{% block content %}
<body class="body1">
	<div id="main-container">
		<div id="main">
			<div id="main-section">
				<div class="header-search">
					<div class="logo-1"><img src="web/images/logo-1.png" alt="Homereports.org" title="Homereports.org" /></div>
				</div>
				<div id="download-container">
					<div class="download-section">
						<div class="download-h-bg">
							<div class="download-report-h">
								<p>Important Information Found for <span>{{ app.session.get('searchString') }}</span></p>
							</div>
						</div>
						<div class="download-content-section">
							<div class="report-text">
								<h3>Download your detailed property report for</h3>
								<h4>{{ app.session.get('searchString') }}</h4>
							</div>
							<div class="best-report-txt">
								<p>Providing the Best Property Records to You. Property Records will include:</p>
								<div class="best-report-txt-1">
									<ul>
										<li>Home Value</li>
										<li>History of the Home</li>
										<li>Details of the Property</li>
									</ul>
								</div>
								<div class="best-report-txt-1">
									<ul>
										<li>Previous Sales Information</li>
										<li>Construction Dates</li>
										<li>Neighborhood Rating</li>
									</ul>
								</div>
								<div class="best-report-txt-2">
									<ul>
										<li>Lot Size</li>
										<li>Foreclosures in the Area</li>
									</ul>
								</div>
							</div>
							<div class="see-btn">
								<input type="submit" value="" onclick="location.href='{{ path(options.nextUrl) }}'" title="Download Report!" />
							</div>
						</div>
					</div>
					<div class="comparison-section">
						<div class="chart-section">
							<h3>Providing the Best Property Records to You</h3>
							<h4>HOMEREPORTS <span>vs</span> COMPETITORS</h4>
						</div>
						<div class="chart-txt">
							<p>Home and Property Value<br />
                            History of the Home<br />
                            Details of the Property<br />
                            Lot Size<br />
                            Previous Sales Information<br />
                            Construction Dates<br />
                            Property Taxes<br s/>
                            Foreclosures in the Area</p>
						</div>
						<div class="arrow-img"><img src="web/images/arrow-img.png" alt="" title="" /></div>
					</div>
				</div>
				<div class="footer-section-1">
					<div class="footer-menu-section-1">
                        {% include 'footer_links.html.twig' %}
                    </div>
					<div class="footer-1">
						<p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The matieral appearing on the website could include technical, typrographical, or photographic errors. Homereports.org does not warrant that any of the matierls on its website are accurate, completete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% include 'seevolution.html.twig' %}
    {% include 'zendesk.html.twig' %}
</body>
{% endblock %}