{% extends "base.html.twig" %}

{% block content %}
<body class="body1">
	<div id="main-container">
		<div id="main">
			<div id="main-section">
				<div class="header-search">
					<div class="logo-1"><img src="web/images/logo-1.png" alt="Homereports.org" title="Homereports.org" /></div>
				</div>
				<div id="search-container">
					<div class="search-h-bg">
						<div class="search-h">
							<input type="text" name="textfield" value="Searching for Property Record for" class="searching-txtfield" />
						</div>
					</div>
					<div class="search-property">{{ app.session.get('searchString') }}</div>
					<div class="animated-pic"><img src="web/images/search-animated-pic-45.gif" alt="" title="" /></div>
					<div id="database-section">
						<div class="database-section1">
							<div class="database-logo"><img src="web/images/quality-icon.png" alt="Quality" title="Quality"></div>
							<div class="database-text">
								<h3>Quality</h3>
								<p>Comprehensive information that’s accurate and up-to-date</p>
							</div>
						</div>
						<div class="database-section1">
							<div class="database-logo"><img src="web/images/speed-icon.png" alt="Speed" title="Speed" /></div>
							<div class="database-text">
								<h3>Speed</h3>
								<p>Records are consistently delivered within minutes</p>
							</div>
						</div>
						<div class="database-section2">
							<div class="database-logo"><img src="web/images/trust-icon.png" alt="Trust" title="Trust"></div>
							<div class="database-text">
								<h3>Trust</h3>
								<p>A reputable company that takes you seriously.</p>
							</div>
						</div>
					</div>
					<div class="powerful-txt">
						<p>A powerful resource at your fingertips... <strong>Now find out for yourself!</strong></p>
						<img src="web/images/people-collage.jpg" alt="" title="" /> </div>
					</div>
					<div class="footer-section-1">
						<div class="footer-menu-section-1">
                            {% include 'footer_links.html.twig' %}
                        </div>
						<div class="footer-1">
							<p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The matieral appearing on the website could include technical, typrographical, or photographic errors. Homereports.org does not warrant that any of the matierls on its website are accurate, completete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	    {% javascripts filter="?closure" output="assetic/main/js/property_reports.js" %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
	    <script type="text/javascript">
		$(function(){
			setTimeout(function(){
				window.location.replace("{{ path(options.nextUrl) }}");
			}, 29000);
		});
		</script>
        {% include 'seevolution.html.twig' %}
        {% include 'zendesk.html.twig' %}
	</body>
	{% endblock %}