<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Homereports.org</title>
        <link href="web/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="body3">
        <div class="content-matter-g">
            <h1>TERMS &amp; CONDITIONS OF  USE</h1>
            <h2>Effective April 1, 2013</h2>
            <p>This Internet Website is owned and maintained by Homereports.org, your use of this Website is subject to the terms and conditions set forth below. By accessing this Website, you acknowledge that you have read and accept these terms and conditions. If you do not accept these terms and conditions, please do not use this Web site.</p>
            <h3>Disclaimer</h3>
            <p>The materials on this Website are provided for informational purposes only. They do not constitute legal advice, nor do they necessarily reflect the opinions of our firm or any of its attorneys or clients. The information contained in this Web site is provided only as general information which may or may not reflect the most current legal developments, verdicts or settlements. While our firm endeavors to include only accurate and current information on this Website, our firm makes no representations or warranties that such information is correct, complete or up-to-date.</p>
            <p>The materials on this Website are not intended to create, and receipt of them does not constitute, an attorney-client relationship between you and this firm. You should not act or refrain from acting on the basis of any information contained on this Web site without seeking appropriate legal or other professional advice on the particular facts and circumstances at issue from an attorney licensed in your state. Information on this Web site should not be taken as a promise or indication of future results.</p>
            <p>While Homereports.org does not intend this Website to be advertising, it may be considered advertising in your jurisdiction. The hiring of any professional services firm is an important decision that should not be based solely upon advertisements. Before you decide, ask our firm to send you free, written information about our qualifications and experience.</p>
            <p>Although Homereports.org has attempted to comply with all applicable legal and ethical requirements in compiling this Website. Homereports.org does not through this Website seek to represent anyone in a state where this Web site may fail to comply with all laws and ethical rules of that state.</p>
            <p>Various articles and pages on this Website may contain links to other resources on the Internet. Those links are provided by our firm as aides to help you identify and locate other Internet resources that may be of interest, and are not intended to state or imply that Homereports.org sponsors, is affiliated or associated with, or is legally authorized to use any trade name, registered trademark, logo, legal or official seal, or copyrighted symbol that may be reflected in the links.</p>
            <h3>No Warranties and Limitation of Liability</h3>
            <p>Information is provided on Website "as is" without warranty of any kind, either express or implied, including without limitation warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>
            <p>Use of this Web site is at your own risk. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, information, other communications, content or other material (including, without limitation, software) accessed through or obtained by means of this Website. Under no circumstances and under no legal theory shall Homereports.org its suppliers, or any other party involved in creating, producing, or delivering this Website's contents be liable to you or any other person for any lost profits or income, lost business or lost data, or for any indirect, special, incidental, or consequential damages of any character arising from your access to, or use of, this Web site.</p>
            <h3>Copyright and Trademark Notice</h3>
            <p>You may download, use, and copy the materials found on this Website for your personal, noncommercial use only, provided that all copies that you make of the material must bear any copyright, trademark or other proprietary notice located on the Website which pertains to the material being copied from this firm. Except as authorized in this paragraph, you are not being granted a license under any copyright, trademark, patent or other intellectual property right in the material found or described therein. All such rights are retained by Homereports.org and/or any third party owner of such rights. You may not create framed links to our web pages without express written permission from Homereports.org.</p>
            <h3>For Customers Engaging in Business with Homereports.org, the Following Terms Shall Also Apply:</h3>
            <p><b>1. Intellectual Property.</b> For as long as Homereports.org is providing services to Customer, Customer hereby grants Homereports.org a royalty-free, worldwide, nonexclusive right and license to use, copy, reproduce, modify, use, display and transmit to the public all trademarks, service marks, artwork, logos, copyrightable works or other information or materials of a proprietary nature which are communicated and/or forwarded by Customer to Homereports.org in order for Homereports.org to provide services to Customer, all as reasonably determined by Homereports.org (collectively, “Intellectual Property”). Customer represents and warrants that it has proper title to all of the Intellectual Property and that it is entitled to use such Intellectual Property in the manner contemplated herein and that Customer is entitled to grant Homereports.org the right to use such Intellectual Property as set forth above. Customer shall indemnify Homereports.org against all claims, damages, demands, liability, costs and fees (including reasonable attorneys’ fees) whatsoever arising out of or in any way connected to a breach of the representations and warranties contained in this Section.</p>
            <p><b>2. Payment.</b> Customer agrees to pay a service charge equal to the lesser of one and one-half percent (1.5%) per month on the outstanding past due balance and the maximum amount permitted by law.</p>
            <p><b>3. Limited Warranty.</b> EXCEPT FOR THOSE WARRANTIES CONTAINED HEREIN, Homereports.org EXPRESSLY DISCLAIMS ANY AND ALL OTHER WARRANTIES EXPRESS OR IMPLIED INCLUDING THOSE OF MERCHANTABILITY OR FITNESS FOR ANY PURPOSE NOT EXPRESSLY SET FORTH HEREIN. NO AFFIRMATION OF Homereports.org, BY WORDS OR ACTIONS, OTHER THAN AS SET FORTH IN THIS SECTION SHALL CONSTITUTE A WARRANTY.</p>
            <p><b>4. Limitation of Liability.</b> Homereports.org’S LIABILITY (WHETHER UNDER THE THEORIES OF BREACH OF CONTRACT OR WARRANTY, NEGLIGENCE OR STRICT LIABILITY) FOR SERVICES RENDERD OR NON-PERFORMACE OF SERVICES SHALL BE LIMITED TO Homereports.org CREDITING OR PAYING CUSTOMER AN AMOUNT EQUAL TO THE PURCHASE PRICE OF SUCH SERVICES. IN NO EVENT SHALL Homereports.org BE LIABLE FOR CONSEQUENTIAL DAMAGES.</p>
            <p><b>5. Cost and Expenses of Enforcement.</b> Customer is responsible for all costs and expenses incurred by Seller in enforcing its rights, including, without limitation, reasonable costs and attorneys’ fees related to any lawsuit or claim by and/or between Customer and Homereports.org. In the event of Customer’s breach of any obligation (which includes, but is not limited to, Customer’s failure to pay), Customer agrees to pay all reasonable attorneys’ fees, collection fees and costs of Homereports.org, including those incurred post-judgment, in any action brought to enforce the terms and conditions of any transaction. Furthermore, Customer acknowledges and agrees that Homereports.org may seek equitable relief without the necessity of posting a bond.</p>
            <p><b>6. Indemnification.</b> Customer, for itself and its employees, agents, executors, administrators, successors or assigns (“Customer Parties”), agrees to indemnify, defend and hold Homereports.org and Homereports.org’s present and future officers, directors, employees, shareholders and agents (the “Indemnified Parties”) harmless from and against any and all liabilities, penalties, fines, forfeitures, demands, claims, causes of action, suits, losses, damages, and costs and expenses incidental thereto (including, but not limited to, all costs of defense, settlement, reasonable attorneys’ fees and other litigation expenses incurred in a judicial or administrative action), which any or all of the Indemnified Parties may hereafter suffer, incur, be responsible for or pay out as a result of any breach of any obligation by any of the Customer Parties, including, without limitation, any breach of these Terms of Use, or as a result of any violation or alleged violation of statutes, ordinances, orders, rules or regulations of any governmental entity or agency, or any negligent or willful act or omission by any of the Customer Parties.</p>
            <p><b>7. Applicable Law.</b> These Terms of Use shall be governed by and construed under the laws of the State of Illinois and any disputes under these Terms of Use shall be litigated in Federal or State Courts located in Wilmington, Delaware.</p>
            <p><b>8. Contact Us.</b> If you have any questions or concerns regarding our Terms of Use or any questions about our site, please email us Contact@Homereports.org.</p>
        </div>
    </body>
</html>