<div class="top_bar cs_top_bar">
    <div id="top_bar_in">
        <div id="contactBg">
            <span id="topContact">contact@propertystudy.org</span>
            <span id="topPhone">(888) 833-5920</span>
        </div>
        {% if app.security.isGranted('ROLE_USER') %}
            {% if app.request.getRequestUri() == "/report" %}
                {% include 'topbar_search_form.html.twig' %}
                <script>
                    $(document).ready(function() {
                        $("#top_form label").inFieldLabels();
                    });
                </script>
            {% else %}
                <a title="Logged in as: {{ app.security.getToken.getUser.getUsername }}" href="{{ path('logout') }}" id="login_button">Logout</a>
            {% endif %}

        {% else %}
            <a href="{{ path('login') }}" id="login_button">Login</a>
            <div id="chat_button" class="livechat_button"><a href="#">LIVE CHAT</a></div>
            <div id="chatHours">Live Chat Available 8AM-5PM MST/10AM-7PM EST</div>
        {% endif %}
    </div>
</div>
<script>
 $('#chat_button').click(function(ev){
   ev.preventDefault();
   $zopim.livechat.window.show();
 });
</script>
