<form class="" id="top_form" action="" method="post" enctype="{{ form_enctype(topForm) }}">
    <input type="hidden" name="Address_Search" value="Address_Search" />
    <div class="topformfield">
        {{ form_label(topForm.street) }}
        {{ form_widget(topForm.street) }}
    </div>
    <div class="topformfield">
        {{ form_label(topForm.city) }}
        {{ form_widget(topForm.city) }}
    </div>
    <div class="topformfield">
        {{ form_widget(topForm.state) }}
    </div>
    <div class="topformfield">
        {{ form_label(topForm.zip) }}
        {{ form_widget(topForm.zip) }}
    </div>
    <div class="clearfix"></div>
    <input type="submit" value="Search" id="topsearchbtn" />
    {{ form_rest(topForm) }}
</form>
{% if error is defined %}
    <div class="view-error-message">
        <p>{{ error }}</p>
    </div>
{% endif %}
{#% include 'form_errors.html.twig' with{'form': searchForm} %#}