<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Property Records Professionals -   </title>
{% include 'vwo.html.twig'%}
<link href="web/css/upsell.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="web/js/jquery.min.js"></script>
<script>
        
    function showhidefaq(divid)
    {
        if(document.getElementById("spanshow_"+divid).style.display=='none')
        {
            document.getElementById("imgid_"+divid).src ="web/images/arrow_bullet1_0705.png";
            smithneth.Effects.show("spanshow_"+divid, 10, 'fade');

        }
        else
        {
            document.getElementById("imgid_"+divid).src="web/images/arrow_bullet_0705.png";
            smithneth.Effects.hide("spanshow_"+divid, 50, 'fade');
        }

    }

    function showcontentofpageextra()
    {
        //document.getElementById("part_7").style.display="";
        //document.getElementById("part_8").style.display="";
        //document.getElementById("part_9").style.display="";
        //document.getElementById("part_10").style.display="";
    }

    function showcontentofpage(i) {
        //document.getElementById("partload_"+i).style.display="none";
        //document.getElementById("part_"+i).style.display="";
        document.getElementById("part_"+i).style.visibility="visible";
    }

    $(window).load(function(){

        $('html, body').scrollTop(500);
        //setTimeout(function(){ $('html, body').scrollTop(510); }, 1000);
        setTimeout("showcontentofpage(6)",2000);

        //setTimeout(function(){ $('html, body').scrollTop(0); }, 2000);
        setTimeout("showcontentofpage(3)",3000);

        //setTimeout(function(){ $('html, body').scrollTop(0); }, 3500);
        setTimeout("showcontentofpage(2)",3500);

        //setTimeout(function(){ $('html, body').scrollTop(260); }, 6500);
        setTimeout("showcontentofpage(1)",4000);

        //setTimeout(function(){ $('html, body').scrollTop(700); }, 7500);
        setTimeout("showcontentofpage(4)",5000);

        //setTimeout(function(){ $('html, body').scrollTop(300); }, 1500);
        setTimeout("showcontentofpage(5)",6500);

        setTimeout(function(){ $('html, body').scrollTop(0); }, 8000);

        $('#preventFromDup').click(function(ev){
            ev.preventDefault();
            $(this).attr('disabled', true)
                   .attr('src', 'images/yes_btn_processing_disabled.jpg');
            $('#part_5').css('padding-left', 168);
            setTimeout( function(){$('#yesfrm').submit();}, 500 );
            return false;
        });
    });
</script>
<script type="text/javascript" src="web/js/upsell_effects.js"></script>
<script type="text/javascript">
    {% include 'checkout_popup.js' %}
</script>
</head>
<body class="body_preupsell_d1_1105">
<div id="main_container_2805">
    <div class="wrapper_2805">
        <div class="header_sec_2805">
            <div class="thank_you_txt3_0308" id="part_7">You're Just  A Click Away from your full report</div>
            <div class="logo_top_071112" id="part_10"><h2>Property Records Professionals</h2>
                <p>Receipt &amp; Special Offer  </p></div>
        </div>
        <form name="yesfrm" id="yesfrm" action="" method="post" enctype="{{ form_enctype(upsell_form) }}">

            <div class="middle_main_2805">
                <div class="middle_left_sec_1105">
                    <div class="did_you_txt2_0308" id="partload_3" style="text-align:center;display:none;"><img src="web/images/blueloading.gif" border="0"></div>
                    <div class="did_you_txt2_0308" style="visibility:hidden;" id="part_3">
                        <p><strong>Register to Unlock your Report!</strong><br />
                            Property Record Reports Contain:<br />
                            - Home Values<br />
                            - Nationwide Property Records<br />
                            - Neighborhood Reports<br />
                            - Lowest Mortgage and Refinance Reports</p>
                        Homereports is based on information supplied from various sources and databases. The information available on our website may not be 100% accurate, complete or up-to-date.<br /><br />

                        <ul>
                            <li><img src="web/images/arrow_bullet_0705.png" id="imgid_1" align="left" /><a href="javascript:showhidefaq(1)">What if I forgot my <br />
                                    password?</a>
                                <p id="spanshow_1" style="display:none; padding:5px 0 0 17px; margin:0 0 0 0;"> You can retrieve your password on Homereports.org</p>
                            </li>
                            <li><img src="web/images/arrow_bullet_0705.png" id="imgid_2" align="left" /><a href="javascript:showhidefaq(2)">How do I contact you?</a>
                                <p id="spanshow_2" style="display:none; padding:5px 0 0 17px; margin:0 0 0 0;"> Please click the contact us button at bottom of our members page.</p>
                            </li>
                            <li><img src="web/images/arrow_bullet_0705.png" id="imgid_3" align="left" /><a href="javascript:showhidefaq(3)">What is the cost?</a>
                                <div class="shopping_cart_sec_1105" id="spanshow_3" style="display:none; padding:0px 0 10px 0; margin:0 0 0 0;" >
                                    <div class="shopping_cart1_1105"><h3><img src="web/images/shopping_cart_1105.jpg" alt="" />Shopping Cart</h3>
                                        Unlimited Reports <span>$17.49/monthly</span><br />
                                        Search:<br />
                                        <p>- Email<br />
                                            - Car History<br />
                                            - People Search<br />
                                            - Death Records</p>
                                        <div class="total_sec_1105">
                                            <div class="total_txt_1105" style="width:123px;">Billed in 16 equal
                                                monthly charges:</div>
                                            <div class="total_txt1_1105" style="width:31px;">$17.49/month</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><img src="web/images/arrow_bullet_0705.png" id="imgid_4" align="left" /><a href="javascript:showhidefaq(4)">How do I sign into my account?</a>
                                <p id="spanshow_4" style="display:none; padding:5px 0 0 17px; margin:0 0 0 0;"> Please sign in at  Homereports.org.</p>
                            </li>
                            <li><img src="web/images/arrow_bullet_0705.png" id="imgid_5" align="left" /><a href="javascript:showhidefaq(5)">How can I change my password?</a>
                                <p id="spanshow_5" style="display:none; padding:5px 0 0 17px; margin:0 0 0 0;"> Please login at  Homereports.org and edit your password in Account Settings.</p>
                            </li>
                        </ul>
                        <p style="padding:12px 0 0 0;">Only proceed below if you want today's special discount.<br />
                        <p style="padding:12px 0 0 0;"><strong>Is the special discount optional?</strong><br />
                            Yes, the special discount available today is 100% optional. You will immediately receive access to your report regardless if your order special discount. <a href="{{ path('report') }}" class="report">Click here to see your report without the special discount.</a>  Only fill in your sign in details if you fully understand the special discount terms and conditions and wish to proceed with the offer.</p>
                        <p style="padding:12px 0 0 0;"><b>You're Just  A Click Away from your full report.</b>
                            You will immediately receive your property record report after this page. Please sign up with your login information to receive the special discount on property study database. <a href="{{ path('report') }}" style="color: #121212; text-decoration: none;">If you wish to receive your report please click here.</a></p>
                    </div>
                </div>
                <div class="middle_premium_sec_0705">
                    <div class="thank_you_txt_new1_0308" id="partload_2" style="text-align:center;display:none;"><img src="web/images/blueloading.gif" border="0"></div>
                    <div class="thank_you_txt_new1_0308" id="part_2" style="visibility:hidden;">
                        <p><span>Register to Unlock your Report! </span></p>
                        <p>Once you have completed the form below you will have full access to our Property Records Databases. Please review the details for the special discount below.</p>
                        For any questions about your order, customer service is available Monday-Friday. </div>
                    <div class="premium_txtB2_0308" id="part_8">You're Just  A Click Away from your full report, Premium Access Below</div>
                    <div class="middle_left_sec1_300712">

                        <div class="heading_txt3_0308" id="part_9">It's Simple to get Nationwide Property Records</div>
                        <div class="search_sec5_0308" id="partload_1" style="text-align:center;display:none;"><img src="web/images/blueloading.gif" border="0"></div>
                        <div class="search_sec5_0308" id="part_1" style="visibility:hidden;">
                            <h3>Search Across The Following Categories:</h3>
                            <ul>
                                <li>Property Records Reports - Homereports is based on information supplied from various sources and databases. The information available on our website may not be 100% accurate, complete or up-to-date.</li>
                                <li>Unlimited access to the Property Records Databases</li>

                                <li>Customer Service - if at anytime you have a question regarding account, membership, or a billing inquiry you can contact us by phone at: (888) 672-5146 or email: contact@Homereports.org</li>

                                <li>Our special offer discount will be available to you today. You will be billed $17.49 per month until you close or cancel your account. The billing will start today and monthly payments are subject to change. Only proceed if you wish to continue with the special discount.</a>
                                <a href="{{ path('report') }}" style="color: #303030; text-decoration: none;">Click Here If you are not interested in the special discount</a>
                                </li>
                            </ul>
                        </div>
                        <div class="heading_txt3_0308" style="position:relative">Create Your Login<div class="arrow_2910"><img src="web/images/arrow_1105.png" alt="" /></div></div>
                        <div class="search_sec5_0308">
                            <div  id="partload_6" style="text-align:center;display:none;"><img src="web/images/blueloading.gif" border="0"></div>
                            <div id="part_6" style="visibility:hidden;">

                                {% include 'form_errors.html.twig' with{'form': upsell_form} %}

                                <div class="form_txt2_0308">Password <span>(Case sensitive 6-36 characters)</span></div>
                                <div class="form_txt2_0308">
                                    {{ form_widget(upsell_form.password.first) }}
                                </div>
                                <div class="form_txt2_0308">Confirm Password</div>
                                <div class="form_txt2_0308">
                                    {{ form_widget(upsell_form.password.second) }}
                                </div>
                                <div class="form_txt2_0308">Email Address:</div>
                                <div class="form_txt2_0308">
                                    {{ form_widget(upsell_form.emailAddress) }}
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div class="email_txt3_0308" id="partload_4" style="text-align:center;display:none;"><img src="web/images/blueloading.gif" border="0"></div>
                            <div class="email_txt3_0308" style="visibility:hidden;" id="part_4">
                                <p>Homereports will give you access to millions of property records, home values, neighborhood reports and the lowest mortgages rates. By typing in your email address and clicking "yes" below, that will constitue your electronic signature. You may search estimated values, type of property, bedrooms, bathrooms, lot size, size, year built and foreclosure status. This is your written authorization to charge your account according to the order summary. <a style="text-decoration:none;color: #303030;" alt="" href="#">You can click here to skip</a> the special discount available. To receive access to the millions of records in our database continue below.<br />
                                </p>
                                By ordering today from Homereports.org you will receive access to millions of property records across the nation. This offer is optional and we recommend you completely understand the terms and conditions of the special discount. You will be billed today and $17.49 per month until you wish to close or cancel your account. You will receive unlimited access to our databases containing millions of records nationwide. <a href="/report" style="color: #303030; text-decoration: none;">Click here if do you not wish to receive the special discount.</a><br />
                            </div>
                            <div  id="partload_5" style="text-align:center;display:none;"><img src="web/images/blueloading.gif" border="0"></div>
                            <div style="visibility:hidden;float:left;padding:110px 0 0 119px;" id="part_5">

                                <input type="image" src="web/images/ButtonB.jpg" alt="" id="preventFromDup" />

                            </div>
                        </div>

                    </div>

                </div>
            </div>
    </div>
    {{ form_rest(upsell_form) }}
    </form>
    <div style="clear:both;"></div>
</div>
</div>
<div class="footersec2_0308">&copy; 2013 Property Records Professionals - All Rights Reserved</div>
<script>
    //$('html, body').scrollTop(510);
    setTimeout("EmailCheck()",600000);
    
    $('#preventFromDup').click(function(ev){
        $(window).unbind('beforeunload');
    });
    
</script>
{#% include 'seevolution.html.twig' %#}
{% include 'zendesk.html.twig' %}
</body>
</html>
