{% if (((app.session.get('funnel') != 'homevalue9') and (app.session.get('funnel') != 'propertyrecord77_10')) or (app.request.getRequestURI() == '/report')) %}
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
@import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
if (typeof(Zenbox) !== "undefined") {
Zenbox.init({
dropboxID: "20246156",
url: "https://ndp1.zendesk.com",
tabTooltip: "Support",
tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_support_right.png",
tabColor: "black",
tabPosition: "Right"
});
}
</script>
{% endif %}