@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#161616;
	font-size:14px;
	text-align:center;
	background: url(../images/activation/gradient.jpg) repeat-x;
	background-color: #2b68ad;
}

h1 {
  font-family:Arial, Helvetica, sans-serif;
	color:#161616;
	font-size:15px;
	text-align:center;
	font-weight:bold;
	padding-top:28px;
}

a {
  font-family:Arial, Helvetica, sans-serif;
	color:#59960d;
	font-size:14px;
	text-align:center;
	padding-top:28px;
}

#paneltop {
  width:784px;
  height:77px;
  background: url(../images/activation/paneltop.jpg) no-repeat;
  position:absolute;
  top:92px;
  left:0;
  right:0;
  margin:0 auto;
}

#panelbottom {
  width:784px;
  height:185px;
  background: url(../images/activation/panelbottom.jpg) no-repeat;
  position:absolute;
  top:169px;
  left:0;
  right:0;
  margin:0 auto;
}






















.lft {
	float:left;
}
.rgt {
	float:right;
}
.clear {
	clear:both;
}
#wrapper-book-cover {
	width:600px;
	margin:0 auto;
}
#main-book-cover {
	width:600px;
	float:left;
}
#top-red {
	background:url(../images/top_red.png) no-repeat;
	height:42px;
	float:left;
	padding:0 27px;
	width:546px;
	color:#FFFFFF;
	font-size:17px;
	font-weight:bold;
	text-transform:uppercase;
}
.top-red-text {
	background:url(../images/multiple.png) no-repeat;
	height:17px;
	float:left;
	width:546px;
	margin:12px 0 0 0;
}
#top-black {
	width:542px;
	background:url(../images/top_black.png) no-repeat;
	height:128px;
	float:left;
	padding:14px 29px 16px 29px;
}
.blk-devider {
	width:542px;
	float:left;
	padding:0 0 8px 0;
}
.online {
	float:left;
	color:#d00910;
}
.win {
	float:right;
	color:#f7941d;
	padding:14px 0 0 0;
}
.enterpr {
	background:url(../images/enterprises.png) no-repeat;
	height:66px;
	float:left;
	width:542px;
}
.the-internet {
	background:url(../images/the-internet.png) no-repeat;
	width:351px;
	height:17px;
	float:left;
}
#middle-container {
	width:600px;
	float:left;
	position:relative;
	background:url(../images/content_bg.png) left top no-repeat;
	height:648px;
}
.book-content {
	width:600px;
	position:absolute;
	background:url(../images/men_bg.png) bottom right no-repeat;
	bottom:0px;
}
.text-container {
	width:318px;
	position:relative;
	float:left;
	padding:90px 0 0 29px;
}
.text-devider {
	float:left;
	width:318px;
	margin:0 0 56px 0;
}
.exclusive {
	background:url(../images/exclusive.png) no-repeat;
	width:318px;
	height:21px;
	float:left;
	padding:0 0 4px 0;
}
.steven {
	background:url(../images/steven.png) no-repeat;
	width:318px;
	height:34px;
	float:left;
	padding:0 0 4px 0;
}
.enter-year {
	background:url(../images/enterpren.png) no-repeat;
	width:318px;
	height:20px;
	float:left;
}
.stand-aside {
	background:url(../images/stand.png) no-repeat;
	width:318px;
	height:30px;
	float:left;
}
.an-inside {
	background:url(../images/an-aside.png) no-repeat;
	width:318px;
	height:53px;
	float:left;
}
.money-review {
	background:url(../images/money.png) no-repeat;
	height:25px;
	float:left;
	width:318px;
	padding:0 0 4px 0;
}
.how-working {
	background:url(../images/how-working.png) no-repeat;
	height:67px;
	width:318px;
	float:left;
}
.strip {
	width:552px;
	background-color:#000000;
	float:left;
	height:82px;
	padding:16px 19px 16px 29px;
	position:relative;
}
.strip-lft {
	width:424px;
	float:left;
}
.young-filthy {
	background:url(../images/young.png) no-repeat;
	height:55px;
	padding:0 0 3px 0;
	float:left;
	width:424px;
}
.the-secrets {
	background:url(../images/the-seceret.png) no-repeat;
	height:23px;
	float:left;
	width:424px;
}
.strip-rgt {
	width:106px;
	float:right;
}
.side-young {
	background:url(../images/young-side.png) left top no-repeat;
	height:29px;
	float:left;
	width:106px;
	padding:0 0 4px 0;
}
.side-enterper {
	background:url(../images/enterpreuer-side.png) left top no-repeat;
	height:19px;
	float:left;
	width:106px;
	padding:0 0 4px 0;
}
.dynamos {
	width:106px;
	float:left;
	background:url(../images/dynamos.png) left top no-repeat;
	height:20px;
}
.cash {
	width:561px;
	float:left;
	color:#FFFFFF;
	padding:18px 10px 10px 29px;
}
.cash-text {
	background:url(../images/cash-text.png) no-repeat;
	height:23px;
	width:424px;
	float:left;
	margin:15px 0 0 0;
}
.barcode {
	background:url(../images/bar-code.png) no-repeat;
	width:81px;
	height:49px;
	float:right;
}
.circle{
	position:absolute;
	background:url(../images/circle.png) no-repeat;
	width:104px;
	height:104px;
	top:-93px;
	right:20px;
} 
