#checkout3 .final-checkout-section {
    float:left;
	width: 900px;
	background:url(../images/checkout-repeat.png) left top repeat-x #FFF;
	position:relative;
	padding:0 20px 20px 20px;
}
#checkout3 .final-checkout-section h3 {
    font-family:arial;
	font-size:32px;
	font-weight:bold;
	line-height:30px;
	color:#000;
	padding:20px 0;
}
#checkout3 .final-inner-section {
	float:left;
	width: 900px;
	padding:0;
	position:relative;
    border: none;
}
#checkout3 .final-container {
	float:left;
	width: 610px;
	font-size:14px;
	line-height:18px;
	color:#000;
	font-weight:normal;
	font-family:arial;
	text-align:left;
	position:relative;
	background-color:#1f2f4a;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
#checkout3 .final-report-h {
	float:left;
	width: 600px;
	background:url(../images/tick.png) 20px 14px no-repeat;
	position:relative;
	font-family:Arial;
	font-weight:bold;
	font-size:16px;
	color:#FFF;
	text-align:left;
}
#checkout3 .final-report-h p {
	padding:18px 0 15px 50px;
}
#checkout3 .view-error-message {
    width: 554px;
}
#checkout3 .form-section {
	width:560px;
	float:left;
	position:relative;
	padding:0px 20px 20px 20px;
	background:url(../images/form-bg-1.png) left top repeat-x #FFF;
	border-top:1px solid #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	margin:5px;
}
#checkout3 .final-txt {
	width:560px;
	float:left;
    margin: 20px 0 16px 0;
}
#checkout3 .final-txt h3 {
	font-family:Arial;
	font-size:24px;
	color:#000;
	text-align:left;
	font-weight:bold;
	line-height:22px;
	padding:0;
}
#checkout3 .form-main-section {
	width:560px;
	float:left;
	padding:20px 0 0 0;
}
#checkout3 .form-field-section {
	width:560px;
	float:left;
	padding:7px 0 0 0;
}
#checkout3 .form-txt {
	width:175px;
	float:left;
	font-family:Arial;
	font-size:14px;
	color:#000;
	text-align:right;
	font-weight:bold;
	line-height:30px;
	padding:0 5px 0 0;
}
#checkout3 .form-txt-field {
	width:217px;
	float:left;
	height:32px;
	margin:0 5px 0 0
}
#checkout3 .form-txtbox {
	width:205px;
	height:20px;
	border:1px solid #ccc;
	background-color:#FFF;
	padding:5px;
	font-family:Arial;
	font-size:14px;
	text-align:left;
	font-weight:normal;
	line-height:18px;
	color:#384954;
}
#checkout3 .form-field-1 {
	width:217px;
	float:left;
	margin:0 5px 0 0;
}
#checkout3 .form-txtbox-1 {
	width:213px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#384954;
	text-align:left;
	font-weight:normal;
	height:24px;
	line-height:22px;
	border:1px solid #ccc;
	background-color:#FFF;
	padding:2px;
}
#checkout3 .form-field-2 {
	width:69px;
	float:left;
	margin:0 5px 0 0;
}
#checkout3 .form-txtbox-2 {
	width:75px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#384954;
	text-align:left;
	font-weight:normal;
	height:24px;
	line-height:22px;
	border:1px solid #ccc;
	background-color:#FFF;
	padding:2px;
}
#checkout3 .checkout3-date {
    height: 30px;
    width: 79px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    background: url("../images/select_dropdown.jpg") no-repeat scroll 66px 14px #FFFFFF;
}
#checkout3 .checkout3-date select {
    height: 26px;
    padding: 6px 2px 2px 2px;
    border: none;
    width: 95px;
    background-color: transparent;
    font-size: 14px;
    line-height: 14px;
}
#checkout3 .form-field-3 {
	width:109px;
	float:left;
}
#checkout3 .cvv {
    margin: 4px 0 0 0;
}
#checkout3 .form-txtbox-3 {
	width:105px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#384954;
	text-align:left;
	font-weight:normal;
	height:24px;
	line-height:22px;
	border:1px solid #ccc;
	background-color:#FFF;
	padding:2px;
}
#checkout3 .what-txt {
	width:100px;
	float:left;
	font-family:arial;
	font-size:13px;
	text-align:left;
	font-weight:normal;
	line-height:32px;
	color:#225a90;
	padding:0 0 0 10px;
}
#checkout3 .what-txt a {
	color:#225a90;
	text-decoration:underline;
}
#checkout3 .what-txt a:hover {
	color:#225a90;
	text-decoration:none;
}
#checkout3 .payment-card {
	width:150px;
	float:left;
}
#checkout3 .payment-card img {
	margin:0 5px 0 0;
}
#checkout3 .please-txt {
	width:100px;
	float:left;
	font-family:Arial;
	font-size:11px;
	color:#000;
	text-align:left;
	font-weight:normal;
	line-height:16px;
	padding:0 0 0 10px;
}
#checkout3 .form_txt_0606D {
    line-height: 32px;
    font-size: 14px;
}
#checkout3 .you-txt {
	width:560px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#000;
	text-align:left;
	font-weight:normal;
	line-height:16px;
	padding:20px 0;
}
#checkout3 .yes-btn {
	float: left;
    height: 41px;
    margin: 25px 0 25px 14px;
    width: 227px;
}
#OrderForm_ccNumber {
    float: left;
}
#checkout3 .yes-btn input {
	border:medium none;
	display:block;
	float:left;
	font-size:0;
	height:41px;
	outline:medium none;
	overflow:hidden;
	text-decoration:none;
	width:227px;
}
#checkout3 .final-container-l {
	float:left;
	width: 270px;
	padding:0 0 0 20px;
	position:relative;
}
#checkout3 .final-report-txt {
	float:left;
	width: 270px;
	font-size:14px;
	line-height:18px;
	color:#000;
	font-weight:normal;
	font-family:arial;
	text-align:left;
	position:relative;
	padding:0;
}
#checkout3 .final-report-txt h3 {
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	color:#000;
	padding:17px 0 12px 0;
}
#checkout3 .final-report-txt-1 {
	float: left;
	width:270px;
	padding: 0;
}
#checkout3 .final-report-txt-1 ul {
	margin:0px;
	padding: 0px;
	width:270px;
}
#checkout3 .final-report-txt-1 li {
	list-style:none;
	font-family:Arial;
	font-size:14px;
	color:#000;
	font-weight:normal;
	text-align:left;
	line-height:18px;
	padding:6px 0 6px 34px;
	background:url(../images/tick.png) left 4px no-repeat;
}
#checkout3 .payment-detail-section {
	width:270px;
	float:left;
	margin:20px 0 20px 0;
	background-color:#e4f4ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
#checkout3 .subtotal-section {
	width:270px;
	float:left;
	padding:7px 0 7px 0;
	border-bottom:1px solid #FFF;
}
#checkout3 .subtotal-txt {
	width:190px;
	float:left;
	font-family:Arial;
	font-size:14px;
	color:#000000;
	text-align:right;
	font-weight:normal;
}
#checkout3 .price-txt-1 {
	width:60px;
	float:right;
	font-family:Arial;
	font-size:14px;
	color:#000000;
	text-align:right;
	font-weight:normal;
	padding:0 20px 0 0;
}
#checkout3 .subtotal-txt-1 {
	width:190px;
	float:left;
	font-family:Arial;
	font-size:14px;
	color:#000000;
	text-align:right;
	font-weight:bold;
}
#checkout3 .price-txt-2 {
	width:60px;
	float:right;
	font-family:Arial;
	font-size:14px;
	color:#c72e02;
	text-align:right;
	font-weight:bold;
	padding:0 20px 0 0;
}
#checkout3 .order-txt {
	float:left;
	width: 270px;
	font-size:12px;
	line-height:14px;
	color:#000;
	font-weight:normal;
	font-family:arial;
	text-align:left;
	position:relative;
	padding:0;
}
#checkout3 .order-txt h3 {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	color:#000;
	line-height:16px;
	padding:0 0 3px 0;
}
#checkout3 .order-txt p {
	padding:0 0 17px 0;
}
#checkout3 .privacy-txt {
	float:left;
	width: 270px;
	font-size:12px;
	line-height:14px;
	color:#000;
	font-weight:normal;
	font-family:arial;
	text-align:left;
	position:relative;
	padding:0;
}
#checkout3 .privacy-txt h3 {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	padding:0 0 3px 0;
}
#checkout3 .privacy-txt p {
	padding:0 0 17px 0;
}
#checkout3 #OrderForm_ccType {
    border: none;
    padding: 2px 0 0 0;
    height: 30px;
}
#checkout3 #OrderForm_ccType input {
    margin: 8px 4px 0 6px;
    float: left;
}
#checkout3 #OrderForm_ccType label {
    font-size: 14px;
    float: left;
    line-height: 30px;
}