@charset "utf-8";
/* CSS Document */
body {
	padding:0px;
	margin:0px;
	background-color:#ffffff;
}
img {
	border:none;
}
p, h1, h2, h3, h4, h5, h6 {
	padding:0px;
	margin:0px;
}
.main_upsell {
	width:846px;
	margin:0px auto;
	position:relative;
}
.header_section {
	width:846px;
	float:left;
	height:69px;
	position:relative;
}
.header_txt {
	width:826px;
	float:left;
	font-family:Arial;
	font-size:28px;
	color:#535252;
	font-weight:bold;
	padding:36px 0 0 20px;
}
.header_txt span {
	font-size:20px;
	color:#535252;
	font-weight:bold;
}
a, img {
    border: none;
}
.logo_0204 {
	position:absolute;
	right:3px;
	top:10px;
}
.middle_section {
	width:846px;
	float:left;
	background:url(../images/inner_bg_0204.jpg) left top no-repeat #fff;
}
.history_database_txt {
	width:500px;
	float:left;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	text-align:left;
	color:#000000;
	padding:15px 0 0 30px;
}
.history_database_txt h3 {
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	color:#323232;
	padding:0 0 10px 0;
}
.history_database_txt h5 {
	font-family:Arial;
	font-size:34px;
	font-weight:normal;
	color:#205aa3;
	padding:0 0 6px 0;
}
.history_database_txt h6 {
	font-family:Arial;
	font-size:16px;
	font-weight:normal;
	text-align:left;
	color:#000000;
	padding:0 0 5px 0;
}
.history_database_txt ul {
	margin:0px;
	padding:0px;
}
.history_database_txt li {
	margin:0px;
	padding:0px;
	list-style:none;
	display:block;
	width:468px;
	float:left;
	font-size:12px;
	color:#213855;
	background:url(../images/green_tick_0204.png) 13px 5px no-repeat;
	line-height:19px;
	padding:5px 0 0 32px;
}
.history_database_txt li span {
	color:#10404a;
}
.middle_section_inner {
	width:846px;
	float:left;
	padding:30px 0 0 0;
}
.middle_left_section {
	width:254px;
	float:left;
}
.type_txt_0204 {
	width:204px;
	float:left;
	background:url(../images/blue_topbg_0204.jpg) left top no-repeat;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-align:left;
	color:#ffffff;
	height:60px;
	padding:29px 0 0 50px;
}
.address_section_0204 {
	width:242px;
	float:left;
	background-color:#fff;
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	padding:5px 5px 0 5px;
}
.type_emailtxt_0204 {
	width:242px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#4e4e4e;
	padding:0 0 3px 0;
}
.email_sec_0204 {
	width:211px;
	float:left;
	padding:12px 0 12px 15px;
}
.email_txt_0204 {
	width:211px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#000000;
	padding:0 0 3px 0;
}
.email_field_sec_0204 {
	width:211px;
	float:left;
}
.email_txtbox_0204 {
	width:209px;
	float:left;
	border:1px solid #605e52;
	background-color:#ffffcc;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:#97977d;
	height:16px;
	line-height:15px;
}
.clicking_yes_no_0204 {
	width:242px;
	float:left;
	text-align:center;
	padding:10px 0 0 0;
}
.clicking_yes_no_0204 input {
	margin:0 0 30px 0;
}
.clicking_yes_no_0204 img {
	margin:0 0 30px 0;
}
.blue_bottombg {
	width:254px;
	float:left;
}
.middle_right_section {
	width:586px;
	float:left;
	margin:0 0 0 3px;
}
.details_matter {
	width:570px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#535252;
	border:1px solid #cccccc;
	padding:7px 7px 45px 7px;
}
.details_matter h3 {
	font-size:17px;
	color:#535252;
	font-weight:bold;
	padding:0 0 16px 0;
}
.details_matter p {
	padding:0 0 15px 0;
}
.details_matter span {
	   font-family:arial;
    font-size:14px;
    color:#777777;
    font-weight:bold;
}
.privacy_terms_txt {
	width:580px;
	float:left;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	color:#777777;
	padding:5px 0 0 6px;
}
.privacy_terms_txt a {
	text-decoration:none;
	color:#777777;
}
.privacy_terms_txt a:hover {
	text-decoration:underline;
	color:#777777;
}
.copyright_txt {
	width:846px;
	float:left;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	color:#000000;
	padding:22px 0 15px 0;
}
/**********************************(version_2)**************************************************/
.middle_right_section1 {
	width:254px;
	float:right;
}
.middle_left_section1 {
	width:586px;
	float:left;
}
.details_matter1 {
	width:570px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#535252;
	border:1px solid #cccccc;
	padding:7px 7px 16px 7px;
}
.details_matter1 h3 {
	font-size:17px;
	color:#535252;
	font-weight:bold;
	padding:0 0 16px 0;
}
.details_matter1 p {
	padding:0 0 15px 0;
}
/**********************************(version_3)**************************************************/
.middle_section1 {
	width:846px;
	float:left;
	background:url(../images/inner_bg1_0204.jpg) left top no-repeat #fff;
}
.history_database_txt1 {
	width:500px;
	float:left;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	text-align:left;
	color:#000000;
	margin:15px 0 0 250px;
}
.history_database_txt1 h3 {
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	color:#323232;
	padding:0 0 10px 0;
}
.history_database_txt1 h5 {
	font-family:Arial;
	font-size:34px;
	font-weight:normal;
	color:#205aa3;
	padding:0 0 6px 0;
}
.history_database_txt1 h6 {
	font-family:Arial;
	font-size:16px;
	font-weight:normal;
	text-align:left;
	color:#000000;
	padding:0 0 5px 0;
}
.history_database_txt1 ul {
	margin:0px;
	padding:0px;
}
.history_database_txt1 li {
	margin:0px;
	padding:0px;
	list-style:none;
	display:block;
	width:468px;
	float:left;
	font-size:12px;
	color:#213855;
	background:url(../images/green_tick_0204.png) 13px 5px no-repeat;
	line-height:19px;
	padding:5px 0 0 32px;
}
.history_database_txt1 li span {
	color:#10404a;
}
/***********************************************************(MFS)*******************************************************************************/
.container_2803 {
	width:900px;
	margin:0px auto;
}
.main_2803 {
	width:900px;
	float:left;
	position:relative;
}
.header_sec_2803 {
	width:900px;
	float:left;
	height:72px;
	position:relative;
	border-bottom:2px solid #a2c7dc;
}
.logo_2803 {
	position:absolute;
	top:6px;
	left:0px;
}
.header_txt_2803 {
	width:335px;
	float:right;
	font-family:Arial;
	font-size:13px;
	color:#4b4b4b;
	text-align:left;
	padding:20px 0 0 0;
}
.middle_sec_2803 {
	width:900px;
	float:left;
	border-bottom:2px solid #a2c7dc;
	padding:0 0 20px 0;
}
.middle_left_sec_2803 {
	width:600px;
	float:left;
}
.making_matter_2803 {
	width:555px;
	float:left;
	padding:18px 30px 10px 15px;
	font-family:arial;
	color:#252e3d;
	text-align:left;
	font-size:13px;
}
.making_matter_2803 img {
	margin:0 0 -10px 0;
}
.making_matter_2803 h3 {
	margin:0px;
	font-family:arial;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}
.making_matter_2803 h6 {
	margin:0px;
	font-family:arial;
	font-size:13px;
	color:#000000;
	font-weight:normal;
	padding:18px 0 10px 25px;
}
.making_matter_2803 ul {
	margin:0px;
	padding:0 0 0 25px;
	float:left;
	width:540px;
}
.making_matter_2803 li {
	margin:12px 0 0 0;
	padding:0 0 0 30px;
	font-size:13px;
	font-weight:normal;
	color:#090909;
	text-align:left;
	background:url(../images/green_tick_2803.jpg) no-repeat 0 0;
	list-style:none;
}
.making_matter_2803 li span {
	color:#252e3d;
	font-weight:bold;
}
.accept_txt_2803 {
	width:570px;
	float:left;
	padding:20px 15px 16px 15px;
	font-family:arial;
	font-size:13px;
	color:#555555;
	text-align:left;
}
.accept_txt_2803 a {
	font-size:13px;
	color:#555555;
	text-decoration:none;
}
.accept_txt_2803 a:hover {
	font-size:13px;
	color:#555555;
	text-decoration:underline;
}
.security_check_sec_2803 {
	width:328px;
	float:left;
	margin:0 0 0 164px;
}
.security_topbotbg_2803 {
	width:328px;
	float:left;
}
.security_inner_2803 {
	width:302px;
	float:left;
	background:url(../images/yellow_repeatbg_2803.jpg) left top repeat-y;
	padding:0 16px 0 10px;
}
.security_txt_2803 {
	width:302px;
	float:left;
	font-family:arial;
	font-size:13px;
	color:#333333;
	font-weight:normal;
}
.security_txt_2803 a {
	font-size:13px;
	color:#3b5998;
	text-decoration:none;
}
.security_txt_2803 h3 {
	font-family:arial;
	font-size:13px;
	color:#333333;
	font-weight:bold;
	padding:0 0 5px 0;
}
.captca_2803 {
	width:300px;
	float:left;
	border:1px solid #c0c0c0;
	margin:10px 0 0 0;
}
.captca_txtbox_sec_2803 {
	width:302px;
	float:left;
	padding:9px 0 0 0;
}
.captca_txt_2803 {
	width:107px;
	float:left;
	font-family:arial;
	font-size:13px;
	color:#333333;
	font-weight:bold;
	line-height:20px;
}
.captca_txtfield_2803 {
	float:left;
}
.captca_txtbox_2803 {
	width:156px;
	float:left;
	font-family:arial;
	font-size:13px;
	color:#333333;
	font-weight:normal;
	background-color:#fff;
	border:1px solid #c0c0c0;
	height:17px;
	line-height:17px;
}
.email_sec_2803 {
	width:267px;
	float:left;
	border-top:1px solid #babaa4;
	margin:12px 0 0 0;
	padding:3px 35px 8px 0;
}
.required_txt_2803 {
	width:267px;
	float:left;
	font-family:arial;
	font-size:12px;
	color:#333333;
	font-weight:normal;
}
.yes_btn_2803 {
	width:267px;
	float:left;
	padding:15px 0 0 0;
}
.yes_btn_2803 input {
	float:right;
}
.no_btn_2803 {
	margin:10px 0 5px 0;
}
.middle_right_sec_2803 {
	width:280px;
	float:right;
}
.privacy_box_2803 {
	width:280px;
	float:left;
	margin:10px 0 0 0;
}
.privacy_box_topbotbg_2803 {
	width:280px;
	float:left;
}
.privacy_box_inner_2803 {
	width:270px;
	float:left;
	background:url(../images/blue_repeatbg_2803.jpg) left top repeat-y;
	padding:0 8px 0 2px;
}
.privacy_txt_2803 {
	width:260px;
	float:left;
	font-family:arial;
	font-size:13px;
	color:#5b5b5b;
	font-weight:normal;
	padding:0 4px 5px 6px;
}
.privacy_txt_2803 span {
	color:#4b4b4b;
	font-weight:bold;
}
.footer_txt_2803 {
	width:900px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#636363;
	text-align:center;
	padding:5px 0 20px 0;
}
.footer_txt_2803 a {
	font-size:13px;
	color:#636363;
	text-decoration:none;
}
.footer_txt_2803 a:hover {
	font-size:13px;
	color:#636363;
	text-decoration:underline;
}
.middle_left_sec1_2803 {
	width:280px;
	float:left;
	margin:0 0 0 22px;
}
.middle_right_sec1_2803 {
	width:590px;
	float:right;
}
.making_matter1_2803 {
	width:555px;
	float:left;
	padding:18px 15px 10px 15px;
	font-family:arial;
	color:#252e3d;
	text-align:left;
	font-size:13px;
}
.making_matter1_2803 h3 {
	margin:0px;
	font-family:arial;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}
.making_matter1_2803 h6 {
	margin:0px;
	font-family:arial;
	font-size:13px;
	color:#000000;
	font-weight:normal;
	padding:18px 0 10px 25px;
}
.making_matter1_2803 ul {
	margin:0px;
	padding:0 0 0 25px;
	float:left;
	width:540px;
}
.making_matter1_2803 li {
	margin:12px 0 0 0;
	padding:0 0 0 30px;
	font-size:13px;
	font-weight:normal;
	color:#090909;
	text-align:left;
	background:url(../images/green_tick_2803.jpg) no-repeat 0 0;
	list-style:none;
}
.making_matter1_2803 li span {
	color:#252e3d;
	font-weight:bold;
}
.accept_txt1_2803 {
	width:570px;
	float:left;
	padding:20px 5px 16px 15px;
	font-family:arial;
	font-size:13px;
	color:#555555;
	text-align:left;
}
.accept_txt1_2803 a {
	font-size:13px;
	color:#555555;
	text-decoration:none;
}
.accept_txt1_2803 a:hover {
	font-size:13px;
	color:#555555;
	text-decoration:underline;
}
.security_check_sec1_2803 {
	width:328px;
	float:left;
	margin:0 0 0 130px;
}
.making_matter2_2803 {
	width:555px;
	float:left;
	padding:7px 30px 10px 15px;
	font-family:arial;
	color:#252e3d;
	text-align:left;
	font-size:13px;
}
.making_matter2_2803 img {
	margin:0 0 -12px 0;
}
.making_matter2_2803 h3 {
	margin:0px;
	font-family:arial;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}
.making_matter2_2803 h6 {
	margin:0px;
	font-family:arial;
	font-size:13px;
	color:#000000;
	font-weight:normal;
	padding:18px 0 10px 25px;
}
.making_matter2_2803 ul {
	margin:0px;
	padding:0 0 0 25px;
	float:left;
	width:540px;
}
.making_matter2_2803 li {
	margin:12px 0 0 0;
	padding:0 0 0 30px;
	font-size:13px;
	font-weight:normal;
	color:#090909;
	text-align:left;
	background:url(../images/green_tick_2803.jpg) no-repeat 0 0;
	list-style:none;
}
.making_matter2_2803 li span {
	color:#252e3d;
	font-weight:bold;
}
/*******************************************(longsum)***************************************************/
.main_container_outer_ls {
	width:100%;
	float:left;
}
.main_container_ls {
	width:98%;
	margin:0px auto;
}
.main_sec_ls {
	width:100%;
	float:left;
	position:relative;
}
.logo_ls {
	width:100%;
	float:left;
	padding:15px 0 18px 0;
}
.main_matter_ls {
	width:99%;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#000000;
	text-align:left;
	font-weight:normal;
	padding:0 0 0 10px;
	position:relative;
}
.main_matter_ls h3 {
	font-family:Arial;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	padding:6px 0 6px 0
}
.main_matter_ls h6 {
	font-family:Arial;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	padding:10px 0 6px 0
}
.main_matter_ls h5 {
	font-family:Arial;
	font-size:16px;
	color:#e47911;
	font-weight:bold;
	padding:0 0 0 0;
}
.main_matter_ls span {
	font-size:20px;
	color:#48a3c6;
	font-weight:bold;
}
.main_matter_ls p {
	padding:3px 0 7px 0;
}
.main_matter_ls ul {
	margin:0px;
	padding:0 0 15px 0;
	float:left;
	width:100%;
}
.main_matter_ls li {
	margin:10px 0 0 0;
	padding:0 0 2px 30px;
	font-size:13px;
	font-weight:normal;
	color:#090909;
	text-align:left;
	background:url(../images/green_tick_2803.jpg) no-repeat 0 0;
	list-style:none;
}
.main_matter_ls li span {
	font-size:13px;
	color:#252e3d;
	font-weight:bold;
}
.order_sec_ls {
	width:100%;
	float:left;
	padding:4px 0 28px 0;
	margin:10px 0 0 0;
}
.order_summary_txt_ls {
	width:99%;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#000000;
	text-align:left;
	font-weight:bold;
	line-height:25px;
	background-color:#eeeecc;
	padding:0 0 0 10px;
}
.order_matter_ls {
	width:96%;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#000000;
	text-align:left;
	font-weight:normal;
	padding:10px 30px 10px 30px;
}
.show_report_outer_ls {
	width:100%;
	float:left
}
.show_report_sec_ls {
	width:418px;
	margin:0px auto;
}
.show_report_sec1_ls {
	width:418px;
	float:left;
}
.please_txt_ls {
	width:256px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#000000;
	text-align:center;
	font-weight:bold;
	padding:0 0 12px 114px;
}
.email_formfield_sec_1612_ls {
    width:418px;
	float:left;
}
.emailtxt_1612_ls {
    width:109px;
	float:left;
	font-family:Arial;
    font-size:12px;
	color:#000000;
    text-align:right;
	font-weight:normal;
	line-height:21px;
	padding:0 5px 0 0;
}
.email_field_box_1612_ls {
    width:256px;
	float:left;
}
.email_txtbox_1612_ls {
    width:254px;
	float:left;
	font-family:Arial;
    font-size:12px;
	color:#000000;
	background-color:#fff;
    text-align:left;
	font-weight:normal;
	line-height:18px;
	height:18px;
	border:1px solid #acabab;
}
.submit_btn_1612_ls {
    width:80px;
	float:left;
	padding:0 0 0 10px;
}
.accept_txt_1612_ls {
    width:408px;
	float:left;
	font-family:Arial;
    font-size:13px;
	color:#535252;
    text-align:left;
	font-weight:normal;
	padding:6px 0 8px 10px;
}
.yes_btn_1612_ls {
    width:418px;
	float:left;
	text-align:center;
}
.yes_btn_1612_ls img {
    margin:16px 0 16px 0;
}
.copyright_ls {
	width:100%;
	float:left;
	font-family:Arial;
    font-size:12px;
	color:#000000;
    text-align:center;
	font-weight:normal;
	line-height:25px;
	border-bottom:1px solid #808080;
	border-top:1px solid #808080;
}
.main_matter1_ls {
	width:592px;
	margin:0px auto;
	font-family:Arial;
	font-size:13px;
	color:#000000;
	text-align:center;
	font-weight:normal;
}
.main_matter1_ls h3 {
	font-family:Arial;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	padding:6px 0 6px 0
}
.main_matter1_ls h6 {
	font-family:Arial;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	padding:10px 0 6px 0
}
.main_matter1_ls h5 {
	font-family:Arial;
	font-size:16px;
	color:#e47911;
	font-weight:bold;
	padding:0 0 0 0;
}
.main_matter1_ls span {
	font-size:20px;
	color:#48a3c6;
	font-weight:bold;
}
.main_matter1_ls p {
	padding:3px 0 7px 0;
}
.main_matter1_ls ul {
	margin:0px;
	padding:0 0 15px 42px;
	float:left;
	width:550px;
}
.main_matter1_ls li {
	margin:10px 0 0 0;
	padding:0 0 2px 30px;
	font-size:13px;
	font-weight:normal;
	color:#090909;
	text-align:left;
	background:url(../images/green_tick_2803.jpg) no-repeat 0 0;
	list-style:none;
}
.main_matter1_ls li span {
	font-size:13px;
	color:#252e3d;
	font-weight:bold;
}
.how_works_ls {
	position:absolute;
	top:-50px;
	right:0px;
	font-family:Arial;
	font-size:15px;
	color:#000000;
	text-align:left;
	font-weight:normal;
}
/*******************************************(OneStyle)***************************************************/
.container_os_0204 {
	width:100%;
	float:left;
}
.header_container_os_0204 {
	width:100%;
	float:left;
	background:url(../images/onestyle_bgrepeat_0204.jpg) left top repeat-x;
	border-bottom:1px solid #000424;
	border-top:1px solid #000424;
}
.wrapper_os_0204 {
	width:949px;
	margin:0px auto;
}
.header_main_os_0204 {
	width:949px;
	float:left;
	height:68px;
	position:relative;
}
.logo_os_0204 {
	position:absolute;
	top:0xp;
	left:0px;
}
.header_txt_os_0204 {
	width:163px;
	float:right;
	font-family:Arial;
	font-size:27px;
	color:#fff000;
	font-weight:bold;
	text-align:center;
	line-height:21px;
	padding:3px 0 0 0;
}
.header_txt_os_0204 span {
	font-size:15px;
	color:#fff000;
}
.header_txt_os_0204 span.only {
	font-size:13px;
	color:#fff000;
	font-weight:normal;
}
.mid_container_os_0204 {
	width:100%;
	float:left;
	background:url(../images/onestyle_blue_bgrepeat1_0204.jpg) left 401px repeat-x;
	border-top:2px solid #004682;
}
.mid_container_os1_0204 {
	width:100%;
	float:left;
	background:url(../images/onestyle_blue_bgrepeat_0204.jpg) left top repeat-x;
	border-top:1px solid #0073d2;
	position:relative;
}
.mid_main_os_0204 {
	width:902px;
	float:left;
	background:url(../images/onestyle_blue_bg_0204.jpg) left top no-repeat;
	position:relative;
	padding:0 24px 0 23px;
}
.mid_leftsec_os_0204 {
	width:442px;
	float:left;
	position:relative;
}
.mid_receivetxt_os_0204 {
	width:438px;
	float:left;
	padding:20px 0 4px 4px;
}
.mid_receivetxt1_os_0204 {
	width:442px;
	float:left;
	padding:20px 0 1px 0;
}
.mid_box1_os_0204 {
	width:442px;
	float:left;
	position:relative;
}
.mid_box1_topbotbg_os_0204 {
	width:442px;
	float:left;
}
.mid_box1_inner_os_0204 {
	width:424px;
	float:left;
	background:url(../images/onestyle_transbg_0204.png) left top repeat;
	font-family:Arial;
	font-size:13px;
	color:#ffffff;
	font-weight:normal;
	text-align:left;
	min-height:231px;
	line-height:17px;
	padding:3px 8px 0 10px;
}
.mid_box1_inner_os_0204 h3 {
	font-family:Arial;
	font-size:13px;
	color:#ffffff;
	font-weight:bold;
	padding:0 0 6px 0;
}
.mid_box1_inner_os_0204 ul {
	margin:0px;
	padding:0px;
}
.mid_box1_inner_os_0204 li {
	margin:0px;
	padding:0px;
	list-style:none;
	display:block;
	background:url(../images/onestyle_bullet_0204.png) left 4px no-repeat;
	padding:0 0 0 8px;
}
.mid_box1_inner_os_0204 span {
	color:#ffffff;
	font-weight:bold;
}
.email_sec_os_0204 {
	width:390px;
	float:left;
	position:relative;
	margin:-56px 0 0 15px;
	z-index:1;
}
.email_txt_os_0204 {
	width:378px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	line-height:50px;
	background:url(../images/onestyle_topcrve1_0204.png) left top no-repeat;
	padding:6px 6px 0 6px;
}
.address_section_os_0204 {
	width:349px;
	float:left;
	background:url(../images/onestyle_innerbgrepeat_0204.png) left top repeat-y;
	padding:5px 6px 0 35px;
}
.type_emailtxt_os_0204 {
	width:330px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#535252;
}
.type_emailtxt_os_0204 h3 {
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:center;
	color:#535252;
}
.email_sec1_os_0204 {
	width:211px;
	float:left;
	padding:10px 0 18px 49px;
}
.email_txt1_os_0204 {
	width:211px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#035caa;
	padding:0 0 3px 0;
}
.clicking_yes_no_os_0204 {
	width:211px;
	float:left;
	text-align:center;
	padding:0 10px 0 49px;
}
.clicking_yes_no_os_0204 input {
	margin:6px 0 6px 0;
}
.clicking_yes_no_os_0204 img {
	margin:6px 0 6px 0;
}
.email_botbg_os_0204 {
	width:390px;
	float:left;
}
.mid_rightsec_os_0204 {
	width:411px;
	float:right;
	position:relative;
}
.mid_makingtxt_os_0204 {
	width:407px;
	float:left;
	padding:20px 0 4px 4px;
}
.mid_box2_os_0204 {
	width:411px;
	float:left;
	position:relative;
}
.mid_box2_topbotbg_os_0204 {
	width:411px;
	float:left;
}
.mid_box2_inner_os_0204 {
	width:393px;
	float:left;
	background:url(../images/onestyle_transbg_0204.png) left top repeat;
	font-family:Arial;
	font-size:13px;
	color:#ffffff;
	font-weight:normal;
	text-align:left;
	line-height:17px;
	padding:0px 8px 0 10px;
}
.mid_box2_inner_os_0204 h3 {
	font-family:Arial;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
	padding:0 0 3px 0;
}
.yes_no_year_os_0204 {
	width:349px;
	float:left;
}
.clicking_yes_no1_os_0204 {
	width:136px;
	float:left;
	margin:0 0 0 47px;
}
.clicking_yes_no1_os_0204 img {
	margin:6px 0 6px 0;
}
.yes_no_txt_os_0204 {
	width:160px;
	float:right;
	font-family:Arial;
	font-size:27px;
	color:#055ba9;
	font-weight:bold;
	text-align:center;
	line-height:21px;
	padding:3px 0 0 0;
}
.yes_no_txt_os_0204 span {
	font-size:15px;
	color:#055ba9;
}
.yes_no_txt_os_0204 span.only {
	font-size:13px;
	color:#055ba9;
	font-weight:normal;
}
.mid_leftsec1_os_0204 {
	width:411px;
	float:left;
	position:relative;
	padding:0 0 0 7px;
}
.mid_rightsec1_os_0204 {
	width:442px;
	float:right;
	position:relative;
}
.making_txt_os_0204 {
	width:411px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#ffffff;
	font-weight:normal;
	text-align:left;
	line-height:17px;
	padding:20px 0 0 0;
}
.making_txt_os_0204 h3 {
	font-family:Arial;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
	padding:0 0 7px 0;
}
.making_txt_os_0204 img {
	margin:0 0 2px -3px;
}
.making_txt_os_0204 p {
	padding:0 15px 0 0;
}
.inner_list_os_0204 {
	width:424px;
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#ffffff;
	font-weight:normal;
	text-align:left;
	line-height:17px;
	padding:20px 8px 10px 10px;
}
.inner_list_os_0204 h3 {
	font-family:Arial;
	font-size:13px;
	color:#ffffff;
	font-weight:bold;
	padding:0 0 6px 0;
}
.inner_list_os_0204 ul {
	margin:0px;
	padding:0px;
}
.inner_list_os_0204 li {
	margin:0px;
	padding:0px;
	list-style:none;
	display:block;
	background:url(../images/onestyle_bullet_0204.png) left 4px no-repeat;
	padding:0 0 0 8px;
}
.inner_list_os_0204 span {
	color:#ffffff;
	font-weight:bold;
}
.inner_list_os_0204 img {
	margin:0 0 2px -5px;
}
.email_sec_new_os_0204 {
	width:390px;
	float:left;
	position:relative;
	margin:0 0 0 15px;
}
.copyright_os_0204 {
	width:949px;
	float:left;
	font-family:Arial;
    font-size:12px;
	color:#000000;
    text-align:center;
	font-weight:normal;
	padding:8px 0 8px 0;
	margin:100px 0 0 0;
}


.history_database_txt ul.new_250512 {
	margin:0px;
	padding:0px;
}
.history_database_txt ul.new_250512 li {
	margin:0px;
	padding:0px;
	list-style:none;
	display:block;
	width:490px;
	float:left;
	font-size:13px;
	color:#213855;
	background:url(../images/bullet1.png) 13px 9px no-repeat;
	line-height:19px;
	padding:5px 0 0 32px;
}
.history_database_txt ul.new_250512 li span {
	color:#10404a;
}



.middle_right_section_250512 {
	width:494px;
	float:right;
	margin:0 0 0 0px;
}
.details_matter_250512 {
	width:480px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#535252;
	border:1px solid #cccccc;
	padding:6px 6px 0 6px;
	min-height:480px;
}
.details_matter_250512 h3 {
	font-size:17px;
	color:#535252;
	font-weight:bold;
	padding:0 0 16px 0;
}
.details_matter_250512 p {
	padding:0 0 0 0;
}
.details_matter_250512 span {
	   font-family:arial;
    font-size:14px;
    color:#777777;
    font-weight:bold;
}
.privacy_terms_txt_250512 {
	width:488px;
	float:left;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	color:#777777;
	padding:5px 0 0 6px;
}
.privacy_terms_txt_250512 a {
	color:#777777;
	text-decoration:none;
}
.service_sec_25012{width:480px; float:left; padding:10px 0 0 0;}
.service_sec_l_25012{width:100px; float:left; font-family:Arial; font-size:13px;	font-weight:bold; text-align:right; color:#535252; padding:0 10px 0 0;}
.service_sec_r_25012{width:360px; float:left; font-family:Arial; font-size:13px; font-weight:normal; text-align:left; color:#535252;}
.service_sec_r_25012 a{color:#535252; text-decoration:none;}


.middle_left_section_250512 {
	width:336px;
	float:left;
}
.type_txt_250512 {
	width:321px;
	float:left;
	background:url(../images/blue_topbg_250512.jpg) left top no-repeat;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	color:#ffffff;
	height:42px;
	line-height:42px;
	padding:0 0 0 15px;
}
.address_section_250512 {
	width:324px;
	float:left;
	background-color:#fff;
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	padding:5px 5px 0 5px;
}
.type_emailtxt_250512 {
	width:324px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#4e4e4e;
	padding:5px 0 3px 0;
}
.service_sec1_25012{width:324px; float:left; padding:5px 0 0 0;}
.service_sec1_l_25012{width:60px; float:left; font-family:Arial; font-size:13px; font-weight:bold; text-align:right; color:#535252; padding:0 10px 0 0;}
.service_sec1_r_25012{width:240px; float:left; font-family:Arial; font-size:13px; font-weight:normal; text-align:left; color:#535252;}
.email_sec_250512 {
	width:211px;
	float:left;
	padding:12px 0 12px 55px;
}
.email_txt_250512 {
	width:211px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	color:#13599e;
	padding:0 0 3px 0;
}
.clicking_yes_no_250512 {
	width:320px;
	float:left;
	text-align:center;
	padding:10px 0 0 0;
}
.blue_bottombg_250512 {
	width:336px;
	float:left;
	clear:both;
}
.clicking_yes_no_130912 {
	width:320px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	color:#000000;
	text-align:center;
	padding:10px 0 0 0;
}
.clicking_yes_no_130912 p {
	margin:5px 0 8px 0;
}
.clicking_yes_no_130912 img {
	margin:0 0 0 0;
}
.clicking_yes_no_130912 input {
	margin:0 0 0 0;
}

.clicking_yes_no_130912 {
	width:320px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	color:#000000;
	text-align:center;
	padding:10px 0 0 0;
}
.clicking_yes_no_130912 {
	width:251px;
	float:left;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	color:#000000;
	text-align:center;
	padding:0 0 0 29px;
}
.clicking_yes_no_130912 input {
	margin:0px;
}
.clicking_yes_no_130912 img {
	margin:0px;
}
.clicking_yes_no_130912 p {
	margin:5px 0 8px 0;
}

.agree_120213{position:relative; width:320px; height:60px; float:left; margin:10px 0 7px 5px;}
.agree_120213 p{float:left; width:290px; font-family:arial; font-size:13px; font-weight:normal; color:#000; margin-left:3px; }
.agree_120213 p span{ font-size:10px;}
.agree_120213 p span a{ color:#003cfe;}
.logo_1708 {
    position:absolute;
    top:22px;
    right:2px;
    z-index:1;
    text-align:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    color:#000;
    font-weight:bold;
}
.logo_1708 span{color:#266bd3;}

.logo_1708 p{color:797979; font-family:arial; font-size:12px; font-weight:bold; margin:0 0 0 10px;}
*:focus {
    outline: none;
}
