
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
    #Reset & Basics
    #Basic Styles
    #Site Styles
    #Typography
    #Links
    #Lists
    #Images
    #Buttons
    #Forms
    #Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }


/* #Basic Styles
================================================== */
body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* #Images
================================================== */

img.scale-with-grid {
  max-width: 100%;
  height: auto; }


/* #Buttons
================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eee; /* Old browsers */
  background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
  background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
  background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
  background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
  background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
  background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #ddd; /* Old browsers */
  background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
  background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
  background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
  background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
  background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
  background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc; /* Old browsers */
  background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
  background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
  background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
  background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
  background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
  background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* #Forms
================================================== */

form {
  margin-bottom: 20px; }
fieldset {
  margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }
select {
  padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
  min-height: 60px; }
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;  }
select {
  width: 220px; }
input[type="checkbox"] {
  display: inline; }
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

/* #Misc
================================================== */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }

/* Custom */

body {
  background: url("../images/report_steps_bg.jpg") repeat fixed left top;
  font-family: Arial,Geneva,Verdana,sans-serif;
  margin: 0;
  padding: 0;
}
body.noscroll {
  overflow-y: hidden;
}
.clear {
  clear: both;
}
.otherwindowbutton {
  display: block;
  width: 340px;
  height: 70px;
  background-color: #598920;
  font-size: 16px;
  font-weight: bold;
  color: white !important;
  margin: 0 auto;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.altoresearch {
  margin: 16px 0 0 0;
}
.altoresearchart {
  float: left;
}
.altoresearchtext {
  width: 270px;
  float: right;
  margin: 32px 0 0 0;
}
.altoresearchtext span {
  font-weight: bold;
  color: #c2261c;
}
#homeinsurance form {
  width: 200px;
  margin: 0 auto 14px;
  height: 28px;
  text-align: center;
  font-size: 16px;
}
#homeinsurance h3,
#mortgagerates h3 {
  color: #598920;
  font-size: 16px;
  text-align: center;
}
#homeinsurance input {
  width: 74px;
  font-weight: bold;
  display: inline;
  height: 16px;
  padding: 4px;
}
#homeinsurance label {
  text-align: right;
  width: 80px;
  padding: 0 10px 0 0;
  font-weight: bold;
  display: inline;
  line-height: 24px;
}
#mortgagerates label {
  float: left;
  width: 120px;
  text-align: left;
  margin-right: 8px;
  line-height: 24px;
}
#mortgagerates input {
  float: left;
  width: 148px;
  height: 16px;
  line-height: 16px;
  padding: 4px;
  margin: 0;
}
#mortgagerates form {
  background-color: #b9d3e3;
  padding: 16px;
  text-align: center;
}
#mortgagerates select {
  height: 18px;
  padding: 0px;
  width: 150px;
  margin: 0;
  border: none;
}
.selectwrap {
  float: left;
  background-color: white;
  border: 1px solid #ccc;
  width: 150px;
  height: 18px;
  padding: 3px;
}
.mortgageratesblock {
  width: 364px;
  margin: 0 auto;
}
.mrfiled {
  float: left;
  width: 158px;
  margin: 0 12px 12px 12px;
}
#mortgagerates h1 {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0 0 0;
}
#mrform {
  width: 450px;
  margin: 0 auto;
}
#main {
  margin: 0 auto;
  width: 960px;
}
#main-container {
  float: left;
  width: 100%;
}
#main-section {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
}
#main-inner-section {
  background: none repeat scroll 0 0 white;
  border: 1px solid #ededed;
  padding: 0 18px 18px;
  position: relative;
}
#top-section {
  height: 100px;
  width: 960px;
  margin: 0 auto;
}
#logo {
  background: #FFFFFF url(../images/logo.png) no-repeat 4px 4px;
  box-shadow: 0 1px 4px 0 #000000;
  color: #1872AC;
  font-size: 25px;
  font-weight: bold;
  width: 320px;
  height: 64px;
  float: left;
  padding: 0px;
}
.record-head {
  background: url("../images/record-head.png") no-repeat scroll center top rgba(0, 0, 0, 0);
  position: relative;
  text-align: center;
  width: 940px;
  margin-top: -1px;
}
.record-head h3 {
  color: #FFFFFF;
  font-family: arial;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px 0 10px;
  text-align: center;
  margin: 0;
}
.record-head h4 {
  color: #007eaa;
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  line-height: 24px;
  padding: 20px 0;
  text-align: center;
  margin: 0;
}
#steps-info {
  background: transparent url(../images/report_steps_scheme.jpg) no-repeat center 84px;
  height: 550px;
  margin-bottom: 22px;
  padding-top: 1px;
  position: relative;
  border: 5px solid #007eaa;
}
#steps-infop {
  background: transparent url(../images/report_steps_scheme_p.jpg) no-repeat center 84px;
  height: 550px;
  margin-bottom: 22px;
  padding-top: 1px;
  position: relative;
  border: 5px solid #007eaa;
}
#steps-title {
  color: #007EAA;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top: 30px;
  left: 65px;
}
#steps-row1 {
  margin: 172px auto 0;
  height: 138px;
  width: 900px;
  padding: 0 0 0 4px;
}
#steps-row2 {
  margin: 86px auto 0;
  height: 140px;
  width: 900px;
  padding: 0 0 0 4px;
}
.step-info {
  float: left;
  width: 178px;
  height: 140px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #4f4f4f;
}
.step-info-big {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.step-info-hl {
  color: #007EAA;
}
.reportsection {
  border: 5px solid #007eaa;
  margin-bottom: 22px;
}
.sectiontop {
  height: 89px;
  border-bottom: 1px solid #cccccc;
  background-color: #eeeeee;
  color: white;
  font-size: 44px;
  line-height: 44px;
  font-weight: bold;
}
.sectiontopstep {
  height: 65px;
  padding: 24px 34px 0 34px;
  background: #007eaa url(../images/step_arrow.png) no-repeat right top;
  float: left;
}
.sectiontoparrow {
  background: transparent url(../images/step_arrow.png) no-repeat right -1px;
  width: 73px;
  height: 89px;
  float: left;
}
.sectiontitle {
  color: #4f4f4f;
  font-weight: bold;
  float: left;
  padding: 24px 0 0 8px;
}
.sectioncontent {
  padding: 30px;
}
.sectiondivide {
  border-bottom: 2px solid #cccccc;
  margin: 0 0 38px 0;
}
.sectionpart {
  padding: 0 20px 14px;
}
.sectionpartop {
  margin: 0 0 12px 0;
}
.sectionpartleft {
  font-size: 32px;
  line-height: 32px;
  color: #4f4f4f;
  vertical-align: top;
}
.sectionpartright {
  font-size: 16px;
  color: #4f4f4f;
  display: inline-block;
  padding: 9px 0 0 5px;
}
.sectionpartright b {
  font-weight: bold;
}
.expert {
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 0 0 16px 0;
}
.advice {
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #aaaaaa;
  padding: 0px 14px 0 130px;
  min-height: 111px;
  line-height: 105px;
  background: transparent url(../images/expert_advice.jpg) no-repeat 16px 15px;
  font-size: 16px;
  color: #4f4f4f;
}
.advice span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#propdetails {
  width: 314px;
  float: left;
}
#propdetailsmap {
  width: 490px;
  height: 300px;
  float: right;
}
.greypropdetail {
  color: #444;
  font-size: 16px;
}
h4.greypropdetail {
  font-size: 20px;
}
.propdetailaddr {
  color: black;
  font-size: 18px;
}
#streetview {
  float: right;
  width: 460px;
  height: 248px;
}
#valuerange {
  position: relative;
  width: 467px;
  height: 82px;
  margin: 30px auto 14px;
  background: transparent url(../images/valuebar.png) no-repeat center 18px;
}
#homerangelow {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#homerangemedian {
  text-align: center;
}
#homerangehigh {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#comparablesales {
  width: 718px;
  height: 335px;
  margin: 40px auto 0;
  background: transparent url(../images/comparablesales.jpg) no-repeat center top;
}
#gmap {
  height: 430px;
  margin: 0 auto;
}
#birdeye {
  width: 810px;
  height: 398px;
}
#localcrimes {
  height: 398px;
  margin: 0 0 14px 0;
  border: solid 1px #00aeef;
}
#table_container {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: solid 3px #00aeef;
  margin-bottom: 0;
  padding: 8px;
}
#table_container td {
  margin: 0;
  padding: 0;
  line-height: 20px;
  height: 20px;
}
#crimerisk {
  margin: 0 auto;
  width:800px;
  height:380px;
}
#householdincome { width:800px; height: 420px; margin: 0 auto; }
#demographics {
  margin: 24px 0 14px 0;
}
#demographics .ditem {
  float: left;
  width: 200px;
  height: 50px;
  border-right: 1px solid #606060;
}
#demographics .ditem.last {
  border: none !important;
}
#demographics .ditem .dnum {
  color: #204375;
  font-size: 18px;
  text-align: center;
  width: 100%;
}
#demographics .ditem .dinfo {
  color: #606060;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
#educationlevel {
  margin: 0 auto;
  width:800px;
  height:500px;
}
.weather-text {
  color: #383838;
  float: left;
  font-family: arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  position: relative;
  text-align: center;
  width: 850px;
  margin-left: -20px;
}
.weather-text h3 {
  color: white;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 0 10px;
  text-align: center;
  margin: 8px 0 0 0;
}
.weather-text h3 span {
  color: #C72E02;
}
div.weather {
  background-color: rgba(0, 0, 0, 0);
}
div.weather div.conditions {
  background: transparent url("../images/weather/conditions.png") no-repeat scroll left top;
  color: #FFFFFF;
  height: 160px;
  margin-bottom: 15px;
  padding: 69px 0 0;
  position: relative;
  width: 100%;
}
div.weather div.conditions .last-updated {
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 16px;
  text-align: center;
  top: 19px;
  width: 247px;
}
div.weather div.conditions .weather {
  width: 93px;
}
div.weather p, div.weather li {
  margin: 0;
}
div.weather div.conditions .frm {
  float: left;
  font-size: 12px;
  padding: 0 20px;
}
div.weather div.conditions .wind {
  width: 93px;
}
div.weather div.conditions .frm ul {
  margin: 0;
  padding: 0;
}
div.weather div.conditions .frm ul li {
  list-style: none outside none;
}
div.weather div.conditions .preasure {
  width: 92px;
}
div.weather div.conditions .heat {
  width: 84px;
}
div.weather div.conditions .feels-like {
  width: 84px;
}
div.weather div.conditions .solar {
  width: 162px;
}
div.forecast {
  background: transparent url("../images/weather/forecast.png") no-repeat scroll left top;
  float: left;
  height: 60px;
  padding: 118px 0 0 100px;
  width: 751px;
  margin-left: -20px;
}
div.forecast ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
div.forecast ul.sun {
  float: left;
  width: 314px;
}
div.forecast ul li {
  float: left;
  padding-left: 15px;
  width: 136px;
}
div.forecast ul li.first {
  border-right: 1px solid #7A7A7A;
}
div.forecast ul.moon {
  float: right;
  width: 314px;
  margin: 0 52px 0 0;
}
#ebook {
  margin-left: -50px;
}
#ebook b {
  font-weight: bold;
}
#ebookimg {
  float: left;
  width: 418px;
}
#ebooktxt {
  float: left;
  width: 440px;
  padding: 14px 0 0 0;
}
#ebooklink {
  text-align: center;
}
#ebooklink strike {
  color: #990000;
  font-size: 48px;
  line-height: 52px;
}
#ebooklink a {
  color: #0000ff;
  font-size: 20px;
}
#transportation {
  height: 500px;
  margin: 0 auto;
  width: 100%;
}
#weatherrisk { height: 350px; margin:0 auto; }
.ww-footer-link-a {
  display: none !important;
}
#comparable_props { border: 1px solid black; border-radius:6px; -moz-border-radius: 6px; padding:10px; }
#ftbcomparable {
  overflow: hidden;
  width: 790px;
  max-width: 810px;
  margin:0 auto;
  position: relative;
}
#ftbblock1 {
  position: absolute;
  bottom: 3px;
  left: 5px;
  background-color: white;
  width: 780px;
  height: 35px;
  z-index: 10000;
}
#ftbblock2 {
  position: absolute;
  top: 6px;
  left: 5px;
  background-color: white;
  width: 186px;
  height: 35px;
  z-index: 10002;
}
#ftbblock3 {
  position: absolute;
  top: 6px;
  right: 3px;
  background-color: white;
  width: 50px;
  height: 35px;
  z-index: 10003;
}
a[href*="spotcrime"] {
  display: none;
}
a[href*="amcharts"] {
  display: none !important;
}
#alert {
  display: none;
  max-width: 942px;
  font-size: 22px;
  padding: 10px 5px;
  border: solid 4px #00aeef;
  background: white;
  text-align: center;
  margin: 0 0 14px 0;
}
#update_address_button {
  display: block;
  width: 180px;
  background-color: white;
  border: solid 4px #00aeef;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 12px 0px 12px 0px;
  float: right;
  margin-bottom: 10px;
  color: #00aeef;
  text-decoration: none;
}
#address {}
#prop_ownership { height: 390px;margin:0 auto; }
#formwrap form {
  margin: 0 0 6px 0;
}
#formwrap form input {
  height: 40px;
  max-width: 580px;
  min-width: 50%;
  font-size: 24px;
  color: #4f4f4f;
  padding-left: 10px;
  float: left;
  margin-bottom: 10px;
  width: 580px;
}
#school_districts {  }

#report_miss {
  background: transparent url("../../images/report_miss.png") no-repeat scroll left top;
  bottom: 148px;
  cursor: pointer;
  height: 59px;
  position: fixed !important;
  right: 12px;
  width: 263px;
  z-index: 101;
}
.footer-section {
  padding: 30px 0 20px;
  width: 960px;
}
.footer {
  color: black;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  position: relative;
  text-align: center;
  width: 960px;
}
.footer p {
  padding: 0 0 25px;
}
#buyers_market {
  width: 502px;
  margin: 0 auto;
  font-size: 16px;
  color: #4f4f4f;
}
.bmarket {
  float: left;
  height: 58px;
  padding-left: 72px;
  margin-bottom: 32px;
}
#bm1 {
  background: transparent url("../images/sale.png") no-repeat left top;
}
#bm2 {
  background: transparent url("../images/dollar.png") no-repeat left top;
}
#bm3 {
  background: transparent url("../images/bank_sale.png") no-repeat left top;
}
.bml {
  width: 304px;
  float: left;
  text-align: left;
  line-height: 58px;
}
.bmr {
  width: 116px;
  float: right;
  text-align: right;
  line-height: 58px;
}

/* start report popup styles */

#popup1 {
  position: relative;
  display: none;
}
#popup1_email {

}
#popup1_txt {
  width: 100%;
  margin: 58px 0 0 0;
  font-family: Arial,sans-serif;
  font-size: 14px;
  text-align: center;
}
#popup1_txt a {
  color: #e55207;
  font-family: Arial,sans-serif;
  font-size: 14px;
  margin: 0 0 14px 0;
  font-weight: bold;
  border: none;
  outline: none;
}
#popup1_txt div {
  height: 100px !important;
}
.popup1 .ui-dialog-titlebar {
  display: none !important;
}
.popup1 {
  background: transparent url("../../images/popup1.png") no-repeat scroll left top;
}
#report_miss {
  background: transparent url("../../images/report_miss.png") no-repeat scroll left top;
  position: fixed !important;
  right: 12px;
  bottom: 148px;
  width: 263px;
  height: 59px;
  z-index: 101;
  cursor: pointer;
}
.popup1 .ui-button {
  width: 164px;
  height: 62px;
  padding: 0 !important;
  background: transparent url("../../images/popup1btn.png") no-repeat scroll left top;
  border: none;
  color: white;
  margin: 0 0 0 156px !important;
  position: relative;
  bottom: 90px;
  float: left;

}
.popup1 .ui-button:hover {
  background: transparent url("../../images/popup1btn.png") no-repeat scroll left -63px;
}
.popup1 .ui-button span {
  font-family: Arial, sans-serif;
  font-size: 26px !important;
  font-weight: bold;
  line-height: 28px;
  float: left;
  display: block;
  position: absolute;
  left: 26px;
  top: 13px;
}
.popup1 .ui-dialog-buttonset {
  width: 508px;
}

#popup2 {
  position: relative;
  display: none;
}
.popup2 .ui-dialog-titlebar {
  display: none !important;
}
.popup2 {
  background: transparent url("../../images/popup2.png") no-repeat scroll left top;
}
#popup2_txt {
  width: 100%;
  text-align: center;
  margin: 74px 0 0 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

#popup_form_div {
  display: none;
  margin: 0;
  padding: 50px 0 0 0;
  background: transparent url("../../images/popup_form.png") no-repeat scroll left top;
}
#popup_form {
  position: relative;
  margin: 0 0 0 17px;
}
.popup_form .ui-dialog-titlebar {
  display: none !important;
}
.popup_form {
  background: transparent url("../../images/popup_form_flex.png") repeat-x scroll left top;
}
#popup_form input[type=text] {
  width: 214px;
  height: 26px;
  padding: 3px;
  margin: 0;
}
#popup_form label {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 2px 0;
  width: 210px;
}
#popup_form textarea {
  width: 458px;
  height: 118px;
  padding: 3px;
}
#popup_form_name {
  float: left;
  margin: 5px 20px 8px 0;
  width: 220px;
}
#popup_form_email {
  float: left;
  margin: 5px 0 8px 0;
  width: 224px;
}
#popup_form_text {
  float: left;
  width: 464px;
  position: relative;
}
.popup_form .ui-button {
  width: 164px;
  height: 62px;
  padding: 0 !important;
  background: transparent url("../../images/popup1btn.png") no-repeat scroll left top;
  border: none;
  color: white;
  margin: 8px auto 0 !important;
  position: relative;
  bottom: 0px;
  display: block;
}
.ui-button {
  cursor: pointer;
}
.popup_form .ui-button:hover {
  background: transparent url("../../images/popup1btn.png") no-repeat scroll left -63px;
}
.popup_form .ui-button span {
  font-family: Arial, sans-serif;
  font-size: 26px !important;
  font-weight: bold;
  line-height: 28px;
  float: left;
  display: block;
  position: absolute;
  left: 36px;
  top: 13px;
}
.popup_form_err {
  background-color: #C20000;
  border: 1px solid #FF7070;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  float: left;
  font-family: Arial;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  margin: 2px 0 2px 17px;
  padding: 3px;
  text-align: left;
  width: 458px;
}
.popup_form_bottom {
  width: 500px;
  height: 10px;
  position: relative;
  bottom: -10px;
  background: transparent url("../../images/popup_form_bottom.png") no-repeat scroll left top;
}
#popup_loading {
  width: 35px;
  height: 35px;
  background: transparent url("../../images/blueloading.gif") no-repeat scroll left top;
  margin: auto;
  position: absolute;
  top: 64px; left: 215px;
}
.popup_close {
  width: 28px;
  height: 30px;
  background: transparent url("../../images/popup_close.png") no-repeat scroll left top;
  position: absolute;
  right: -12px;
  top: -6px;
  cursor: pointer;
}

.ui-widget-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: url("/js/jquery-ui-1.10.3.custom/css/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #AAAAAA;
  opacity: 0.3;
}
.ui-front {
  z-index: 1500;
}
.ui-widget-overlay {
  z-index: 1000;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: visible;
}
.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc url(js/jquery-ui-1.10.3.custom/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222222;
  font-weight: bold;
}
.ui-widget-header a {
  color: #222222;
}
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget-overlay {
  background: transparent url(../../images/overlay_bg.png) left top repeat;
  opacity: .9;
  filter: Alpha(Opacity=90);
}

/* end report popup styles */
