{% extends "base.html.twig" %}
{% block content %}
<body id="login_body">
    <div id="login_wrap">
        <a href="/" id="login_back">&larr;&nbsp;Back To Home</a>
        {% form_theme form 'form.html.twig' %}
        <form action="" method="post" id="loginform">
            <div id="login_logo"></div>
            <h1>Search for password</h1>
            <div id="username_block">
                <label for="username" >Email:</label>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            {% if error %}
                <span class="form-error">{{ error }}</span>
            {% endif %}
            <input type="submit" value="Submit" style="margin-top:0;margin-bottom:24px;" />
            {{ form_rest(form) }}
            <h1>{{ password }}</h1>
        </form>
    </div>
</body>
{% endblock %}