.uss-price-details{
  text-align: right;
  position: relative;
  margin: 16px 0 0 0;
}
.uss-price-txt {
  display: block;
  float: right;
  position: relative;
  top: -9px;
}
.uss-price-amount {
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin: 8px 0 0 10px;
  vertical-align: bottom;
}
.uss-price-amount33 {
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin: 8px 6px 0 2px;
  vertical-align: bottom;
}
.btn-info {
    bottom: -10px;
    color: #9e9d9d;
    font-size: 10px;
    padding: 0 1px 0 0;
    position: relative;
    text-align: right;
}
.btn-info2 {
    bottom: 22px;
    color: #9e9d9d;
    font-size: 10px;
    padding: 0 1px 0 0;
    position: relative;
    text-align: right;
}
.uss-product-wrapper-bttm2 form {
    display: inline-block;
}
.uss-product-wrapper-bttm2 {
    text-align: center;
}
#upgradetoday2 {
    background: url("../images/upgradetoday2.png") no-repeat scroll 420px top transparent;
    height: 68px;
    width: 100%;
}
ul.uss-prod-detail-list li, .uss-prod-desc-float ul li {
    padding: 4px 0 4px 20px;
    text-align: left;
}
.uss-p-offer-hd {
    text-align: left;
}
.uss-product-wrapper-bttm2 {
    background: url("../images/bg_grd_vrt_wht_gry_1x84.gif") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
    clear: both;
    text-align: center;
}
.uss-cont-prod-content {
    background-color: #fff;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 2px 2px;
    height: 444px;
    margin: 0 auto;
    padding: 14px 0;
    position: relative;
    width: 309px;
}
.uss-price-options-links {
  bottom: 78px;
}
/* CVV Tooltip start */
a.cvv {outline:none; }
a.cvv strong {line-height:30px;}
a.cvv:hover {text-decoration:none;} 
a.cvv span {
  z-index:10;display:none; padding:14px;
  margin-top:16px; margin-left:-140px;
  width:400px; line-height:16px;
}
a.cvv:hover span{
  display:inline; position:absolute; color:#111;
  border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:-12px;border:0;left:32px;}

/*CSS3 extras*/
a.cvv span
{
  border-radius:4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  -moz-box-shadow: 5px 5px 8px #CCC;
  -webkit-box-shadow: 5px 5px 8px #CCC;
  box-shadow: 5px 5px 8px #CCC;
}
/* CVV Tooltip end */
