
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{outline:0;border:0;background:transparent;vertical-align:baseline;font-size:100.01%;margin:0;padding:0;}
body{line-height:1;background:#f7f7f7;text-align:center;margin:0;padding:0;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
:focus{outline:0;}
del{text-decoration:line-through;}
table{border-spacing:0;border-collapse:collapse;}
.cf:before,.cf:after{display:table;content:"";}
.cf{zoom:1;}
.table{display:table;}
.tr{display:table-row;}
.thead{display:table-header-group;}
.tbody{display:table-row-group;}
.tfoot{display:table-footer-group;}
.tcol{display:table-column;}
.tcolgroup{display:table-column-group;}
.td,.th{display:table-cell;}
.caption{display:table-caption;}
html,body{min-height:100%;height:100%;font-size:100.01%;font-family:Arial,Helvetica,sans-serif;}
p,li{font-size:.75em;}
#uss-wrapper{background:url(../images/uss_gradient_bk_1029x1.gif) repeat-y;text-align:left;min-width:1029px;width:auto;min-height:100%;background-position:top center;margin:0 auto;}
.uss-clearfix:after{display:block;visibility:hidden;clear:both;height:0;content:" ";font-size:0;}
* html .uss-clearfix{height:1%;}
.uss-offer-detail-pop-link{display:block;clear:both;text-align:right;}
a.uss-offer-detail-pop-link{color:#999;text-decoration:none;}
.uss-pop-box{clear:both;padding-bottom:15px;border:10px solid #999;background-color:#fff;border-width:0 10px 10px;}
.uss-pop-box h2{background-color:#999;color:#fff;text-align:left;font-weight:700;font-size:16px;font-family:Arial,Helvetica,sans-serif;line-height:36px;}
.uss-pop-box h4{text-align:left;font-weight:700;padding:15px 18px 0;}
.uss-pop-box h2 a{display:block;background:url(../images/close_btn_gray_white_11x11.gif) right no-repeat;color:#fff;text-align:right;font-weight:400;font-size:12px;margin:0;padding:0 16px 0 0;}
.uss-dyn-form-error{border:1px solid #f60;}
select.uss-dyn-form-error{background-color:#fcc0bd;}
.uss-dyn-pop-box{clear:both;overflow:hidden;padding-bottom:15px;border:10px solid #999;background-color:#fff;text-align:left;border-width:0 10px 10px;}
.uss-dyn-pop-box-ov{overflow:hidden;}
.uss-dyn-pop-box-ov .uss-dyn-dialog{overflow:auto;height:100%;}
.uss-dyn-pop-box h2.uss-title,.uss-dyn-pop-box-ttl{display:block;background-color:#999;color:#fff;text-align:left;font-weight:700;font-size:16px;font-family:Arial,Helvetica,sans-serif;line-height:36px;margin:0;padding:0;}
.uss-dyn-pop-box h2.uss-title a,.uss-dyn-pop-box .uss-dyn-pop-box-cls-btn{display:block;color:#fff;text-align:right;text-decoration:none;font-weight:400;font-size:12px;background:url(../images/btn_close_23x23.png) no-repeat right;margin:0;padding:0 16px 0 0;}
.uss-dyn-overlay{position:fixed;top:0;right:0;bottom:0;left:0;width:auto;height:100%;background:#333;}
.uss-dyn-avail-pop-hd{margin-bottom:11px;padding-bottom:5px;background:url(../images/title_decoration_350x5.gif) no-repeat bottom left;font-weight:400;font-size:18px;}
.uss-dyn-avail-pop-dialog{padding:7px 11px 10px;}
.uss-state-list{float:left;padding-bottom:7px;width:115px;}
.uss-state-list li{padding-left:16px;color:#CCC;font:bold 12px/20px Arial,Helvetica,sans-serif;}
.uss-state-list li.uss-js-active{background:#FFF url(../images/check_mark_green_11x12.gif) no-repeat left center;}
.uss-state-list li a{color:#36F;text-decoration:none;}
.uss-dyn-avail-pop h3{clear:both;padding-left:6px;height:31px;background:url(../images/tabs/green_bar_cap_left_6x31.gif) no-repeat left;}
.uss-dyn-avail-pop h3 b{display:block;margin-right:6px;padding-left:5px;background:#9C0;color:#FFF;line-height:31px;}
.uss-dyn-avail-pop h3 span{float:right;width:6px;height:31px;background:url(../images/tabs/green_bar_cap_right_6x31.gif) no-repeat left;}
img#uss-green-arrow{display:block;margin-left:19px;}
.uss-state-info h4{color:#336;font-size:18px;padding:5px 0 7px 13px;}
.uss-state-info h4 b{color:#9C0;}
.uss-detail-sections th{padding-bottom:3px;border-bottom:2px solid #8c8c8c;color:#333;font-size:12px;}
.uss-detail-sections th,.uss-detail-sections td{padding-left:20px;text-align:left;}
.uss-detail-sections td{padding-top:7px;color:#666;font-size:12px;}
.uss-year-started{width:110px;}
.uss-data-source{width:108px;}
.uss-description{width:380px;}
.uss-county{width:253px;}
.uss-marriages{width:167px;}
.uss-divorces{float:none;margin-left:420px;width:183px;}
.uss-judgement{float:none;}
.uss-judgement h5{padding-bottom:3px;border-bottom:2px solid #8c8c8c;color:#333;font-size:12px;padding-left:20px;}
.uss-judgement p{padding-top:7px;padding-right:20px;padding-left:20px;color:#666;font-size:12px;}
.uss-judgement th{padding-bottom:0;width:150px;border-bottom:0;}
#uss-dyn-modal-tou-content{padding:18px 10px;}
#uss-dyn-modal-tou-content p{margin-bottom:18px;font-weight:400;font-size:13px;line-height:18px;}
#uss-dyn-modal-tou-content ol{margin-left:20px;list-style-position:outside;list-style-type:decimal;list-style-image:none;}
#uss-dyn-modal-tou-content ol li ul{margin-top:-18px;}
#uss-dyn-modal-tou-content ol li ul li{list-style-position:outside;list-style-type:disc;font-weight:400;}
#uss-dyn-modal-tou-content ol li{margin-left:5px;padding-bottom:18px;font-weight:700;font-size:13px;line-height:18px;}
#uss-dyn-modal-email-news-content p{padding:15px 18px;}
ul.uss-prod-detail-list,.uss-prod-desc-float ul{font-weight:700;margin:2px 0 6px 3px;padding:0;}
ul.uss-prod-detail-list li,.uss-prod-desc-float ul li{background:url(../images/green_check_mark_11x12.gif) no-repeat 0 3px;font-size:10px;padding:2px 0 2px 17px;}
ul li.uss-prod-desc-sub-head{color:#6b900d;}
h4.uss-prod-desc-sub-head{clear:left;color:#6b900d;font-size:11px;padding:0 0 2px;}
h5.uss-prod-desc-sub-head{clear:left;background:url(../images/green_check_mark_11x12.gif) no-repeat 0 9px;color:#6b900d;font-size:11px;_zoom:1;padding:8px 0 2px 17px;}
.uss-prod-desc-float ul{float:left;width:46%;}
.uss-blank-star-burst{display:block;float:left;width:55px;height:43px;background:url(../images/icon_adaptive_blank_orange_55x55.jpg) no-repeat center center;color:#FFF;vertical-align:middle;text-align:center;font:bold 14px/16px "Arial Black",Arial,sans-serif;margin:0;padding:12px 0 0;}
.uss-prod-address-history a,a.uss-grey-link{color:#999;}
div.uss-prod-address-history{position:relative;top:-6px;clear:left;padding-bottom:10px;}
.ie7 div.uss-prod-address-history{top:0;}
span.uss-phone-headline{display:block;margin-top:-5px;padding-bottom:5px;color:#336;text-align:center;font-weight:700;font-size:14px;}
.uss-li-soc-net span{display:inline-block;width:100%;background:url(../images/social_net_icons_133x16.gif) no-repeat scroll right center;padding:0;}
ul.uss-ul-dtl-contnr{margin-top:-5px;width:294px;}
.uss-dyn-drop-down{position:absolute;border:1px solid #000;background:#FFF;}
.uss-dyn-drop-down li{text-align:left;text-transform:capitalize;font-size:12px;cursor:default;padding:2px;}
.uss-dyn-drop-down li.selected{background:#999;color:#FFF;}
.uss-dyn-alrt-box{border:2px solid #666;background:#FFF;padding:10px;}
.uss-dyn-alrt-box-msg{color:red;text-align:center;padding:5px;}
.uss-dyn-inline-label{color:#AAA;font-size:13px;}
.uss-dyn-inline-focus{color:transparent;font-size:13px;}
.uss-dyn-inline-type{color:#333;font-size:13px;}
.uss-star-burst-off{background:url(../images/star_burst_off_56x56.gif) no-repeat center center;}
.uss-org{color:#F60;}
.uss-text-capitalize{text-transform:capitalize;}
.uss-text-uppercase{text-transform:uppercase;}
input:required,select:required{box-shadow:none;}
.uss-dyn-input-error,input.uss-dyn-input-error,select.uss-dyn-input-error{border:2px solid red;}
.uss-gplus-btn-sm{position:absolute;top:30px;right:0;width:32px;height:20px;}
.uss-lrn-mod-pop-cntr .uss-learn-more{color:#666;font-size:11px;font-family:Arial,Helvetica,sans-serif;line-height:15px;padding:10px;}
.uss-need-help-callout{display:block;width:420px;height:53px;background:url(../images/bg_need_help_callout_420x53.gif) no-repeat;margin:2px 0 0 75px;}
.uss-dyn-no-show{display:none;}
#uss-wrapper.signed-in{min-height:0;}
#uss-header{position:relative;z-index:2000;margin-right:auto;margin-bottom:20px;margin-left:auto;width:970px;min-height:70px;background:url(../images/bg_nav_gradient_blue_500x70.jpg) no-repeat top right;}
#toprightfold {
  position: absolute;
  right: -26px;
  top: 0px;
  background: transparent url(../images/toprightfold.png) no-repeat right top;
  width: 196px;
  height: 172px;
}
.uss-nav-header{min-height:70px;}
.uss-mbr-cntr{background:url(../images/bg_grd_blue_wht_1x1200.png) repeat-x;background-attachment:fixed;}
.uss-mbr-cntr #uss-wrapper{min-height:0;background-color:transparent;background-image:url(../images/bg_mc_wrppr_1029x1.png);}
.uss-mbr-cntr #uss-header{margin-bottom:0;padding-bottom:20px;background:url(../images/bg_nav_gradient_blue_500x70.jpg) no-repeat top right;}
.uss-no-nav-header{width:970px;height:70px;color:#36f;font-size:12px;font-family:Arial,Helvetica,sans-serif;}
.uss-no-nav-header span a:visited,.uss-no-nav-header span a:active,.uss-no-nav-header span a:hover{color:#36f;font-weight:700;}
.uss-spn-pipe{color:#CCC;font-style:normal;padding:0 2px;}
.uss-customer-service-phone-banner{float:right;color:#555;font:bold 12px Arial,Helvetica,sans-serif;padding:23px 15px 0 0;}
.uss-customer-service-phone-banner b{font-weight:700;}
.uss-customer-service-phone-banner span{float:none;color:#333;font-weight:400;font-size:11px;}
#uss-navigation{clear:both;position:relative;top:7px;left:0;z-index:0;overflow:hidden;width:970px;height:36px;margin-bottom:47px;background:url(../images/bkg_navbar_1x36.png) repeat-x bottom;text-align:center;font-size:12px;font-family:Arial,Helvetica,sans-serif;}
#uss-navigation a img{float:left;margin:4px 0 0;padding:0;}
#uss-navigation ul{position:relative;font-size:12px;margin:0 0 0 17px;padding:0;}
#uss-navigation li{position:relative;float:left;height:36px;font-size:12px;}
#uss-navigation li span a{display:block;height:36px;line-height:36px;}
#uss-navigation li span a:link{border-left:1px solid #ccc;color:#000;text-align:center;text-decoration:none;font-size:12px;}
#uss-navigation li span a:visited{border-left:1px solid #ccc;color:#000;text-decoration:none;}
#uss-navigation li#uss-people-search a{border-left:0;}
#uss-navigation li#uss-people-search{width:114px;}
#uss-navigation li#uss-reverse-phone{width:162px;}
#uss-navigation li#uss-email-search{width:107px;}
#uss-navigation li#uss-social-network{width:157px;}
#uss-navigation li#uss-property-records{width:128px;}
#uss-navigation li#uss-criminal-records{width:130px;}
#uss-navigation li#uss-background-check{width:138px;}
.uss-nav-crnr-lft{position:absolute;top:0;left:0;width:10px;height:36px;background:url(../images/bg_nav_corners_20x36.png) no-repeat top left;}
.uss-nav-crnr-rt{position:absolute;top:0;right:0;width:10px;height:36px;background:url(../images/bg_nav_corners_20x36.png) no-repeat top right;}
.uss-nav-logo{float:left;}
.uss-nav-powered-by{float:left;margin:25px 0 0 10px;}
.uss-nav-coupon{position:relative;float:left;width:296px;height:70px;}
.uss-nav-coupon img{position:absolute;top:22px;right:0;}
#upgradetoday {
  background: transparent url(../images/upgradetoday.png) no-repeat 490px top;
  width: 100%;
  height: 68px;
}
#springspecial {
  background: transparent url(../images/springspecial.png) no-repeat 590px top;
  width: 100%;
  height: 68px;
}
ul.uss-people-active li#uss-people-search,ul.uss-phone-active li#uss-reverse-phone,ul.uss-email-active li#uss-email-search,ul.uss-social-active li#uss-social-network,ul.uss-property-active li#uss-property-records,ul.uss-criminal-active li#uss-criminal-records,ul.uss-background-active li#uss-background-check{background-color:#7b7b7b;}
ul.uss-people-active li#uss-people-search span a:link,ul.uss-people-active li#uss-people-search span a:visited,ul.uss-people-active li#uss-people-search span a:active,ul.uss-phone-active li#uss-reverse-phone span a:link,ul.uss-phone-active li#uss-reverse-phone span a:visited,ul.uss-phone-active li#uss-reverse-phone span a:active,ul.uss-email-active li#uss-email-search span a:link,ul.uss-email-active li#uss-email-search span a:visited,ul.uss-email-active li#uss-email-search span a:active,ul.uss-social-active li#uss-social-network span a:link,ul.uss-social-active li#uss-social-network span a:visited,ul.uss-social-active li#uss-social-network span a:active,ul.uss-property-active li#uss-property-records span a:link,ul.uss-property-active li#uss-property-records span a:visited,ul.uss-property-active li#uss-property-records span a:active,ul.uss-criminal-active li#uss-criminal-records span a:link,ul.uss-criminal-active li#uss-criminal-records span a:visited,ul.uss-criminal-active li#uss-criminal-records span a:active,ul.uss-background-active li#uss-background-check span a:link,ul.uss-background-active li#uss-background-check span a:visited,ul.uss-background-active li#uss-background-check span a:active{border-left-color:#7b7b7b;background:#7b7b7b url(../images/bg_nav_selected_arw_7x4.gif) bottom center no-repeat;color:#fff;}
ul.uss-people-active li#uss-people-search span a:hover,ul.uss-phone-active li#uss-reverse-phone span a:hover,ul.uss-email-active li#uss-email-search span a:hover,ul.uss-social-active li#uss-social-network span a:hover,ul.uss-property-active li#uss-property-records span a:hover,ul.uss-criminal-active li#uss-criminal-records span a:hover,ul.uss-background-active li#uss-background-check span a:hover{color:#FFF;text-decoration:underline;}
.uss-member-nav-present{margin:0;padding:0 0 43px;}
.uss-no-nav-header .uss-logo,.uss-member-nav-present .uss-logo{margin-top:10px;padding-top:0;}
.uss-loged-in{float:right;color:#999;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:24px;padding:18px 0 0;}
.uss-ul-mc-nav{float:left;padding:0;}
.uss-li-mc-nav{position:relative;float:left;padding-left:5px;height:48px;background:url(../images/bg_mc_vert_dvdr_blu_wht_1x48.gif) no-repeat left;text-align:center;}
.uss-spn-nav-lbl{position:relative;top:-4px;display:block;height:18px;color:#000;font-size:10px;margin:0 0 3px;padding:0 5px;}
.uss-srv-icn{display:inline-block;float:left;width:35px;height:25px;background:url(../images/ico_mc_nav_sprite_24.png) no-repeat 0 0;padding:0 16px;}
.uss-home-icn{background-position:center -151px;}
.uss-rpt-icn{background-position:center -31px;}
.uss-omini-icn{background-position:center -180px;}
.uss-cont-drop-dwn{position:relative;z-index:1000;float:left;}
.uss-wrpr-dd{position:absolute;top:-7px;left:0;z-index:900;width:100%;}
.uss-acct-usr-info{float:left;padding-left:8px;}
.uss-dd-img{background-image:url(../images/sp-mc-dd-top.png);}
.uss-dd-top-right{display:block;height:18px;background-position:right -27px;background-repeat:no-repeat;}
.uss-dd-top-left{display:block;margin-right:20px;background-position:-1px -7px;background-repeat:no-repeat;}
.uss-dd-bttm-img{background-image:url(../images/sp-mc-dd-bttm.png);}
.uss-dd-bttm-right{display:block;background-position:right -28px;background-repeat:no-repeat;}
.uss-dd-bttm-left{display:block;margin-right:19px;background-position:-1px 0;background-repeat:no-repeat;}
.uss-dd-cl{background:url(../images/bg_mc_dd_lft_top_7x20.png) repeat-y top left;}
.uss-dd-cr{background:url(../images/bg_mc_dd_rght_top_7x20.png) repeat-y top right;}
.uss-ul-drpdown{background-color:#fff;margin:0 7px;padding:36px 0 0;}
.uss-li-drpdwn{background:#fff url(../images/icn_mc_dd_arrw_8x7.gif) no-repeat 12px 9px;font-size:12px;padding:0 27px;}
.uss-li-home{border-top:1px dotted #ccc;background-position:2px 13px;margin:8px 10px 0;padding:5px 0 0 18px;}
.uss-li-sign-out{border-top:1px dotted #ccc;background-image:none;margin:8px 10px 0;padding:5px 0 0 18px;}
.uss-a-dd-acct{color:#333;text-decoration:none;font-size:13px;}
.uss-cont-drp-dwn-lnk{position:relative;z-index:1000;display:block;height:48px;background:url(../images/bg_mc_vert_dvdr_blu_wht_1x48.gif) no-repeat 5px 0;color:#000;text-decoration:none;font-size:12px;padding:0 17px 0 10px;}
.uss-spn-accnt-lnk{position:relative;top:-5px;padding-right:14px;background:url(../images/ico_arrw_blk_7x4.gif) no-repeat 100px center;color:#000;font-weight:700;font-size:14px;}
.uss-lnk-mc-nav{display:block;height:48px;color:#000;text-decoration:none;font-size:10px;padding:0 14px;}
.uss-hdr-nav-cntr{clear:both;overflow:hidden;padding-bottom:1px;background:url(../images/hd_nav_970x37.gif) no-repeat scroll bottom left transparent;}
.uss-nav-tab{display:block;float:left;padding-right:5px;background:url(../images/sp_nav.gif) no-repeat left -94px;}
.uss-nav-tab .uss-inner{display:block;height:36px;white-space:nowrap;line-height:36px;padding:6px 1px 0 9px;}
.uss-nav-tab a{color:#333;text-decoration:none;}
.uss-home{padding-right:15px;padding-left:5px;background-image:none;}
.uss-home img{position:relative;top:3px;display:block;}
.uss-actv{background:url(../images/sp_nav.gif) no-repeat right -53px;color:blue;}
.uss-actv .uss-inner{background:url(../images/sp_nav.gif) no-repeat left 0;}
.uss-actv a,.uss-actv a:hover{color:#FFF;}
.uss-usr-nav{float:right;background-color:#999;}
.uss-usr-nav li{float:left;color:#FFF;font-size:.6875em;padding:3px 5px;}
.uss-usr-nav li a{color:#FFF;text-decoration:none;}
.uss-mc-bc{color:#999;font-size:11px;}
.uss-mc-bc-a{color:#999;text-decoration:none;font-size:11px;}
.uss-heading-one{color:#333;font-weight:700;font-size:24px;line-height:41px;}
.uss-srch-logo{background:url(../images/ico_omni_logo_41x44.png) no-repeat 0 0;padding:0 0 5px 48px;}
.uss-mdl-cancel{float:left;padding-top:8px;padding-left:20px;color:#36f;text-decoration:none;font-size:12px;}
.uss-hd-wrpr{margin-bottom:2px;padding-top:1px;background:url(../images/bg_omni_hd_brdr_top_970x1.gif) no-repeat 0 0;}
.uss-hd-cntnr{padding-top:4px;background:url(../images/bg_omni_hd_1x30.gif) repeat-x 0 0;}
.uss-omni-mini-logo{float:left;background:url(../images/ico_mini_omni_13x13.png) no-repeat 0 center;text-decoration:none;padding:1px 8px;}
.uss-pg-hg-stnd{color:#336;text-indent:10px;font-size:1.5em;margin-bottom:10px;}
.uss-hd-bar-grn{margin-bottom:7px;}
.uss-hd-bar-grn .uss-bar-lft{background-image:url(../images/tabs/green_bar_cap_left_6x31.gif);float:left;width:6px;height:31px;}
.uss-hd-bar-grn .uss-bar-rgt{background-image:url(../images/tabs/green_bar_cap_right_6x31.gif);float:right;width:6px;height:31px;}
.uss-hd-bar-grn .uss-bar-cnt{background-color:#9C0;color:#fff;line-height:31px;vertical-align:middle;text-indent:7px;font-weight:700;font-size:1.15em;}
.uss-hd-bar-grn .uss-crit{color:#336;text-transform:capitalize;}
.uss-arrw-grn-dwn-brdr-blu{background:url(../images/arrow_down_blue_green_20x11.gif) no-repeat;display:inline-block;width:20px;}
.uss-ico-lck-gld{background:url(../images/gold_lime_lock_24x26.gif) no-repeat;display:inline-block;width:24px;height:26px;vertical-align:middle;margin:0 3px;}
.uss-ico-arrw-org-dwn{background:url(../images/sp_icn_tsr_24.png) no-repeat -49px 0;display:inline-block;width:22px;height:33px;vertical-align:middle;}
.uss-lrg-chk{background:url(../images/sp_ico_rprts_24.png) no-repeat -316px 0;display:inline-block;width:26px;height:25px;}
.uss-mod-sum{background:#eef1e4;border:1px solid #999;margin-left:15px;padding:10px;}
.uss-mod-sum .uss-sum-hd{color:#666;font-size:.93em;padding-bottom:10px;}
.uss-mod-sum .uss-desc-txt,.uss-mod-sum .uss-prc-txt{font-size:1em;padding-bottom:10px;}
.uss-mod-sum .uss-prc-txt{font-weight:700;text-align:right;color:#000;}
.uss-mod-sum .uss-sum-ttl{border-top:1px solid #CCC;padding-top:10px;color:#666;}
.uss-sum-ttl .uss-prc-txt{font-size:.75em;padding:0;}
.uss-sum-ttl .uss-desc-txt{font-size:13px;text-align:right;font-weight:700;padding:0;}
button{position:relative;border:0;cursor:pointer;background-color:transparent;font-family:Arial,Helvetica,sans-serif;overflow:visible;margin:0;padding:0;}
button .uss-btn-inner{position:relative;display:block;white-space:nowrap;}
.uss-btns,.uss-btn-inner{background-image:url(../images/btn_sprite_24.png);background-repeat:no-repeat;}
a.uss-btns{text-decoration:none;display:inline-block;position:relative;cursor:pointer;}
a.uss-btns .uss-btn-inner{position:relative;display:block;white-space:nowrap;cursor:pointer;}
.uss-btn-org{background-position:right -112px;height:33px;padding:0 8px 0 0;}
.uss-btn-org .uss-btn-inner{height:33px;line-height:33px;font-size:17px;font-weight:700;color:#FFF;background-position:left -74px;padding:0 18px 0 26px;}
.uss-btn-org-h29{background-position:right -244px;height:29px;padding:0 8px 0 0;}
.uss-btn-org-h29 .uss-btn-inner{line-height:29px;height:29px;font-size:17px;font-weight:700;color:#FFF;background-position:left -208px;padding:0 18px 0 26px;}
.uss-btn-gry-sml{background-position:right -175px;padding:0 8px 0 0;}
.uss-btn-gry-sml .uss-btn-inner{height:22px;line-height:22px;font-size:12px;color:#999;background-position:left -148px;padding:0 8px 0 16px;}
.uss-btn-grn{background-position:right -320px;height:33px;padding:0 8px 0 0;}
.uss-btn-grn .uss-btn-inner{height:33px;line-height:33px;font-size:17px;font-weight:700;color:#FFF;background-position:left -280px;padding:0 18px 0 26px;}
.uss-btn-blu{background-position:right -364px;height:23px;padding:0 8px 0 0;}
.uss-btn-blu .uss-btn-inner{font:bold 11px Tahoma,Geneva,sans-serif;height:23px;line-height:22px;color:#FFF;background-position:left -313px;padding:0 6px 0 10px;}
.uss-mc-btn-dflt,.uss-mc-btn-dflt-lg,.uss-mc-btn-em,.uss-mc-btn-inner{background:url(../images/btn_mc_sprite_24.png) no-repeat;display:block;text-decoration:none;cursor:pointer;}
.uss-mc-btn-dflt{background-position:right -39px;display:block;height:29px;color:#333;font-weight:700;font-size:12px;float:left;text-shadow:-1px -1px 1px #fff,1px -1px 1px #fff,-1px 1px 1px #fff,1px 1px 1px #fff;padding:0 15px 0 0;}
.uss-mc-btn-dflt .uss-mc-btn-inner{background-position:0 0;height:29px;line-height:29px;padding:0 0 0 15px;}
.uss-mc-btn-dflt:hover{background-position:right -117px;}
.uss-mc-btn-dflt:hover .uss-mc-btn-inner{background-position:0 -78px;}
.uss-mc-mod-frm button{border:0;font-family:Arial,Helvetica,sans-serif;cursor:pointer;overflow:visible;}
.uss-mc-btn-inactive,.uss-mc-btn-inactive:hover{background-position:right -39px;font-weight:400;text-decoration:none;color:#7e7e7e;}
.uss-mc-btn-inactive:hover .uss-mc-btn-inner{background-position:0 0;}
.uss-mc-btn-em{background-position:right -355px;display:block;height:25px;color:#fff;font-weight:700;font-size:12px;float:left;padding:0 20px 0 0;}
.uss-mc-btn-em .uss-mc-btn-inner{background-position:0 -320px;height:25px;line-height:25px;padding:0 0 0 20px;}
.uss-mc-btn-em:hover{background-position:right -425px;}
.uss-mc-btn-em:hover .uss-mc-btn-inner{background-position:0 -390px;}
.uss-mc-btn-dflt-lg{background-position:right -197px;display:block;height:31px;color:#333;font-weight:700;font-size:13px;float:left;text-shadow:-1px -1px 1px #fff,1px -1px 1px #fff,-1px 1px 1px #fff,1px 1px 1px #fff;padding:0 15px 0 0;}
.uss-mc-btn-dflt-lg .uss-mc-btn-inner{background-position:0 -156px;height:31px;line-height:31px;padding:0 0 0 15px;}
.uss-mc-btn-dflt-lg:hover{background-position:right -279px;}
.uss-mc-btn-dflt-lg:hover .uss-mc-btn-inner{background-position:0 -238px;}
.uss-sns-mod-pop-cntr{width:350px;padding:15px 15px 0;}
.uss-sns-mod-pop-cntr p{line-height:15px;padding-bottom:15px;font-size:.75em;}
.uss-sns-mod-pop-cntr p.uss-lst{padding-bottom:0;}
.uss-tab-grn .uss-tl,.uss-tab-grn .uss-tr,.uss-tab-grn .uss-txt{height:29px;line-height:29px;vertical-align:middle;}
.uss-tab-grn .uss-tl,.uss-tab-grn .uss-tr{width:4px;overflow:hidden;background-image:url(../images/bg_tb_lime_8x29.png);display:block;background-repeat:no-repeat;z-index:10;}
.uss-tab-grn .uss-tl{background-position:top left;float:left;}
.uss-tab-grn .uss-tr{background-position:top right;}
.uss-tab-grn .uss-txt{background-color:#9C0;float:left;font-size:14px;font-weight:700;color:#FFF;text-transform:capitalize;padding:0 7px;}
.uss-frm-grn-org-cntr .uss-inner{border:4px solid #9C0;background:#f8f6e8;overflow:hidden;}
.uss-frm-grn-org-cntr .uss-frm-cntrls{float:left;background:#FFF;padding:32px 14px 32px 7px;}
.uss-frm-grn-org-cntr .uss-mrk-bx{float:left;position:relative;}
.uss-mrk-bx .uss-arrw{background:url(../images/sp_icn_tsr_24.png) no-repeat;background-position:-164px -8px;width:7px;height:17px;display:block;position:absolute;top:37px;left:-7px;}
.uss-mrk-bx .uss-bd{font-size:.9166em;color:#999;padding:10px 7px 10px 10px;}
.uss-sub-ttl{border-top:1px solid #ccc;padding-top:5px;}
.uss-sub-ttl .uss-desc-txt{font-size:13px;font-weight:700;text-align:right;padding:0 0 28px;}
.uss-sub-ttl .uss-prc-txt{font-size:12px;}
.uss-sub-prod{color:#999;display:block;font-size:11px;line-height:14px;padding-top:2px;}
.uss-mod-sum .uss-sum-grp,.uss-sub-ttl-grp{color:#666;font-size:.75em;}
button::-moz-focus-inner,.uss-mc-mod-frm button::-moz-focus-inner{border:0;padding:0;}
ins{text-decoration:none;}
.cf:after,.uss-state-info{clear:both;}
.ie8 th,.uss-js-dyn-remote-content,.uss-dyn-pop-box-content{text-align:left;}
.uss-clearfix,.uss-spn-block,.uss-spn-blck{display:block;}
.uss-pop-box span,.uss-dyn-pop-box h2.uss-title span,.uss-dyn-pop-box-ttl-txt{display:block;float:left;}
.uss-dyn-pop-box h2.uss-title span img,.uss-dyn-pop-box-ttl-img{margin-top:5px;}
.uss-state-list li a:hover,.uss-actv a:hover{text-decoration:underline;}
.uss-lnk,.uss-b-usr-name{color:#36f;}
.uss-js-mdl-lnk {
  text-decoration: none;
}
.uss-js-mdl-lnk:hover {
  text-decoration: none;
}
.uss-no-wrap,.uss-mc-mod-frm button .uss-mc-btn-inner{white-space:nowrap;}
ul.uss-ul-dtl-contnr li.uss-li-soc-net,.uss-mc-hd{line-height:20px;}
#uss-content, #footer{width:970px;margin:0 auto;}
.uss-no-nav-header span a:link{color:#36f;text-decoration:none;font-weight:700;}
#uss-navigation li span a:hover,#uss-navigation li span a:active{border-left:1px solid #ccc;color:#36f;text-decoration:none;}

.uss-member-nav-present{padding-bottom:30px;}
.uss-no-nav-header{padding:0;}
.uss-cobrand-no-nav{padding-bottom:0;}
.uss-cont-wrpr{color:#336;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
.uss-hd-main{
  font-size:28px;
  text-align:center;
  margin:20px 0 10px 0;
}
.searchedaddress {
  color: #3ba3c0;
  font-size:28px;
  text-align:center;
  margin:10px 0 18px 0;
}
#logo {
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 #000000;
  color: #1872AC;
  font-size: 25px;
  font-weight: bold;
  height: 64px;
  line-height: 64px;
  padding: 0 0 0 0px;
  width: 451px;
  display: block;
}
.uss-hd-main-custom{font-size:26px;text-align:center;margin:0 0 10px;}
.uss-hd-main-custom img{margin-bottom:-3px;margin-left:10px;}
.uss-product-wrapper{background:#e0e0e0 url(../images/bg_grd_vrt_wht_gry_1x182.gif) repeat-x 0 top;margin:3px 0 16px;}
.uss-product-wrapper-bttm{background:url(../images/bg_grd_vrt_wht_gry_1x84.gif) repeat-x 0 bottom;clear:both;}
.uss-product-containers{background:url(../images/bg_shdw_bttm.png) no-repeat center bottom;float:left;padding-bottom:9px;position:relative;width:313px;margin:0 15px 0 0;}
.uss-cont-prod-content{
  background-color:#fff;
  border:2px solid #ccc;
  padding:14px 0;
  width:309px;
  border-width:0 2px 2px;
  margin:0 auto;
  height: 444px;
  position: relative;
}
.uss-prod-details{padding-left:6px;}
.uss-prod-details p{font-size:11px;padding-bottom:6px;padding-right:10px;}
.uss-hd-prod-wrpr{background-color:#9c0;border-bottom:1px solid #ccc;}
.uss-hd-prod{
  border:1px solid #ccc;
  color:#fff;
  font-size:18px;
  font-weight:700;
  text-align:center;
  border-width:1px 0 0;
  padding:0;
  position: relative;
}
#bestval {
  background: transparent url(../images/bestval.png) no-repeat left top;
  position: absolute;
  top: -26px;
  left: -17px;
  width: 75px;
  height: 76px;
}
#mostpopular {
  background: transparent url(../images/mostpopular.png) no-repeat left top;
  position: absolute;
  top: -26px;
  left: -17px;
  width: 77px;
  height: 78px;
}
.uss-spn-pname{
  display:block;
  background-color:#9c0;
  padding:8px 0 5px;
}
.uss-spn-sname{
  background-color:#9c0;
  display:block;
  padding-bottom:8px;
}
#thirdheader {
  padding: 0 0 0 24px;
}
.uss-prod-address-history ul li{background-image:none;font-size:11px;font-weight:700;list-style:none;padding:1px 0 0 22px;}
.uss-address-hover-over{text-align:left;background-color:#fff;border:1px solid #666;padding:5px;}
.uss-address-hover-over ul{font-size:11px;border:1px solid #666;width:146px;background:#fff;border-width:0 1px;margin:0;padding:0 6px;}
.uss-address-hover-over li{list-style:none;margin:0;padding:0 0 2px;}
.uss-prod-address-history ul{font-size:11px;margin-bottom:2px;}
.uss-prod-address-history a{font-size:11px;margin:0 0 0 22px;}
.uss-price-options-links{
  background-color: #edeeee;
  bottom:78px;
  padding:7px;
  position:absolute;
  left: 15px;
  width:264px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  color: #2d2d2d;
  height: 140px;
}
.purchased {
  background: transparent url(../images/purchased.png) no-repeat left top;
  position: absolute;
  left: 0;
  top: -16px;
  width: 279px;
  height: 192px;
}
.uss-p-offer-hd span{color:#2d2d2d;}
.uss-price-txt{display: inline-block;}
.uss-price-hd{display:block;padding-left:20px;margin-bottom:1px;}
.uss-price-amount{
  font-size:16px;
  line-height: 18px;
  font-weight:700;
  vertical-align: bottom;
}
.uss-price-amount2{
  font-size:16px;
  font-weight:700;
  float: left;
}
.uss-price-amount3{
  font-size:16px;
  font-weight:700;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.uss-price-amount4{
  font-size:16px;
  font-weight:700;
  position: absolute;
  left: 0px;
  bottom: 8px;
}
.uss-blank-star-burst{background:url(../images/ico_str_brs_56x56.png) no-repeat 0 0;margin-right:20px;float:left;}
.uss-sns-price{margin-right:0px;}
.uss-reg-price{display:inline-block;margin:10px 0 65px;}
.uss-cont-selling{float:left;}
.uss-cont-slash{float:left;width:68px;}
.uss-slash-price{background:url(../images/scissors_17x16.gif) no-repeat right center;font-size:14px;font-weight:400;padding-right:18px;}
.uss-discount{padding-left:0;margin-bottom:3px;}
.uss-promo-amount{color:#fb0102;}
.uss-view-sample-modal{color:#999;font-size:12px;text-decoration:underline;margin-left:10px;}
.L3ResultContainer2{font-size:11px;margin-left:20px;}
li.uss-avail-link{background-image:none;font-weight:400;}
.uss-leaderboard-ad{text-align:center;}
.uss-hd-progress span{background:url(../images/green_bar_cap_right_6x30.gif) no-repeat right 0;display:block;}
ul.uss-prod-detail-list li,.uss-prod-desc-float ul li{background:url(../images/check_mark_green_17x15.gif) no-repeat scroll 0 3px;padding:4px 0 4px 20px;}
.uss-lrn-lnk{font-size:11px;color:#666;text-decoration:underline;margin-left:5px;font-weight:400;}
.uss-lto-sp{color:#3ba3c0;font-size:11px;text-decoration:none;font-weight:700;}
.uss-lto-sp:hover{text-decoration:underline;}
.uss-sp-price-cntnr{display:inline-block;}
.uss-lto-cntnr{height:13px;clear:both;}
.uss-desc-mdl-dialog{color:#333;line-height:18px;padding:10px;}
.uss-hd-main span,.uss-hd-main-custom span{color:#36f;}
.uss-product-wrapper .uss-last,.uss-last{margin-right:0;}
.numAddress,.howMany,.cityState{color:#336;font-weight:400;}

.uss-product-wrapper .uss-last{margin-right:1px;}
.uss-reg-price{margin-left:0;}
.uss-price-hd{padding-left:0;}
.uss-cont-slash{margin-right:8px;}
.uss-org-btn,
.uss-org-btn1,
.uss-org-btn2 {
  padding-top:33px;
  display:inline-block;
  vertical-align: bottom;
  height: 0px;
  width: 132px;
  background: transparent url(../images/addtocart.png) no-repeat left top;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: transparent;
}
.uss-org-btn1 {
  background: transparent url(../images/addtocart.png) no-repeat left -34px;
}
.uss-org-btn2 {
  background: transparent url(../images/addtocart.png) no-repeat left -68px;
  display: block !important;
  float: right;
  position: relative;
  bottom: 24px;
}
.btn-info {
  text-align: right;
  color: #9e9d9d;
  font-size: 10px;
  position: relative;
  bottom: 21px;
  padding: 0 4px 0 0;
}
.uss-cont-selling{margin-right:25px;}
.uss-discount{margin-bottom:1px;}
.uss-price-details{
  text-align: right;
  position: relative;
}
.uss-price-details2{
  display: block;
  position: relative;
  
}
.two-products{width:642px;margin:auto;}
.one-product{width:315px;margin-left:35%;}

.star-gray {
  background: transparent url(../images/badge.png) no-repeat left top;
  width: 35px;
  height: 44px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 0 0 19px;
  display: inline-block;
  margin: 0 10px;
  text-align: left;
}
.star-light,
.star-empty {
  background: transparent url(../images/badgelight.png) no-repeat left top;
  width: 35px;
  height: 44px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 0 0 19px;
  display: inline-block;
  margin: 0 10px;
}
.star-empty {
  background-image: none !important;
}
.uss-p-offer-hd {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 11px 0;
}
.price-details-gray {
  color: #9e9d9d;
  font-size: 11px;
  margin: 9px 0 0 0;
  line-height: 14px;
}
.uss-price-options-bot{
  background-color: transparent;
  bottom:4px;
  padding:10px;
  position:absolute;
  left: 15px;
  width:259px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  color: #2d2d2d;
  height: 56px;
}
.clear {
  clear: both;
}
#footer {
  text-align: center;
  padding: 0 0 24px 0;
}
#footer a {
  color: #929292;
  font-size: 13px;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
