<form class="search-form-seaction" id="landing_form" action="" method="post" enctype="{{ form_enctype(searchForm) }}">
    <input type="hidden" name="Address_Search" value="Address_Search" />	
    <h1 style="font-size:28px;">Search Official Property Records!</h1>
    <div class="input_box">
        <div class="input_box1">Address<br/>
         {{ form_widget(searchForm.street) }}
        </div>
        <div class="input_box3">City<br/>
         {{ form_widget(searchForm.city) }}
        </div>
    </div>
    <div class="input_box">
        <div class="input_box4">Select State<br/>
          {{ form_widget(searchForm.state) }}
        </div>
        <div class="input_box4">Zip<br/>
         {{ form_widget(searchForm.zip) }}
        </div>
        <div class="go-btn">
            <input type="submit" title="Go!" value="">
        </div>
    </div>
    <div class="clearfix"></div>
    {{ form_rest(searchForm) }}
</form>
<br/>
{% if error is defined %}
<div class="view-error-message">
    <p>{{ error }}</p>
</div>
{% endif %}
{% include 'form_errors.html.twig' with{'form': searchForm} %}