<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Homereports.org</title>
        <link href="web/split/css/style.css" rel="stylesheet" type="text/css">
        <link href="web/css/colorbox.css" type="text/css" rel="stylesheet" />
        {% include 'vwo.html.twig'%}
        <script type="text/javascript" src="web/js/jquery.min.js"></script>
        <script type="text/javascript" src="web/js/jquery.colorbox-min.js"></script>
    </head>
    <body>

        <div id="logo"><img title="Homereports.org" alt="Homereports.org" src="web/split/images/logo.png"></div>
        <div id="mid_sec">
            <div class="wrapper">
                <div class="white_box2">
                    <h1>Confirm your search</h1>
                    <h4>You are searching for official property records.</h4>
                    <h2>Confirm the address you are searching:<br>
                        <span>{{ app.session.get('searchData')['street'] }} {{ app.session.get('searchData')['city'] }}, {{ app.session.get('searchData')['state'] }}</span></h2>
                    <h3>When available your search may contain:</h3>
                    <div class="best-report-txt">
                        <p>Providing the Best Property Records to You. Property Records will include:</p>
                        <div class="best-report-txt-1">
                            <ul>
                                <li>Home Value</li>
                                <li>History of the Home</li>
                                <li>Details of the Property</li>
                            </ul>
                        </div>
                        <div class="best-report-txt-1">
                            <ul>
                                <li>Previous Sales Information</li>
                                <li>Construction Dates</li>
                                <li>Neighborhood Rating</li>
                            </ul>
                        </div>
                        <div class="best-report-txt-2" style="width:200px;">
                            <ul>
                                <li>Lot Size</li>
                                <li>Foreclosures in the Area</li>
                            </ul>
                        </div>
                    </div>
                    <div class="continue">
                        <form method="post" action="{{ path(options.nextUrl) }}">
                            <input src="web/split/images/continue_btn.png" type="image" align="right">
                        </form>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="content_sec">
            <div class="wrapper">
                <div class="comparison-section">
                    <div class="chart-section">
                        <h3>Providing the Best Property Records to You</h3>
                        <h4>HOMEREPORTS <span>vs</span> COMPETITORS</h4>
                    </div>
                    <div class="chart-txt">
                        <p>Home and Property Value<br />
                            History of the Home<br />
                            Details of the Property<br />
                            Lot Size<br />
                            Previous Sales Information<br />
                            Construction Dates<br />
                            Property Taxes<br />
                            Foreclosures in the Area</p>
                    </div>
                    <div class="arrow-img"><img src="web/split/images/arrow-img.png" alt="" title="" /></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="footer_sec">
            <div class="wrapper">
                <div class="footer-section">
                    <div class="footer-menu-section">
                        {% include 'footer_links.html.twig' %}
                    </div>
                    <div class="footer">
                        <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. Homereports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                        {% include 'keywords.html.twig' %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>
