<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Homereports.org</title>
        <link href="web/split/css/style.css" rel="stylesheet" type="text/css">
        <link href="web/css/colorbox.css" type="text/css" rel="stylesheet" />
        {% include 'vwo.html.twig'%}
        <script type="text/javascript" src="web/js/jquery.min.js"></script>
        <script type="text/javascript" src="web/js/jquery.colorbox-min.js"></script>
    </head>
    <body>

        <div id="logo"><img title="Homereports.org" alt="Homereports.org" src="web/split/images/logo.png"></div>
        <div id="mid_sec">
            <div class="wrapper">
                <form method="post" action="">
                <div class="white_box2">
                    <h1>Your Order</h1>
                    <div class="card_box">
                        <div class="left">
                            <h3>You must choose Visa or MasterCard.</h3>
                            <div class="card" style="margin:10px 0 0 100px;">
                                <input name="cardTypeR" value="visacard" checked="checked" type="radio">
                                <img src="web/split/images/visa.jpg" align="right" alt=""></div>
                            <div class="card" style="margin:10px 0 0 0px;">
                                <input name="cardTypeR" value="mastercard" type="radio">
                                <img src="web/split/images/master.jpg" align="right" alt=""></div>
                        </div>
                        <div class="right">Total Cost:<br>
                            <span>$2.95</span></div>
                    </div>
                    <div class="best-report-txt">
                        <p>Report contains, when available:</p>
                        <div class="best-report-txt-1">
                            <ul>
                                <li>Home Value</li>
                                <li>History of the Home</li>
                                <li>Details of the Property</li>
                            </ul>
                        </div>
                        <div class="best-report-txt-1">
                            <ul>
                                <li>Previous Sales Information</li>
                                <li>Construction Dates</li>
                                <li>Neighborhood Rating</li>
                            </ul>
                        </div>
                        <div class="best-report-txt-2">
                            <ul>
                                <li>Lot Size</li>
                                <li>Foreclosures in the Area</li>
                            </ul>
                        </div>
                    </div>
                    <div class="continue">
                        <input class="unbind_unload" src="web/split/images/checkout_btn.png" type="image" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div id="content_sec">
            <div class="wrapper">
                <div class="comparison-section">
                    <div class="chart-section">
                        <h3>Providing the Best Property Records to You</h3>
                        <h4>HOMEREPORTS <span>vs</span> COMPETITORS</h4>
                    </div>
                    <div class="chart-txt">
                        <p>Home and Property Value<br />
                            History of the Home<br />
                            Details of the Property<br />
                            Lot Size<br />
                            Previous Sales Information<br />
                            Construction Dates<br />
                            Property Taxes<br />
                            Foreclosures in the Area</p>
                    </div>
                    <div class="arrow-img"><img src="web/split/images/arrow-img.png" alt="" title="" /></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="footer_sec">
            <div class="wrapper">
                <div class="footer-section">
                    <div class="footer-menu-section">
                        {% include 'footer_links.html.twig' %}
                    </div>
                    <div class="footer">
                        <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. Homereports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                        {% include 'keywords.html.twig' %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>
